// The general style for the modal window
#meet-the-experts{
  padding: 174px 22px;
  .modal-dialog, .modal-content {
    @include bp($bp-medium) {
      width: 673px;
    }
  }

  .modal-body{
    padding: 20px 16px;
    @include rem(font-size, 14px);
    font-weight: normal;
    color: #696969;
    margin: 0px;
    @include bp($bp-small-plus){
      @include rem(font-size, 16px);
      padding: 33px 39px 40px;
    }

  }// end .modal-body
}// end #meet-the-experts

// The general general slide functionality
#meet-the-experts{
  .slide {
    display: none;
  }
  .active {
    display: block;
  }
  .change-slide-buttons {
    position: relative;
    top: 0;
    right: 0;
  }
}

// The general general slide style
#meet-the-experts{
  h2{
    color: #7b3f84;
    @include rem(font-size, 20px);
    @include rem(line-height, 22px);
    font-weight: normal;
    margin-bottom: 32px;
    @include bp($bp-small-plus) {
      @include rem(font-size, 24px);
      @include rem(line-height, 30px);
    }
  }
  img{
    float: left;
    padding: 3px 20px 20px 2px;
    @include bp($bp-small-plus) {
      padding: 3px 38px 0 2px;
    }
  }
  .expert-name{
    margin-bottom: 10px;
  }
  .expert-description{
    font-family: Arial, sans-serif;
    @include rem(font-size, 15px);
    @include rem(line-height, 26px);
    font-weight: normal;
    color: #696969;
  }
}