<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnderstoodDotOrg.Domain.Import" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <UnderstoodDotOrg.Domain.Import>
      <setting name="MasterDatabaseName" serializeAs="String">
        <value>master</value>
      </setting>
      <setting name="WebDatabaseName" serializeAs="String">
        <value>web</value>
      </setting>
      <setting name="ReviewTemplateGUID" serializeAs="String">
        <value>{C9DFC576-7750-4A84-9A79-61F16585E64E}</value>
      </setting>
      <setting name="MetadataTemplateGUID" serializeAs="String">
        <value>{B793F0F5-2857-4379-99B9-EC1D132C887F}</value>
      </setting>
      <setting name="ReviewsContainerGUID" serializeAs="String">
        <value>{03877E4C-8EDD-42CE-B94A-E27621C16745}</value>
      </setting>
      <setting name="ImagesPath" serializeAs="String">
        <value>/sitecore/media library/Images/Poses/Reviews/</value>
      </setting>
      <setting name="CategoriesContainerGUID" serializeAs="String">
        <value>{8DE67A64-0E64-47A5-87FD-5096F3979F55}</value>
      </setting>
      <setting name="GenreContainerGUID" serializeAs="String">
        <value>{97908446-B312-4183-915E-2E43BA5A7693}</value>
      </setting>
      <setting name="PlatformContainerGUID" serializeAs="String">
        <value>{042EBC5C-CCA0-4758-823D-A07213A72434}</value>
      </setting>
      <setting name="SkillsContainerGUID" serializeAs="String">
        <value>{0AC054FE-599B-4B8A-B5A2-BA805260674B}</value>
      </setting>
      <setting name="SubjectsContainerGUID" serializeAs="String">
        <value>{11AAE042-9BFA-43C4-A971-0AF140108921}</value>
      </setting>
      <setting name="TypesContainerGUID" serializeAs="String">
        <value>{88226E2B-BAFE-44E9-8EEE-95525458EA14}</value>
      </setting>
    </UnderstoodDotOrg.Domain.Import>
  </applicationSettings>
  <connectionStrings>
    <!--<add name="Membership" connectionString="metadata=res://*/Membership.MembershipModel.csdl|res://*/Membership.MembershipModel.ssdl|res://*/Membership.MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.209.22.3;initial catalog=Understood.org.DEV.membership;persist security info=True;user id=understood_org;password=dahyeSDf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Membership" connectionString="metadata=res://*/Membership.MembershipModel.csdl|res://*/Membership.MembershipModel.ssdl|res://*/Membership.MembershipModel.msl;provider=System.Data.SqlClient;provider connection string='data source=162.209.22.3;initial catalog=Understood.org.DEV.membership;persist security info=True;user id=understood_org;password=dahyeSDf;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="Membership" connectionString="metadata=res://*/Membership.MembershipModel.csdl|res://*/Membership.MembershipModel.ssdl|res://*/Membership.MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.209.22.3;initial catalog=Understood.org.DEV.membership;persist security info=True;user id=understood_org;password=dahyeSDf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>