/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 13, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
body:before {
  content: '';
  display: block;
  height: 5px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #624a93), color-stop(30%, #625298), color-stop(42%, #595a9d), color-stop(68%, #3c71ad), color-stop(89%, #2088c6), color-stop(100%, #1690d0));
  background-image: -webkit-linear-gradient(left, #624a93 0%, #625298 30%, #595a9d 42%, #3c71ad 68%, #2088c6 89%, #1690d0 100%);
  background-image: -moz-linear-gradient(left, #624a93 0%, #625298 30%, #595a9d 42%, #3c71ad 68%, #2088c6 89%, #1690d0 100%);
  background-image: -o-linear-gradient(left, #624a93 0%, #625298 30%, #595a9d 42%, #3c71ad 68%, #2088c6 89%, #1690d0 100%);
  background-image: linear-gradient(left, #624a93 0%, #625298 30%, #595a9d 42%, #3c71ad 68%, #2088c6 89%, #1690d0 100%);
}

/* line 23, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background: #5161a1;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #624a93), color-stop(50%, #624a93), color-stop(50%, #1690d0), color-stop(100%, #1690d0));
  background-image: -webkit-linear-gradient(left, #624a93 0%, #624a93 50%, #1690d0 50%, #1690d0 100%);
  background-image: -moz-linear-gradient(left, #624a93 0%, #624a93 50%, #1690d0 50%, #1690d0 100%);
  background-image: -o-linear-gradient(left, #624a93 0%, #624a93 50%, #1690d0 50%, #1690d0 100%);
  background-image: linear-gradient(left, #624a93 0%, #624a93 50%, #1690d0 50%, #1690d0 100%);
}

/* line 35, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.container {
  margin: 0 15px;
}
/* line 42, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.container.flush {
  margin: 0;
}

/* line 47, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#wrapper {
  position: relative;
  z-index: 10;
  background: #fff;
  overflow: hidden;
}
/* line 52, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#wrapper.is-offscreen {
  position: fixed;
}
/* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.language-selector-visible #wrapper.is-offscreen {
  top: 100px;
}

/* line 61, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#header-page {
  height: auto;
  position: relative;
  margin: 0 15px;
  padding-top: 20px;
  padding-bottom: 35px;
  *zoom: 1;
}
/* line 38, /Users/justin/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header-page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 68, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#header-page .row {
  padding: 0 5px;
}

/* line 73, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.logo-u-main {
  float: left;
  padding: 20px 0 0;
}
/* line 76, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.logo-u-main a {
  display: block;
  width: 230px;
  height: 73px;
  background-image: url("../../images/convio/logo.u.large.png");
  background-size: contain;
}
/* line 83, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.logo-u-main img {
  width: 90px;
  display: none;
}
/* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize .logo-u-main a {
  background-image: url("../../images/convio/logo.u.large.lo-res.png");
}

/* line 92, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.ncld-logo {
  float: right;
  margin-top: 20px;
}
/* line 95, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.ncld-logo span {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 10px;
  color: #666;
}

/* line 104, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav {
  margin: 0;
  padding: 30px 0 54px;
  display: table;
  list-style: none;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.5px;
  letter-spacing: -0.03125rem;
  line-height: 1;
  width: 100%;
}
/* line 114, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li {
  vertical-align: top;
  display: table-cell;
  border-bottom: none;
  text-align: center;
  border-right: 1px solid #f4f2f1;
}
/* line 122, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li:first-child a {
  padding-left: 0;
  text-align: left;
}
/* line 128, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li:last-child {
  border-right: none;
  border-bottom: none;
}
/* line 131, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li:last-child a {
  padding-right: 0;
  text-align: right;
}
/* line 137, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li a {
  display: block;
  padding: 0 10px;
  color: #696969;
}
/* line 142, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li a:hover {
  color: #426da9;
}
/* line 146, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
#footer-nav li a span {
  display: inline-block;
  line-height: 25px;
  text-align: left;
}

/* line 159, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page {
  font-family: Arial, sans-serif;
  background-color: #f4f2f1;
  color: #696969;
  padding-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 171, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .logo-u-footer {
  display: block;
  width: 25px;
  margin: 0 auto;
}
/* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .footer-social {
  padding: 50px 15px 36px;
}
/* line 181, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .footer-social p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 195, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul li {
  display: block;
  float: left;
  padding: 0 2px;
}
/* line 200, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul li:first-child {
  padding-left: 0;
}
/* line 204, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul li:last-child {
  padding-right: 0;
}
/* line 210, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul.footer-nav-utility {
  margin-bottom: 40px;
  margin-top: 18px;
  text-align: left;
  float: none;
}
/* line 216, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul.footer-nav-utility li {
  display: table-cell;
  border-right: 1px solid #696969;
  padding: 0 13px;
  line-height: 1;
}
/* line 222, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul.footer-nav-utility li:first-child {
  padding-left: 0;
}
/* line 226, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul.footer-nav-utility li:last-child {
  padding-right: 0;
  border-right: none;
}
/* line 231, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page ul.footer-nav-utility li a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 242, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page a {
  color: #696969;
}
/* line 246, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page p {
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 252, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon {
  width: 42px;
  height: 42px;
  display: inline-block;
  background-image: url("../../images/convio/sprite.social.footer.png");
  background-repeat: no-repeat;
  background-size: 193px 93px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 261, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon {
  width: 42px;
  height: 42px;
  background: url("../../images/convio/sprite.social.footer.lo-res.png");
}
/* line 269, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-facebook {
  background-position: 0 0;
}
/* line 272, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-facebook {
  background-position: 0 0;
}
/* line 276, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-facebook:hover {
  background-position: 0 -50px;
}
/* line 279, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-facebook:hover:hover {
  background-position: 0 -50px;
}
/* line 287, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-twitter {
  background-position: -50px 0px;
}
/* line 290, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-twitter {
  background-position: -50px 0;
}
/* line 294, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-twitter:hover {
  background-position: -50px -50px;
}
/* line 297, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-twitter:hover:hover {
  background-position: -50px -50px;
}
/* line 305, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-google {
  background-position: -100px 0;
}
/* line 308, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-google {
  background-position: -100px 0;
}
/* line 312, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-google:hover {
  background-position: -100px -50px;
}
/* line 315, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-google:hover:hover {
  background-position: -100px -50px;
}
/* line 323, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-pinterest {
  background-position: -150px 0;
}
/* line 326, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-pinterest {
  background-position: -150px 0;
}
/* line 330, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
footer#footer-page .icon-pinterest:hover {
  background-position: -150px -50px;
}
/* line 333, /Users/justin/projects.dp/poses/source/Presentation/includes/css/convio/layout.scss */
.no-backgroundsize footer#footer-page .icon-pinterest:hover:hover {
  background-position: -150px -50px;
}
