<!--

Purpose: This include file shows how to change elements in the <settings> section
of the web.config file

To enable this, rename this file so that it has a ".config" extension

Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity:
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  REQUIRE LOCK BEFORE EDITING
            If true, the user must have a lock on a document before
            he can edit it, otherwise it is always ready for editing
      
      <setting name="RequireLockBeforeEditing" value="false"/>
      -->
      <!--
	  http://sitecoreblog.alexshyba.com/2011/11/hidden-gem-of-sitecore-page-editor.html
	  -->
      <setting name="WebEdit.ShowNumberOfLockedItemsOnButton" value="false" />

      <setting name="TelligentConfig" value="http://localhost/telligentevolution/"/>
      <setting name="PersonalizationHandlerAllowedIps" value="127.0.0.1,162.209.22.3,50.241.102.161" />
      <setting name="TelligentEveryoneRoleID" value="1"/>
      <setting name="TelligentRegisteredUserRoleID" value="2"/>
      <setting name="TelligentModeratorRoleID" value="3"/>
      <setting name="TelligentAdministratorRoleID" value="4"/>
      <setting name="TelligentExpertRoleID" value="20"/>
      <setting name="TelligentBloggerRoleID" value="21"/>
      <setting name="TelligentAdminApiKey" value="2ome2soq1ablkmtlc"/>
      <setting name="SearchResultsEndpoint" value="/Handlers/SearchResultsService.asmx/SearchAllArticles"/>
      <setting name="BehaviorSuggestionEndpoint" value="/Handlers/FormSubmissionsService.asmx/SubmitSuggestion"/>
      <setting name="BehaviorSearchResultsEndpoint" value="/Handlers/SearchResultsService.asmx/SearchBehaviorArticles"/>
      <setting name="CincopaApiEndpoint" value="http://www.cincopa.com/media-platform/runtime/json.aspx?fid=" />
      <setting name="TopicArticlesEndpoint" value="/Presentation/AjaxData/TopicLandingArticles.aspx" />
      <setting name="SubtopicArticlesEndpoint" value="/Presentation/AjaxData/SubtopicArticles.aspx" />
      <setting name="EventArchiveEndpoint" value="/Presentation/AjaxData/ArchiveEvents.aspx" />
      <setting name="ExpertListingEndpoint" value="/Presentation/AjaxData/ExpertListing.aspx"/>
      <!--<setting name="FacebookAppId" value="1436734159918751" />-->
      <setting name="GradeLevelOnMultiplier" value="4"/>
      <setting name="GradeLevelOffMultiplier" value="2"/>
      <setting name="GradeLevelTargetMultiplier" value="2"/>
      <setting name="CommentsListEndpoint" value="/Presentation/AjaxData/Comments.aspx"/>
      <setting name="ContentServiceEndpoint" value="/Handlers/ContentService.asmx/" />
      <setting name="BehaviorToolSuggestionEmail" value="testers@echoditto.com" />
      <setting name="GeoIPDatabase" value="GeoLite2-Country.mmdb" />
      <setting name="GeoIPUserId" value="42" />
      <setting name="GeoIPLicenseKey" value="license_key" />
    </settings>
  </sitecore>
</configuration>
