/**
 * Include SASS partials for account modules.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/**
 * SASS partial for advocacy-signup
 */
/* line 5, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article {
  margin-bottom: 44px;
  color: #696969;
  font-size: 0.9375rem;
  font-family: arial, sans-serif;
  line-height: 1.2rem;
}
/* line 12, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header {
  margin-bottom: 53px;
}
/* line 17, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #7a4183;
  margin: 30px 0 15px 0;
}
/* line 24, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header p {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-top: -7px;
  margin-bottom: 15px;
}
/* line 33, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header ul {
  list-style: disc;
  margin: 0 0 30px 30px;
  padding: 0;
}
/* line 38, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header ul li {
  color: #696969;
  font-size: 0.9375rem;
  font-family: arial, sans-serif;
  line-height: 1.2rem;
  position: relative;
  margin-top: 12px;
  padding: 0px;
}
/* line 48, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header ul li:first-child {
  margin-top: 0;
}
/* line 56, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header ol li {
  color: #696969;
  font-size: 1rem;
  font-weight: bold;
  font-family: arial, sans-serif;
}
/* line 62, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header ol li p {
  color: #696969;
  font-size: 0.9375rem;
  font-family: arial, sans-serif;
  line-height: 1.2rem;
  position: relative;
  margin: 12px 0 20px 0px;
  padding: 0px;
}
/* line 75, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header .quote-layout-1 {
  margin-top: 30px;
  padding: 2.5% 5%;
}
/* line 80, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header .share-save-container {
  position: relative;
  left: -36px;
}
/* line 88, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout {
  margin-bottom: 32px;
  margin-bottom: 50px;
}
/* line 93, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout .article-callout-item {
  margin-bottom: 15px;
  margin-bottom: 25px;
}
/* line 98, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout .article-callout-item .article-callout-title {
  color: #7a4183;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: 16px;
}
/* line 113, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-call-to-action {
  margin-bottom: 45px;
}
/* line 117, ../css.source/modules/advocacy/_advocacy-article.scss */
.advocacy-article p {
  color: #696969;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: normal;
}

/**
 * SASS partial for advocacy-pagetopic
 */
/* line 5, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic {
  margin-bottom: 29px;
  min-height: 0px;
  padding: 25px 18px 30px 15px;
  padding: 40px 0 45px;
  margin-bottom: 45px;
}
/* line 14, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic > .row > .col {
  padding-left: 4.16666666667%;
}
/* line 20, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic a.back-to-previous {
  height: 18px;
  margin-bottom: 0px;
  top: -10px;
  position: relative;
  height: 25px;
  top: -15px;
}
/* line 31, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: -3px;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 38px;
  line-height: 2.375rem;
  margin-top: 0px;
}
/* line 42, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .page-subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 10px;
}
/* line 52, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .powered-by {
  color: #666666;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 14px;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding-top: 0;
  padding-right: 10px;
  text-align: center;
}
/* line 66, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .partner-image {
  display: none;
  display: inline-block;
  text-align: left;
}
/* line 72, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .partner-image img {
  padding-top: 10px;
  max-width: 315px;
  width: 100%;
  padding-top: 0;
  max-width: 210px;
}
/* line 82, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .partner-text {
  font-size: 18px;
  font-size: 1.125rem;
  text-decoration: underline;
  display: none;
}
/* line 91, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic > .row > div:first-child {
  display: table-cell;
  float: none;
}
/* line 97, ../css.source/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic > .row .partner-image-column {
  display: block;
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/* line 1, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues {
  margin: 0;
  padding: 0 15px;
  margin-bottom: 53px;
}
/* line 7, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues h2 {
  color: #7a4183;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal;
  margin: 0px 20px 22px 0;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 38px;
  line-height: 2.375rem;
  margin: 0px 0 44px 0px;
}
/* line 20, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues > .row {
  border-bottom: 1px solid #c6c5c5;
}

/* line 28, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-grid,
.l-on-the-issues .issues-intro {
  margin: 0;
}
/* line 33, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-column:first-child {
  padding-left: 5px;
}
/* line 39, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-column:last-child .issues-item {
  margin-bottom: 4px;
  min-height: 109px;
  padding-bottom: 0;
  min-height: 85px;
}
/* line 49, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item {
  min-height: 112px;
  padding-bottom: 20px;
  min-height: 165px;
  padding-bottom: 10px;
}
/* line 57, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item h3 {
  margin: -3px 0 4px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: normal;
  margin: -5px 0 8px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
}
/* line 75, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-image {
  display: block;
  float: left;
  padding-right: 18px;
  width: 50%;
  padding-right: 6%;
  padding-right: 5%;
  margin-right: 5%;
}
/* line 87, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-image img {
  width: 100%;
}
/* line 91, ../css.source/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-title {
  width: 45%;
  padding-left: 0px;
  float: left;
}

/**
 * SASS partial for advocacy take action module.
 */
/* line 4, ../css.source/modules/advocacy/_take-action.scss */
.l-take-action {
  margin: 0;
  margin: 0 15px;
}
/* line 13, ../css.source/modules/advocacy/_take-action.scss */
.l-take-action > .row {
  border-bottom: 1px solid #c6c5c5;
  margin-bottom: 53px;
}

/* line 23, ../css.source/modules/advocacy/_take-action.scss */
.take-action h2 {
  color: #7a4183;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  font-weight: normal;
  margin: 10px 15px 27px;
  font-size: 36px;
  font-size: 2.25rem;
  margin: 4px 0px 45px;
}
/* line 34, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-items {
  margin-bottom: 35px;
}
/* line 37, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item {
  margin-bottom: 26px;
  margin-bottom: 35px;
}
/* line 42, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header {
  margin: 0 15px;
  margin: 0;
}
/* line 47, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-image {
  float: left;
  margin: 4px 20px 10px 0px;
  max-width: 290px;
  width: 43%;
  margin: 4px 8% 20px 1px;
  max-width: 190px;
  width: 30%;
}
/* line 57, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-image img {
  width: 100%;
}
/* line 61, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-description {
  color: #696969;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 18px;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 7px;
  margin-left: 38%;
}
/* line 72, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-title {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: normal;
  margin-bottom: 18px;
  margin-left: 38%;
}
/* line 82, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-button-wrap {
  background: #f4f2f1;
  margin-bottom: 15px;
  padding: 13px 0 3px;
  text-align: center;
  background: #ffffff;
  margin-left: 38%;
  text-align: left;
}
/* line 92, ../css.source/modules/advocacy/_take-action.scss */
.take-action .action-item .action-button-wrap button {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  height: 35px;
  margin-right: 5px;
  width: 132px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 38px;
  line-height: 2.375rem;
  height: 40px;
  width: 100px;
}

/**
 * SASS partial for advocacy-signup
 */
/* line 5, ../css.source/modules/advocacy/_take-action-signup.scss */
.l-take-action-share {
  margin-bottom: 22px;
  position: relative;
  top: -16px;
  left: -29px;
}
/* line 15, ../css.source/modules/advocacy/_take-action-signup.scss */
.l-take-action-share div.share-save-icon h3 {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

/* line 26, ../css.source/modules/advocacy/_take-action-signup.scss */
.l-take-action-signup {
  clear: both;
  margin-bottom: 35px;
  margin-bottom: 40px;
}

/* line 33, ../css.source/modules/advocacy/_take-action-signup.scss */
.l-take-action-promo {
  clear: both;
  margin-bottom: 35px;
  margin-bottom: 50px;
}

/* line 40, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-signup {
  background-color: #f4f2f1;
  margin: 0;
  padding: 35px 21px 30px 25px;
  padding: 35px 20px 30px 20px;
}
/* line 47, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-signup h4 {
  color: #7a4183;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 1.75rem;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 54, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-signup .take-action-email-button {
  font-size: 16px;
  font-size: 1rem;
  line-height: 47px;
  line-height: 2.9375rem;
}
/* line 58, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-signup .take-action-input {
  margin-bottom: 10px;
}

/* line 63, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-promo {
  background-color: #f4f2f1;
  margin: 0;
  padding: 10px;
  padding: 0;
}
/* line 70, ../css.source/modules/advocacy/_take-action-signup.scss */
.take-action-promo img {
  width: 100%;
}
