/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 8, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-content, .page-topic.landing {
  background-color: #f4f2f1;
}

/* line 12, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-content.landing header {
  margin-bottom: 40px;
}

/* line 18, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing {
  padding: 40px 15px;
  padding: 45px 15px;
}
/* line 23, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing h1 {
  color: #7a4183;
  margin-bottom: 10px;
}
/* line 27, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .dl-heading-wrapper {
  margin: 0 27px 0;
  margin: 0 auto;
}
/* line 33, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .dl-heading-detail {
  color: dimgrey;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 0px;
  margin-bottom: 43px;
}
/* line 41, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .child-content-indicator {
  clear: both;
  margin-bottom: 0px;
}
/* line 46, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .child-content-indicator .col-23 {
  margin-left: 0px;
}
/* line 48, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .child-content-indicator .col-23 .children-key {
  padding: 0px;
}
/* line 52, ../css.source/modules/decision-lite/_dl-landing.scss */
.page-topic.landing .child-content-indicator .col-23 .children-key li {
  margin-bottom: 0px;
}

/* line 64, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results {
  background-color: #f4f2f1;
}
/* line 67, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
}
/* line 75, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results header h2 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #7a4183;
  display: inline-block;
  font-weight: 200;
  margin-left: 0px;
  font-size: 36px;
  font-size: 2.25rem;
  margin-left: 15px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 93, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results header .how-to-use {
  line-height: 36px;
  line-height: 2.25rem;
  display: none;
  position: absolute;
  right: 20px;
  top: 0px;
  display: inline-block;
}
/* line 103, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .children-key {
  width: 100%;
  margin-top: 30px;
  display: block;
}
/* line 107, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .children-key ul {
  padding: 0px;
  margin: 0 auto;
}
/* line 110, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .children-key ul li {
  width: 14px;
  display: inline-block;
  margin-left: 19px;
}
/* line 114, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .children-key ul li:first-child {
  margin-left: 0px;
}
/* line 121, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .results-outer-wrapper, .dl-list-results .results-wrapper, .dl-list-results .item-row {
  float: left;
}
/* line 124, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .results-outer-wrapper {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
/* line 127, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .results-wrapper {
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  text-align: left;
  text-align: center;
}
/* line 139, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .search-result {
  background-color: #fff;
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  min-height: 200px;
  max-width: 270px;
  width: 270px;
  padding: 19px 15px 25px;
  display: block;
  padding: 20px 20px 28px 20px;
  margin-bottom: 35px;
  margin-left: 30px;
  float: left;
  margin: 0px 0px 40px 50px;
}
/* line 140, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .search-result:first-child {
  margin-left: 0px;
}
/* line 145, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .search-result.item-four {
  margin: 0px 0px 40px 0px;
}
/* line 170, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body {
  background-color: #426da9;
  padding: 0 20px;
  position: relative;
  max-height: 162px;
  min-height: 162px;
  width: 100%;
  text-align: center;
  border: none;
  display: table;
  max-height: 190px;
  min-height: 190px;
}
/* line 172, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body:hover, .dl-list-results .result-body.open {
  background-color: #f4f2f1;
}
/* line 174, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body:hover .result-topic, .dl-list-results .result-body.open .result-topic {
  display: none;
}
/* line 177, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body:hover .result-hover, .dl-list-results .result-body.open .result-hover {
  display: table-cell;
}
/* line 193, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body.open .result-hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 196, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-body:hover .result-hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 201, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-info {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
/* line 212, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover {
  background-color: #f4f2f1;
  border-collapse: separate;
  display: none;
  vertical-align: middle;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 0px 20px;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* line 227, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover .hover-link-wrapper a {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 32px;
  line-height: 2rem;
  color: #426da9;
  display: table-cell;
  padding: 0;
  width: 100%;
  vertical-align: top;
}
/* line 236, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover .hover-link-wrapper .tip-save {
  border-bottom: 1px solid #e8e6e5;
  padding: 0 0 6px 0;
  vertical-align: bottom;
}
/* line 241, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover .hover-link-wrapper .tip-save:hover, .dl-list-results .result-hover .hover-link-wrapper .tip-save:focus {
  text-decoration: none;
  color: #426da9;
}
/* line 248, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover .hover-link-wrapper .tip-remind-me:hover, .dl-list-results .result-hover .hover-link-wrapper .tip-remind-me:focus {
  text-decoration: none;
  color: #426da9;
}
/* line 254, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-hover .hover-link-wrapper .tip-save > span, .dl-list-results .result-hover .hover-link-wrapper .tip-remind-me > span {
  height: 33px;
  display: inline-block;
  padding-top: 4px;
  padding-left: 5px;
}
/* line 263, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .hover-link-wrapper {
  display: table-row;
}
/* line 267, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results .result-topic {
  margin-bottom: 22px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  color: #fff;
  vertical-align: middle;
  display: table-cell;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 0px;
}
/* line 281, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results footer {
  display: none;
  position: relative;
  text-align: right;
  display: block;
}
/* line 287, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results footer p {
  color: dimgrey;
}
/* line 288, ../css.source/modules/decision-lite/_dl-landing.scss */
.dl-list-results footer p, .dl-list-results footer .suggest-challenge {
  display: inline-block;
}

/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 8, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz {
  margin-bottom: 100px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: normal;
  color: dimgrey;
  margin: 0;
  padding: 0 0 45px 0;
}
/* line 18, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz.question {
  min-height: 675px;
}
/* line 22, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz.answer {
  min-height: 705px;
}
/* line 26, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz a {
  color: #426da9;
  text-decoration: underline;
}
/* line 31, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .question-counter, .dl-quiz .question-counter-results {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 10px;
  padding: 0 16px;
  font-weight: normal;
  padding: 0;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
/* line 42, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: bold;
  color: #7a4183;
}
/* line 49, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz h3, .dl-quiz legend {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  padding: 0 16px;
  font-weight: bold;
  color: #7a4183;
  margin-bottom: 40px;
  padding: 0;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 40px;
  line-height: 2.5rem;
}
/* line 63, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz.answer.one h3, .dl-quiz.question.one h3 {
  max-width: 630px;
}
/* line 68, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz.answer.two h3, .dl-quiz.question.two h3 {
  max-width: 525px;
}
/* line 73, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices {
  text-align: left;
  margin-left: 20px;
  margin-left: 0px;
}
/* line 78, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices.incorrect {
  margin-top: -20px;
}
/* line 80, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices.incorrect .correct-answer-reveal {
  padding-left: 14px;
}
/* line 86, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices button.selected, .dl-quiz .answer-choices button.selected:hover, .dl-quiz .answer-choices button.selected:focus {
  background: #7a4184;
  color: #fff;
  cursor: default;
}
/* line 93, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices button.disabled, .dl-quiz .answer-choices button.disabled:hover, .dl-quiz .answer-choices button.disabled:focus {
  background: #d0d1d3;
  color: #333;
  cursor: pointer;
}
/* line 99, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices button:focus {
  outline: none;
}
/* line 105, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices .answer-choice-true,
.dl-quiz .answer-choices .answer-choice-false {
  min-width: 130px;
  max-width: 230px;
  margin-bottom: 15px;
  min-width: 180px;
  height: 55px;
  min-width: 230px;
}
/* line 115, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices .answer-choice-true {
  margin-right: 16px;
  margin-right: 50px;
}
/* line 120, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 124, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul li {
  margin-bottom: 30px;
}
/* line 128, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul label .radio {
  margin-top: 5px;
  vertical-align: top;
  height: 20px;
}
/* line 132, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul label .radio > span {
  height: 20px;
}
/* line 134, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul label .radio > span > input {
  height: 20px;
}
/* line 139, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .answer-choices ul label > span {
  display: inline-block;
  width: 80%;
}
/* line 144, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .correctness-headline {
  margin-bottom: 46px;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: bold;
  color: #298fc2;
}
/* line 150, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .correctness-headline span.correct-incorrect {
  background-image: url('../images/sprite.knowledge-quiz.correct-incorrect.png?1404390952');
  background-repeat: no-repeat;
  width: 32px;
  height: 27px;
  display: inline-block;
}
/* line 157, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .correctness-headline span.correct-incorrect.correct {
  background-size: 75px 22px;
  background-position: 0 3px;
}
/* line 161, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .correctness-headline span.correct-incorrect.incorrect {
  background-size: 75px 22px;
  background-position: -52px 3px;
}
/* line 166, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .correctness-headline.ready {
  margin-bottom: 15px;
}
/* line 171, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz div.results-indicators {
  margin-bottom: 30px;
  max-width: 320px;
  max-width: 100%;
}
/* line 176, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz div.results-indicators span.results-indicator {
  background-image: url('../images/sprite.knowledge-quiz.results-indicator.png?1404390952');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 13px;
}
/* line 178, ../css.source/modules/decision-lite/_dl-quiz.scss */
.no-backgroundsize .dl-quiz div.results-indicators span.results-indicator {
  background-image: url('../images/sprite.knowledge-quiz.results-indicator.lo-res.png?1404390952');
}
/* line 186, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz div.results-indicators span.results-indicator.correct {
  background-size: 80px 40px;
  background-position: 0 0px;
}
/* line 190, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz div.results-indicators span.results-indicator.incorrect {
  background-size: 80px 40px;
  background-position: -40px 0px;
}
/* line 197, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz p.explanation {
  margin-bottom: 46px;
  max-width: 630px;
}
/* line 202, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .next-question {
  text-align: center;
  text-align: left;
  height: 55px;
}
/* line 209, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .next-question button {
  width: 230px;
}
/* line 214, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 219, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label {
  display: table-row;
}
/* line 223, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label input,
.dl-quiz .radio-wrapper label span {
  display: table-cell;
  vertical-align: top;
}
/* line 228, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label input {
  height: 18px;
  width: 18px;
}
/* line 233, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label .radio {
  height: 20px;
  width: 18px;
  margin-right: 15px;
  line-height: 18px;
  line-height: 1.125rem;
}
/* line 238, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label .radio span {
  background-position: -1px -521px;
}
/* line 243, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label .radio.focus.active span.checked, .dl-quiz .radio-wrapper label .radio.hover.active span.checked {
  background-position: -141px -521px !important;
}
/* line 248, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label .radio.focus.active span, .dl-quiz .radio-wrapper label .radio.hover.active span {
  background-position: -61px -521px !important;
}
/* line 252, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz .radio-wrapper label .radio .checked {
  width: 20px;
  height: 20px;
  background-position: -81px -521px;
}
/* line 3, ../css.source/mixins/_old-ie.scss */
.old-ie .dl-quiz .radio-wrapper label .radio {
  display: block;
}

/* line 268, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz-container.q-a .dl-quiz-wrapper {
  border-bottom: 1px solid #c6c5c5;
}

/* line 273, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz-container.results h2 {
  margin: 0px 0 14px 0;
}
/* line 277, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz-container.results .dl-list-results h2 {
  margin: 50px 0 14px 0;
}
/* line 280, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz-container.results .next-question .button {
  width: 150px;
}

/* line 286, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-quiz-container.results .next-question .button {
  width: 150px;
}

/* line 292, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-wrapper h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 48px;
  line-height: 3rem;
}
/* line 296, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-wrapper.landing {
  margin-bottom: 0px;
}
/* line 298, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-wrapper.landing h1 {
  max-width: 500px;
}
/* line 301, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-wrapper.landing .share-save-container {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-top: 32px;
  margin-bottom: 0px;
}

/* line 312, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-list-results .results-wrapper, .dl-list-results .results-outer-wrapper {
  width: 100%;
}

/* line 316, ../css.source/modules/decision-lite/_dl-quiz.scss */
.results-wrapper, .dl-list-results .results-outer-wrapper {
  height: 306px;
  height: inherit;
}

/* line 323, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-list-results .results-outer-wrapper {
  position: relative;
}
/* line 325, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-list-results .results-outer-wrapper .rsOverflow {
  overflow: visible;
  margin-left: 0 auto;
  width: 324px;
  height: 354px;
  min-height: 340px;
}
/* line 332, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-list-results .results-outer-wrapper .rsArrowWrapper {
  bottom: 24px;
  margin-bottom: 10px;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
/* line 340, ../css.source/modules/decision-lite/_dl-quiz.scss */
.dl-list-results .results-outer-wrapper .rsArrowWrapper .rsArrowIcn {
  top: -1px;
}
