.btnCancel,
.lbSave,
.btnSave,
.form-field {
	display: none;
}

.editMode .btnEdit,
.editMode .cnt {
	display: none;
}

.editMode .btnCancel,
.editMode .lbSave,
.editMode .btnSave,
.editMode .form-field {
	display: block;
}