.btnCancel,
.lbSave,
.btnSave,
.form-field {
	display: none;
}

.editMode .btnEdit,
.editMode .cnt {
	display: none;
}

.editMode .btnCancel,
.editMode .lbSave,
.editMode .btnSave,
.editMode .form-field {
	display: block;
}

.player iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}