/**
 * Include SASS partials for recos modules.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 3, ../css.source/modules/recommendations/_recos.scss */
.recos-for-you-container h2,
.recos-upcoming-events h2,
.recos-ask-parents h2 {
  color: #7a4183;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 650px), print {
  /* line 3, ../css.source/modules/recommendations/_recos.scss */
  .recos-for-you-container h2,
  .recos-upcoming-events h2,
  .recos-ask-parents h2 {
    text-align: left;
    font-size: 36px;
    font-size: 2.25rem;
    margin-bottom: 40px;
    padding: 0 6.5%;
  }
}
@media (min-width: 769px), print {
  /* line 3, ../css.source/modules/recommendations/_recos.scss */
  .recos-for-you-container h2,
  .recos-upcoming-events h2,
  .recos-ask-parents h2 {
    padding: 0;
  }
}

/* R1 - Create Account */
/* line 24, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations {
  background: #f4f2f1;
}
/* line 27, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations h1 {
  padding-left: 100px;
  margin-top: 21px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 80px;
  line-height: 5rem;
  position: relative;
}
@media (min-width: 650px), print {
  /* line 27, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations h1 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
@media (min-width: 769px), print {
  /* line 27, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations h1 {
    line-height: 40px;
    line-height: 2.5rem;
  }
}
/* line 42, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations h1:before {
  left: 0;
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  content: "";
  background-image: url('../images/icon.recommendations.star.png?cc2cec45');
  background-size: 78px auto;
  background-repeat: no-repeat;
}
/* line 53, ../css.source/modules/recommendations/_recos.scss */
.no-backgroundsize .page-topic.recommendations h1:before {
  background-image: url('../images/icon.recommendations.star.lo-res.png?a4e0ad21');
}
/* line 59, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations.has-progress-bar h1 {
  margin-top: 15px;
}
@media (min-width: 650px), print {
  /* line 59, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations.has-progress-bar h1 {
    margin-top: 53px;
  }
}
/* line 67, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .page-subtitle {
  color: #7a4183;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 769px), print {
  /* line 67, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .page-subtitle {
    padding-left: 100px;
    font-size: 21px;
    font-size: 1.3125rem;
    text-align: left;
    margin-bottom: 0;
  }
}
/* line 81, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .progress {
  width: 180px;
  height: 38px;
  background: #e5e5e4;
  position: relative;
  margin: 0 auto 25px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
}
@media (min-width: 769px), print {
  /* line 81, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .progress {
    margin: 0 0 25px;
  }
}
/* line 93, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .progress:before {
  content: '';
  position: absolute;
  display: block;
  width: 144px;
  height: 20px;
  background-image: url('../images/progress-marker.png?280dfc2f');
  left: 18px;
  top: 9px;
}
/* line 104, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .progress .bar {
  border: 4px solid #e5e5e4;
  height: 38px;
  background: #624c94;
  position: relative;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
}
/* line 112, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .progress .completion {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  line-height: 42px;
  line-height: 2.625rem;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  border: 2px solid #ddd;
  background: #fff;
  margin-left: -23px;
  top: -4px;
  text-align: center;
}
/* line 128, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .col-16,
.page-topic.recommendations .col-6 {
  width: 100%;
  float: none;
}
@media (min-width: 769px), print {
  /* line 128, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .col-16,
  .page-topic.recommendations .col-6 {
    float: left;
  }
}
@media (min-width: 769px), print {
  /* line 137, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .col-16 {
    width: 66.6666666667%;
  }
}
@media (min-width: 769px), print {
  /* line 143, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .col-6 {
    width: 25%;
  }
}
/* line 149, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .profile-progress {
  width: 100%;
  float: none;
}
@media (min-width: 769px), print {
  /* line 149, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .profile-progress {
    width: 190px;
    float: right;
  }
}
/* line 159, ../css.source/modules/recommendations/_recos.scss */
.page-topic.recommendations .complete-profile {
  font-size: 16px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.5rem;
  height: 40px;
  margin: 0 auto;
  max-width: 280px;
  display: block;
}
@media (min-width: 650px), print {
  /* line 159, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .complete-profile {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}
@media (min-width: 800px), print {
  /* line 159, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .complete-profile {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (min-width: 960px), print {
  /* line 159, ../css.source/modules/recommendations/_recos.scss */
  .page-topic.recommendations .complete-profile {
    font-size: 16px;
    font-size: 1rem;
  }
}

/* line 1, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container {
  margin: 0 15px 25px;
}
@media (min-width: 650px), print {
  /* line 1, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you-container {
    margin: 0 20px 45px;
  }
}
/* line 9, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .carousel-container {
  border-bottom: solid 1px #c6c5c5;
  padding-bottom: 25px;
}
@media (min-width: 650px), print {
  /* line 9, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you-container .carousel-container {
    padding-bottom: 40px;
  }
}
/* line 19, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link {
  text-align: center;
}
@media (min-width: 650px), print {
  /* line 19, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you-container .why-link {
    text-align: left;
  }
}
/* line 27, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 33, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col1 {
  float: left;
  width: 33%;
}
/* line 36, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col1 li {
  display: block;
  background: #f4f2f1;
  color: #208ec4;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 40px;
  line-height: 2.5rem;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 48, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 {
  float: left;
  width: 67%;
  padding-left: 30px;
}
/* line 52, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 h4 {
  color: #7b3f84;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin: -5px 0 15px 0;
}
@media (min-width: 650px), print {
  /* line 52, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you-container .why-link .popover .col2 h4 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
}
/* line 66, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 ul {
  float: left;
  margin-bottom: 22px;
}
/* line 71, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 li {
  color: #696969;
  margin-bottom: 6px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}
@media (min-width: 650px), print {
  /* line 71, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you-container .why-link .popover .col2 li {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
/* line 82, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 li a {
  text-decoration: underline;
}
/* line 85, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 li a:hover {
  text-decoration: none;
}
/* line 92, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-container .why-link .popover .col2 .button {
  float: left;
  height: 40px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.5rem;
  width: 110px;
  margin-bottom: 30px;
}

/* line 111, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-carousels .recos-for-you-container:last-child.recos-for-you-container {
  margin-bottom: 0;
}
/* line 115, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you-carousels .recos-for-you-container:last-child .carousel-container {
  border-bottom: none;
}

@media (min-width: 650px), print {
  /* line 120, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you {
    margin-bottom: 20px;
  }
}
/* line 131, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 80px 0 0 0;
}
/* line 138, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you .rsOverflow {
  margin-top: -70px;
}
@media (min-width: 650px), print {
  /* line 138, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you .rsOverflow {
    margin-top: -95px;
  }
}
/* line 151, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li {
  clear: both;
  width: 100%;
}
@media (min-width: 650px), print {
  /* line 151, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li {
    width: 50%;
    float: left;
    clear: none;
    margin-top: 25px;
    padding-left: 40px;
  }
}
/* line 163, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-photo {
  display: block;
  float: left;
  margin-bottom: 95px;
  overflow: hidden;
  width: 45%;
}
@media (min-width: 650px), print {
  /* line 163, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-photo {
    margin-bottom: 45px;
    width: 45%;
  }
}
@media (min-width: 769px), print {
  /* line 163, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-photo {
    width: 32%;
  }
}
/* line 179, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-photo img {
  width: 100%;
}
/* line 184, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title {
  float: left;
  padding-left: 20px;
  width: 55%;
  margin-bottom: 95px;
}
@media (min-width: 650px), print {
  /* line 184, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title {
    margin-bottom: 45px;
    width: 49%;
  }
}
@media (min-width: 769px), print {
  /* line 184, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title {
    width: 62%;
  }
}
/* line 199, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title h3 {
  margin: 0 0 .5em;
  font-weight: normal;
}
@media (min-width: 650px), print {
  /* line 199, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title h3 {
    margin: -5px 0 .5em;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}
@media (min-width: 769px), print {
  /* line 199, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title h3 {
    margin: -5px 0 .5em;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 215, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title h3 a:hover {
  text-decoration: underline;
}
/* line 221, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title p {
  line-height: 1.2em;
  color: #696969;
}
/* line 226, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title .buttons-container {
  display: block;
}
@media (min-width: 650px), print {
  /* line 226, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title .buttons-container {
    display: none;
  }
}
/* line 237, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title .buttons-container button {
  float: left;
  width: 28px;
  height: 30px;
  border-right: solid 1px #d2d2d2;
  margin: 0 12px 0 0;
}
/* line 244, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li .article-title .buttons-container button:last-child {
  border-right: none !important;
}
@media (min-width: 769px), print {
  /* line 237, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you li .article-title .buttons-container button {
    width: 35px;
    margin: 0 15px 0 0;
  }
}
/* line 261, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you li:hover .article-title .buttons-container, .recos-for-you li.focused .article-title .buttons-container {
  display: block;
}
/* line 268, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you .rsArrowIcn {
  z-index: 2;
}
@media (min-width: 650px), print {
  /* line 268, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you .rsArrowIcn {
    top: 0;
    bottom: initial;
  }
}
/* line 278, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you .rsArrowLeft .rsArrowIcn {
  top: auto;
  bottom: 26px;
  right: 50%;
  margin-right: 15px;
}
@media (min-width: 650px), print {
  /* line 278, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you .rsArrowLeft .rsArrowIcn {
    margin-right: 0;
    bottom: 0;
    top: 26px;
    right: 54px;
  }
}
@media (min-width: 769px), print {
  /* line 278, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you .rsArrowLeft .rsArrowIcn {
    right: 44px;
  }
}
/* line 297, ../css.source/modules/recommendations/_recos-for-you.scss */
.recos-for-you .rsArrowRight .rsArrowIcn {
  top: auto;
  bottom: 26px;
  right: auto;
  left: 50%;
  margin-left: 15px;
}
@media (min-width: 650px), print {
  /* line 297, ../css.source/modules/recommendations/_recos-for-you.scss */
  .recos-for-you .rsArrowRight .rsArrowIcn {
    left: auto;
    margin-left: 0;
    bottom: 0;
    top: 26px;
    right: 0;
  }
}

/* line 1, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events {
  position: relative;
  background: #f4f2f1;
  margin: 0;
  padding: 0 15px;
}
@media (min-width: 650px), print {
  /* line 1, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events {
    padding: 0 20px;
  }
}
/* line 11, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events > .row {
  border-bottom: solid 1px #c6c5c5;
  padding: 25px 0 80px;
}
@media (min-width: 650px), print {
  /* line 11, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events > .row {
    padding-bottom: 25px;
  }
}
@media (min-width: 650px), print {
  /* line 11, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events > .row {
    padding: 45px 0 25px;
  }
}
/* line 25, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .rsContent > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 480px), print {
  /* line 29, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsContent > ul > li {
    padding-bottom: 25px;
  }
}
@media (min-width: 650px), print {
  /* line 29, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsContent > ul > li {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 0;
  }
}
@media (min-width: 960px), print {
  /* line 46, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .event-wrapper {
    padding: 0 20px 0 40px;
  }
}
/* line 52, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .author-image {
  float: left;
  position: relative;
}
/* line 56, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .author-image img {
  width: 100%;
}
/* line 60, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .author-image .label {
  background: #426da9;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 35px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 35px;
  line-height: 2.1875rem;
  color: #fff;
  width: 100%;
}
/* line 75, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .event-card-info {
  padding-left: 20px;
  overflow: hidden;
}
/* line 79, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .event-card-info .event-card-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-bottom: 10px;
}
@media (min-width: 769px), print {
  /* line 79, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .event-wrapper .event-card-info .event-card-title {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 91, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .event-card-info .event-card-date {
  color: #7a4283;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 769px), print {
  /* line 91, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .event-wrapper .event-card-info .event-card-date {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
/* line 103, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .event-wrapper .event-card-info .event-card-author {
  color: #7a4283;
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 769px), print {
  /* line 103, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .event-wrapper .event-card-info .event-card-author {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 117, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .rsArrowIcn {
  z-index: 2;
}
@media (min-width: 650px), print {
  /* line 117, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsArrowIcn {
    top: 0;
    bottom: initial;
  }
}
/* line 127, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .rsArrowLeft .rsArrowIcn {
  top: auto;
  bottom: 20px;
  right: 50%;
  margin-right: 15px;
}
@media (min-width: 650px), print {
  /* line 127, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsArrowLeft .rsArrowIcn {
    margin-right: 0;
    bottom: 26px;
    top: 0;
    right: 54px;
  }
}
@media (min-width: 769px), print {
  /* line 127, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsArrowLeft .rsArrowIcn {
    right: 44px;
  }
}
/* line 147, ../css.source/modules/recommendations/_upcoming-events.scss */
.recos-upcoming-events .rsArrowRight .rsArrowIcn {
  top: auto;
  bottom: 20px;
  right: auto;
  left: 50%;
  margin-left: 15px;
}
@media (min-width: 650px), print {
  /* line 147, ../css.source/modules/recommendations/_upcoming-events.scss */
  .recos-upcoming-events .rsArrowRight .rsArrowIcn {
    left: auto;
    margin-left: 0;
    bottom: 26px;
    top: 0;
    right: 0;
  }
}

/* line 1, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents {
  position: relative;
  background: #f4f2f1;
  margin: 0;
  padding: 0 15px;
}
@media (min-width: 650px), print {
  /* line 1, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents {
    padding: 0 20px;
  }
}
/* line 11, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents > .row {
  padding: 25px 0 80px;
}
@media (min-width: 650px), print {
  /* line 11, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents > .row {
    padding-bottom: 25px;
  }
}
@media (min-width: 650px), print {
  /* line 11, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents > .row {
    padding: 45px 0 0;
  }
}
/* line 24, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .rsContent > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 650px), print {
  /* line 29, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsContent > ul > li {
    float: left;
    width: 50%;
    padding-bottom: 0;
  }
  /* line 36, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsContent > ul > li:nth-child(odd) {
    padding-right: 10px;
  }
}
/* line 46, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper {
  background: #fff;
  float: left;
  padding: 25px;
  margin: 0;
}
@media (min-width: 480px), print {
  /* line 46, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .parents-wrapper {
    margin-bottom: 20px;
  }
}
@media (min-width: 650px), print {
  /* line 46, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .parents-wrapper {
    margin: 0;
    padding: 35px 40px;
  }
}
/* line 63, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .parents-question h3 {
  font-weight: normal;
  color: #7a4183;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-bottom: 10px;
}
@media (min-width: 769px), print {
  /* line 63, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .parents-wrapper .parents-question h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 77, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .parents-question p {
  color: #696969;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-bottom: 20px;
}
@media (min-width: 769px), print {
  /* line 77, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .parents-wrapper .parents-question p {
    line-height: 24px;
    line-height: 1.5rem;
  }
}
/* line 93, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .toolbar .links {
  margin-bottom: 15px;
  float: left;
}
/* line 98, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .toolbar .link {
  font-size: 14px;
  font-size: 0.875rem;
  border-left: solid 1px #d2d2d2;
  display: inline-block;
  padding-left: 7px;
  margin-left: 4px;
  text-decoration: underline;
}
@media (min-width: 769px), print {
  /* line 98, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .parents-wrapper .toolbar .link {
    font-size: 16px;
    font-size: 1rem;
    padding-left: 20px;
    margin-left: 17px;
  }
}
/* line 112, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .toolbar .link:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}
/* line 118, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .toolbar .link:hover {
  text-decoration: none;
}
/* line 124, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .parents-wrapper .toolbar .children {
  float: right;
}
/* line 132, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .rsArrowIcn {
  z-index: 2;
}
@media (min-width: 650px), print {
  /* line 132, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsArrowIcn {
    top: 0;
    bottom: initial;
  }
}
/* line 142, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .rsArrowLeft .rsArrowIcn {
  top: auto;
  bottom: 20px;
  right: 50%;
  margin-right: 15px;
}
@media (min-width: 650px), print {
  /* line 142, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsArrowLeft .rsArrowIcn {
    margin-right: 0;
    bottom: 26px;
    top: 0;
    right: 54px;
  }
}
@media (min-width: 769px), print {
  /* line 142, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsArrowLeft .rsArrowIcn {
    right: 44px;
  }
}
/* line 162, ../css.source/modules/recommendations/_ask-parents.scss */
.recos-ask-parents .rsArrowRight .rsArrowIcn {
  top: auto;
  bottom: 20px;
  right: auto;
  left: 50%;
  margin-left: 15px;
}
@media (min-width: 650px), print {
  /* line 162, ../css.source/modules/recommendations/_ask-parents.scss */
  .recos-ask-parents .rsArrowRight .rsArrowIcn {
    left: auto;
    margin-left: 0;
    bottom: 26px;
    top: 0;
    right: 0;
  }
}

/* line 198, ../css.source/modules/recommendations/_ask-parents.scss */
.child-content-indicator.recos {
  background: #f4f2f1;
  margin: 0 0 45px;
  padding: 0 15px;
}
@media (min-width: 650px), print {
  /* line 198, ../css.source/modules/recommendations/_ask-parents.scss */
  .child-content-indicator.recos {
    margin-bottom: 45px;
    padding: 0 20px 20px;
  }
}
/* line 208, ../css.source/modules/recommendations/_ask-parents.scss */
.child-content-indicator.recos .col-23.offset-1 {
  width: 100%;
  margin-left: 0;
}

/* line 1, ../css.source/modules/recommendations/_recos-tabs.scss */
.recos-tab-content {
  margin: 0;
}
@media (min-width: 650px), print {
  /* line 1, ../css.source/modules/recommendations/_recos-tabs.scss */
  .recos-tab-content {
    margin: 0 15px;
  }
}
/* line 8, ../css.source/modules/recommendations/_recos-tabs.scss */
.recos-tab-content > .row {
  border-bottom: solid 1px #c6c5c5;
}
/* line 12, ../css.source/modules/recommendations/_recos-tabs.scss */
.recos-tab-content .tab-content {
  padding: 0 15px;
}

/* line 20, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul {
  padding: 0;
  display: table;
  width: 100%;
  list-style: none;
  margin: 0 0 25px;
}
@media (min-width: 650px), print {
  /* line 20, ../css.source/modules/recommendations/_recos-tabs.scss */
  #recos-tabs > ul {
    margin-bottom: 40px;
  }
}
/* line 33, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul > li {
  display: table;
  float: left;
  width: 25%;
}
/* line 38, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul > li a {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 15px;
  line-height: 0.9375rem;
  background-color: #e7e4e2;
  display: table-cell;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-right: solid 1px #fff;
  border-top: solid 1px #fff;
  color: #696969;
  padding: 0 5%;
}
@media (min-width: 650px), print {
  /* line 38, ../css.source/modules/recommendations/_recos-tabs.scss */
  #recos-tabs > ul > li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 19px;
    line-height: 1.1875rem;
  }
}
/* line 58, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul > li a:hover {
  color: #426da9;
}
/* line 66, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul > li.active a {
  cursor: default;
  background-color: #fff;
  border-top: solid 1px #7a4183;
  color: #7a4183;
  margin-right: 1px;
}
/* line 73, ../css.source/modules/recommendations/_recos-tabs.scss */
#recos-tabs > ul > li.active a:hover {
  text-decoration: none;
}

/* line 3, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect header {
  margin-bottom: 20px;
}
@media (min-width: 650px), print {
  /* line 3, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect header {
    margin-bottom: 30px;
  }
}
/* line 10, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect header h3 {
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 19px;
  line-height: 1.1875rem;
  color: #696969;
  margin-bottom: 15px;
}
@media (min-width: 650px), print {
  /* line 10, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect header h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-bottom: 0;
  }
}
/* line 25, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect header .button {
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 769px), print {
  /* line 25, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect header .button {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@media (min-width: 960px), print {
  /* line 25, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect header .button {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 39, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect .parents-member-cards {
  position: relative;
}
/* line 42, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect .parents-member-cards .member-card-container {
  display: inline-block;
  float: left;
  width: 50%;
}
@media (min-width: 480px), print {
  /* line 42, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .parents-member-cards .member-card-container {
    width: 33.3333333%;
  }
}
@media (min-width: 650px), print {
  /* line 42, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .parents-member-cards .member-card-container {
    width: 25%;
  }
}
/* line 57, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect .member-card {
  float: none;
  height: 302px;
  margin: 0 auto 20px;
  width: 128px;
}
@media (min-width: 769px), print {
  /* line 57, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .member-card {
    margin-bottom: 25px;
  }
}
@media (min-width: 960px), print {
  /* line 57, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .member-card {
    height: 323px;
    margin-bottom: 45px;
    padding: 0;
    width: 160px;
  }
}
@media (min-width: 960px), print {
  /* line 74, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .member-card .member-card-info {
    height: 273px;
    width: 150px;
  }
}
/* line 82, ../css.source/modules/recommendations/_tab-connect.scss */
.recos-tab-connect .member-card .member-card-specialties {
  margin-top: 12px;
}
@media (min-width: 960px), print {
  /* line 82, ../css.source/modules/recommendations/_tab-connect.scss */
  .recos-tab-connect .member-card .member-card-specialties {
    width: 190px;
  }
}

/* line 2, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups,
.recos-blogs {
  margin: 0;
}
/* line 5, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .community-groups-wrapper,
.recos-blogs .community-groups-wrapper {
  position: relative;
}
/* line 9, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards,
.recos-blogs .group-cards {
  margin-top: 31px;
  height: auto !important;
}
@media (min-width: 650px), print {
  /* line 9, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards,
  .recos-blogs .group-cards {
    margin: 60px 0 50px 0;
  }
}
/* line 17, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card,
.recos-blogs .group-cards .group-card {
  float: left;
  padding-bottom: 40px;
}
@media (min-width: 650px), print {
  /* line 17, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card,
  .recos-blogs .group-cards .group-card {
    padding-bottom: 0;
  }
}
/* line 26, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-image,
.recos-blogs .group-cards .group-card-image {
  float: left;
  width: 38%;
  padding-right: 20px;
}
/* line 31, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-image img,
.recos-blogs .group-cards .group-card-image img {
  width: 100%;
  min-width: 100px;
}
/* line 38, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info,
.recos-blogs .group-cards .group-card-info {
  float: left;
  width: 62%;
}
@media (min-width: 650px), print {
  /* line 38, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info,
  .recos-blogs .group-cards .group-card-info {
    padding-right: 40px;
  }
}
/* line 46, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .group-card-name,
.recos-blogs .group-cards .group-card-info .group-card-name {
  color: #7a4183;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21px;
  line-height: 1.3125rem;
  font-weight: normal;
  margin-bottom: 16px;
}
@media (min-width: 650px), print {
  /* line 46, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .group-card-name,
  .recos-blogs .group-cards .group-card-info .group-card-name {
    margin-top: -5px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}
@media (min-width: 960px), print {
  /* line 46, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .group-card-name,
  .recos-blogs .group-cards .group-card-info .group-card-name {
    max-width: 240px;
  }
}
/* line 66, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .group-card-members, .recos-groups .group-cards .group-card-info .group-card-posts,
.recos-blogs .group-cards .group-card-info .group-card-members,
.recos-blogs .group-cards .group-card-info .group-card-posts {
  color: #7b3f84;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  height: 24px;
}
@media (min-width: 960px), print {
  /* line 66, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .group-card-members, .recos-groups .group-cards .group-card-info .group-card-posts,
  .recos-blogs .group-cards .group-card-info .group-card-members,
  .recos-blogs .group-cards .group-card-info .group-card-posts {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 77, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .group-card-members,
.recos-blogs .group-cards .group-card-info .group-card-members {
  border-bottom: 1px solid #d2d2d2;
}
/* line 81, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .group-card-date, .recos-groups .group-cards .group-card-info .group-card-source,
.recos-blogs .group-cards .group-card-info .group-card-date,
.recos-blogs .group-cards .group-card-info .group-card-source {
  color: #696969;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 87, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .card-buttons,
.recos-blogs .group-cards .group-card-info .card-buttons {
  display: table;
  margin-top: 15px;
  padding: 0;
}
@media (min-width: 650px), print {
  /* line 87, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons,
  .recos-blogs .group-cards .group-card-info .card-buttons {
    margin-top: 30px;
  }
}
/* line 96, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .card-buttons span,
.recos-blogs .group-cards .group-card-info .card-buttons span {
  display: table-cell;
  vertical-align: middle;
}
/* line 101, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .card-buttons .button,
.recos-blogs .group-cards .group-card-info .card-buttons .button {
  margin-right: 10px;
  width: 78px;
}
@media (min-width: 480px), print {
  /* line 101, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons .button,
  .recos-blogs .group-cards .group-card-info .card-buttons .button {
    margin-bottom: 12px;
    width: 135px;
  }
}
@media (min-width: 960px), print {
  /* line 101, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons .button,
  .recos-blogs .group-cards .group-card-info .card-buttons .button {
    margin-bottom: 0;
    margin-right: 26px;
    width: 90px;
  }
  /* line 115, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons .button:after,
  .recos-blogs .group-cards .group-card-info .card-buttons .button:after {
    content: '';
    white-space: normal;
  }
}
/* line 121, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card-info .card-buttons a,
.recos-blogs .group-cards .group-card-info .card-buttons a {
  cursor: pointer;
  font-size: 12px;
  font-size: 0.75rem;
}
@media (min-width: 480px), print {
  /* line 121, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons a,
  .recos-blogs .group-cards .group-card-info .card-buttons a {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 128, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons a:before,
  .recos-blogs .group-cards .group-card-info .card-buttons a:before {
    content: '\a';
    white-space: pre;
  }
}
@media (min-width: 960px), print {
  /* line 134, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards .group-card-info .card-buttons a:before,
  .recos-blogs .group-cards .group-card-info .card-buttons a:before {
    content: '';
    white-space: normal;
  }
}
/* line 143, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .action-skip-this,
.recos-blogs .action-skip-this {
  cursor: pointer;
  background: none;
  border: none;
  color: #426da9;
  text-decoration: underline;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 769px), print {
  /* line 143, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .action-skip-this,
  .recos-blogs .action-skip-this {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 157, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .action-skip-this:hover, .recos-groups .action-skip-this:focus,
.recos-blogs .action-skip-this:hover,
.recos-blogs .action-skip-this:focus {
  text-decoration: none;
}
/* line 164, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .rsContent > ul,
.recos-blogs .rsContent > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 172, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .carousel-arrow-wrapper,
.recos-blogs .carousel-arrow-wrapper {
  height: 36px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 480px), print {
  /* line 172, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper,
  .recos-blogs .carousel-arrow-wrapper {
    position: absolute;
    top: -45px;
    width: 180px;
  }
}
@media (min-width: 650px), print {
  /* line 172, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper,
  .recos-blogs .carousel-arrow-wrapper {
    top: -10px;
  }
}
@media (min-width: 769px), print {
  /* line 172, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper,
  .recos-blogs .carousel-arrow-wrapper {
    height: 31px;
  }
}
/* line 193, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .carousel-arrow-wrapper .next-prev-menu.arrows,
.recos-blogs .carousel-arrow-wrapper .next-prev-menu.arrows {
  position: relative;
}
/* line 197, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .carousel-arrow-wrapper .rsArrow,
.recos-blogs .carousel-arrow-wrapper .rsArrow {
  display: inline-block;
  height: 36px;
  position: static;
  right: 0;
  width: 36px;
}
@media (min-width: 769px), print {
  /* line 197, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper .rsArrow,
  .recos-blogs .carousel-arrow-wrapper .rsArrow {
    height: 31px;
    width: 31px;
  }
}
/* line 209, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .carousel-arrow-wrapper .rsArrowLeft .rsArrowIcn,
.recos-blogs .carousel-arrow-wrapper .rsArrowLeft .rsArrowIcn {
  left: 0;
}
/* line 213, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .carousel-arrow-wrapper .view-all,
.recos-blogs .carousel-arrow-wrapper .view-all {
  color: #298fc2;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 36px;
  text-align: center;
}
@media (min-width: 650px), print {
  /* line 213, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper .view-all,
  .recos-blogs .carousel-arrow-wrapper .view-all {
    font-size: 16px;
    font-size: 1rem;
    left: 0px;
  }
}
@media (min-width: 769px), print {
  /* line 213, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .carousel-arrow-wrapper .view-all,
  .recos-blogs .carousel-arrow-wrapper .view-all {
    height: 31px;
    line-height: 29px;
    line-height: 1.8125rem;
  }
}

@media (min-width: 769px), print {
  /* line 245, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .group-cards {
    margin-top: 40px;
  }
}
/* line 253, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .disclaimer {
  font-size: 14px;
  font-size: 0.875rem;
  color: #696969;
}
@media (min-width: 650px), print {
  /* line 253, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .disclaimer {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 261, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .disclaimer i {
  display: inline-block;
  background: url('../images/icon.lock.lo-res.png?d3bf21a5') right 0 no-repeat;
  width: 13px;
  height: 18px;
  background-size: 13px 18px;
  margin-left: 10px;
  position: absolute;
}
@media (min-width: 650px), print {
  /* line 261, ../css.source/modules/recommendations/_tab-blogs.scss */
  .recos-groups .disclaimer i {
    position: relative;
    top: 2px;
  }
}

/* line 280, ../css.source/modules/recommendations/_tab-blogs.scss */
.recos-groups .group-cards .group-card {
  margin-bottom: 0;
}

/* line 3, ../css.source/modules/recommendations/_tab-toolkit.scss */
.recos-tab-content .tab-toolkit-wrapper {
  display: block;
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
}
/* line 11, ../css.source/modules/recommendations/_tab-toolkit.scss */
.recos-tab-content .tab-toolkit-wrapper .tab-toolkit-header-container {
  background: none;
  padding: 0;
  position: static;
}

/* line 1, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations {
  margin: 40px 0 0;
  padding: 40px 0;
  background: #f4f2f1;
}
/* line 6, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos {
  padding: 0 15px;
}
@media (min-width: 650px), print {
  /* line 6, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .recommendations-promos {
    padding: 0;
  }
}
/* line 13, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .promo {
  display: table;
  margin-bottom: 45px;
  padding: 0;
}
@media (min-width: 650px), print {
  /* line 13, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .promo {
    padding: 0;
  }
}
/* line 23, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .promo a {
  color: #426da9;
  margin-bottom: 10px;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 28, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .promo a:hover {
  text-decoration: underline;
}
/* line 35, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb,
.additional-recommendations .recommendations-promos .promo-content {
  display: table-cell;
  vertical-align: top;
}
/* line 40, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb {
  width: 135px;
  padding-right: 15px;
  position: relative;
}
/* line 45, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb .play {
  position: absolute;
  z-index: 10;
  display: block;
  top: 0;
  left: 0;
  width: 120px;
  height: 66px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
  zoom: 1;
  position: absolute;
  text-indent: -9999em;
}
@media (min-width: 650px), print {
  /* line 45, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .recommendations-promos .thumb .play {
    width: 160px;
    height: 88px;
  }
}
/* line 62, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb .play:after {
  content: "";
  width: 41px;
  height: 41px;
  top: 13px;
  left: 40px;
  background-image: url('../images/sprite.icon.reco.play-button.png?1d13524b');
  background-size: 41px auto;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
/* line 74, ../css.source/modules/_additional-recommendations.scss */
.no-backgroundsize .additional-recommendations .recommendations-promos .thumb .play:after {
  background-image: url('../images/sprite.icon.reco.play-button.lo-res.png?0c10e910');
}
@media (min-width: 650px), print {
  /* line 62, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .recommendations-promos .thumb .play:after {
    top: 24px;
    left: 60px;
  }
}
/* line 84, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb .play:hover:after {
  background-position: 0 -41px;
}
/* line 89, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .recommendations-promos .thumb img {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 650px), print {
  /* line 40, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .recommendations-promos .thumb {
    width: 190px;
    padding-right: 30px;
  }
}
/* line 102, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .children-key ul {
  padding: 0;
}
/* line 106, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .children-key li {
  display: inline-block;
  width: 25px;
}
/* line 112, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool-wrapper {
  margin: 0 15px;
}
@media (min-width: 650px), print {
  /* line 112, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .related-tool-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
  }
}
/* line 122, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool {
  display: block;
  background: #fff;
  padding: 20px 40px 30px 40px;
  color: #7a4183;
  width: 100%;
}
@media (min-width: 650px), print {
  /* line 122, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .related-tool {
    max-width: 390px;
    margin: 0;
    float: right;
  }
}
/* line 135, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool:hover {
  text-decoration: none;
}
/* line 139, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool span {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 145, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool .tool-intro {
  border-bottom: 1px solid #e2e2e2;
  font-size: 20px;
  font-size: 1.25rem;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 152, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .related-tool .tool-name {
  font-size: 24px;
  font-size: 1.5rem;
  padding-top: 105px;
  background-size: 114px auto;
  background-image: url('../images/icon.recommendations.parenting.coach.png?60848426');
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
/* line 161, ../css.source/modules/_additional-recommendations.scss */
.no-backgroundsize .additional-recommendations .related-tool .tool-name {
  background-image: url('../images/icon.recommendations.parenting.coach.lo-res.png?ddd1e3f5');
}
/* line 167, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .child-content-indicator {
  clear: both;
  margin: 40px 0 0;
  float: left;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 650px) {
  /* line 167, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .child-content-indicator {
    padding: 0;
  }
  /* line 177, ../css.source/modules/_additional-recommendations.scss */
  .additional-recommendations .child-content-indicator .children-key li {
    margin-bottom: 0;
  }
}
/* line 182, ../css.source/modules/_additional-recommendations.scss */
.additional-recommendations .child-content-indicator .children-key {
  width: 100%;
}

/* line 1, ../css.source/modules/_landing.scss */
.col.recommendations-sample {
  margin-bottom: 30px;
}
@media (min-width: 650px), print {
  /* line 1, ../css.source/modules/_landing.scss */
  .col.recommendations-sample {
    margin-right: 4.166666%;
    margin-bottom: 0;
  }
}
/* line 9, ../css.source/modules/_landing.scss */
.col.recommendations-sample > img {
  display: none;
}
@media (min-width: 650px), print {
  /* line 9, ../css.source/modules/_landing.scss */
  .col.recommendations-sample > img {
    display: block;
    width: 100%;
    max-width: 388px;
  }
}

@media (min-width: 650px), print {
  /* line 20, ../css.source/modules/_landing.scss */
  .col.recommendations-usage {
    padding-left: 4.166666%;
    border-left: 1px solid #e2e2e2;
  }
}
/* line 26, ../css.source/modules/_landing.scss */
.col.recommendations-usage h3 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 30px;
  color: #7a4183;
}
/* line 33, ../css.source/modules/_landing.scss */
.col.recommendations-usage dl {
  display: table;
  margin-bottom: 33px;
}
/* line 38, ../css.source/modules/_landing.scss */
.col.recommendations-usage dt, .col.recommendations-usage dd {
  display: table-cell;
  vertical-align: top;
}
/* line 43, ../css.source/modules/_landing.scss */
.col.recommendations-usage dt {
  width: 80px;
}
/* line 46, ../css.source/modules/_landing.scss */
.col.recommendations-usage dt .count {
  display: block;
  width: 55px;
  height: 55px;
  line-height: 56px;
  line-height: 3.5rem;
  font-size: 32px;
  font-size: 2rem;
  color: #7a4183;
  text-align: center;
  background-image: url('../images/icon.circle.110x110.png?f1397eb8');
  background-size: 55px auto;
  background-repeat: no-repeat;
  font-weight: 700;
}
/* line 59, ../css.source/modules/_landing.scss */
.no-backgroundsize .col.recommendations-usage dt .count {
  background-image: url('../images/icon.circle.55x55.png?6680b6b3');
}
/* line 65, ../css.source/modules/_landing.scss */
.col.recommendations-usage dd {
  color: #696969;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 0;
}
/* line 71, ../css.source/modules/_landing.scss */
.col.recommendations-usage .buttons {
  padding-left: 80px;
}
/* line 74, ../css.source/modules/_landing.scss */
.col.recommendations-usage .buttons .button {
  display: inline-block;
  width: 45%;
  margin-bottom: 0;
}
/* line 80, ../css.source/modules/_landing.scss */
.col.recommendations-usage .buttons .sign-up {
  margin-right: 0;
}
