// This is a shared module
// If you need to make changes to a specific page where this module exists
// please do it in a style sheet for the page or place it below
.l-about-hero-intro{
  .about-hero-container {
    left: 0;
    position: relative;
    // This centers the image
    text-align: center;
    top: 0;
    img {
      // This centers the image in mobile view
      margin-left: -40%;
      max-width: 185%;
      width: auto;
      @include bp($bp-small-plus) {
        margin-left: 0%;
        max-width: 1200px;
        width: 100%;
        height: auto;
      }
    }

    .text-container{
      position:absolute;
      text-align: left;
      top:0;
      width: 100%;

      h1{
        color:#7a4183;
        @include rem(font-size, 18px);
        @include rem(line-height, 19px);
        font-weight:bold;
        margin-bottom:12px;
        margin-left: 13px;
        padding-top: 18px;
        width: 150px;
        @include bp($bp-small-plus){
          @include rem(font-size, 36px);
          @include rem(line-height, 42px);
          margin-left: 0px;
          width: 330px;
          padding-top: 37px;
        }
      } //h1

      h2{
        color:#696969;
        @include rem(font-size, 14px);
        @include rem(line-height, 20px);
        font-weight: normal;
        margin-bottom:5px;
        margin-left: 13px;
        width: 135px;
        @include bp($bp-small-plus){
          @include rem(font-size, 21px);
          @include rem(line-height, 28px);
          margin-bottom:10px;
          margin-left: 0px;
          width: 430px;
        }
      } //h2

    }
  }
}

// Specific about hero overrides for the thank you page
.l-thank-you-intro{
  @include bp($bp-small-plus){
    .text-wrap{
      margin-left: 40px;
    }
  }
}