/**
* SASS partial for About Partners List module.
*/
.about-partners-list {
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 15px;
  @include bp($bp-small-plus) {
    margin-bottom: 35px;
  }
  h2 {
    @include rem(font-size, 28px);
    font-weight: normal;
    color: #696969;
    margin-bottom: 15px;
    @include bp($bp-small-plus) {
        padding-top: 20px;
        margin-bottom: 25px;
    }
  } // end .about-partners-list h2
  p {
      font-family: Arial, sans-serif;
      @include rem(font-size, 18px);
      @include rem(line-height, 26px);
      color: #696969;
      margin-bottom: 0;
    } // end .about-partners-list p
  &:first-child div.partner-block {
      @include bp($bp-small-plus) {
        padding-top: 40px;
      }
    }

  // partner item block
  .partner-block {
    height: auto;
    padding: 30px 0;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #d2d2d2;
    @include clearfix;
    @include bp($bp-small-plus) {
      padding: 40px 0;
    }

    &.last {
      border-bottom: 0px;
    }
    // logo
    .partner-block-logo {
      display: inline-block;
      width: 271px;
      height: 131px;
      float: left;
      padding: 0;
      background-color: #f4f2f1;

      @include bp($bp-767-and-smaller) {
        display: block;
        float: none;
        margin: auto auto 30px auto;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        margin-left: 0;
        position: relative;
        background-image: url('../images/logo.u.footer.png');
        background-repeat: no-repeat;
        background-size: 33px 60px;
        background-position: center center;
      }
      img {
        display: block;
        height: auto;
        height: 90px;
        width: auto;
        max-width: 90%;
        margin: auto;
        background-color: #f4f2f1;
        position: relative;
        top: 20px;
      }
    }
    // text
    .partner-block-text {
      display: inline-block;
      float: left;
      width: auto;
      width: 60%;
      min-height: 131px;
      vertical-align: top;
      padding-left: 30px;
      position: relative;
      padding-bottom: 30px;

      @include bp($bp-767-and-smaller) {
        display: block;
        width: 100%;
        padding-left: 0px;
      }

      h3 {
        margin-bottom: 15px;
        display: block;
        text-transform: capitalize;
        @include rem(font-size, 26px);
        @include rem(line-height, 26px);
        font-weight: normal;

        @include bp($bp-767-and-smaller) {
          text-align: center;
        }
        a {
          color: #7a4183;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        font-family: Arial, sans-serif;
        color: #696969;
        font-size: 1rem;
        line-height: 1.2;
      }
      .partner-block-read-more {
        display: block;
        position: absolute;
        bottom: 0px; left: 30px;

        @include bp($bp-767-and-smaller) {
          left: 0px;
          text-align: center;
        }
        a {
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      } // end .partner-block-read-more
    } // end .partner-block-text
  } // end .partner-block
} // end .about-partners-list
