/**
 * SASS partial for get advice module.
 */

.get-advice {
  margin: 0 15px 15px 15px;
  padding: 30px 0 30px 20px;
  background-color: #f4f2f1;

  @include bp($bp-small-plus) {
    margin: 0 0 40px 5px;
    max-width: 271px;
  }

  h4 {
    color: #7a4183;
    font-weight: normal;
    @include rem(font-size, 22px);
    @include rem(line-height, 26px);
    margin-bottom: 20px;

    @include bp($bp-small-plus) {
      padding-top: 5px;
      margin-bottom: 13px;
    }
  }

  p {
    color: #696969;
    @include rem(font-size, 16px);
    @include rem(line-height, 22px);
    padding-right: 20px;
  }

  ul {
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 10px;

    @include bp($bp-small-plus) {
      a {
        margin: 0 0 10px 0;
      }
    }

    @include bp($bp-small-plus) {
      margin-right: 7px;
      margin-bottom: 0;
    }
    @include bp($bp-large) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      .button{
        padding: 0 16px;
      }
    }
    &.in-progress {
      margin-right: 0;
      @include bp($bp-small-plus) {
        .button {
          @include rem(font-size, 14px);
          height: 40px;
          line-height: 42px;
        }
      }
      .button {
        margin: 0 0 10px 0;
        padding: 0 10px;
      }
    }
    &.complete-profile {
      display: block;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .button {
    @include rem(font-size, 16px);
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
  }
}