/**
 * SASS partial for partners-detail-logo module.
 */

.partner-logo {
  width: 100%;
  background: #f4f2f1;
  padding: 15px 0 15px 0;
  margin-bottom: 40px;

  img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 80%;

    @include bp ($bp-small) {
      max-width: 270px;
    }
  }
} // end .partner-logo