/**
 * SASS partial for partners-detail-copy module.
 */

.partner-copy {

  @include bp($bp-large) {
      float: left;
      width: 100%;
      padding-right: 12.5%;
    }

  p {
    font-family: arial, sans-serif;
    color: #696969;
    @include rem(font-size, 15px);
    @include rem(line-height, 26px);
    font-weight: normal;

    @include bp($bp-small-plus) {
      margin-bottom: 30px;
    }
  } // end .about-video-container p
} // end .partner-copy