/**
 * Include SASS partials for homepage modules.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/**
 * SASS partial for behaviorTool module.
 */
/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool {
  padding: 0 26px 32px;
}
@media (min-width: 650px) {
  /* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool {
    padding: 0;
  }
}
@media (min-width: 769px) {
  /* line 14, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #c6c5c5;
    position: absolute;
    right: -21.5%;
    top: 0;
  }
}
/* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool .behavior-form {
  background: #fff;
  margin: 0 0px;
  padding: 20px 13px;
}
@media (min-width: 650px) {
  /* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form {
    height: 405px;
    padding: 26px 30px 40px;
  }
}
@media (min-width: 769px) {
  /* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form {
    height: 410px;
  }
}
@media (min-width: 960px) {
  /* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form {
    padding: 26px 40px 40px;
  }
}
/* line 46, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool .behavior-form h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #7a4183;
  font-weight: normal;
  margin-bottom: 15px;
}
@media (min-width: 650px) {
  /* line 46, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.15;
    letter-spacing: -1px;
  }
}
/* line 60, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool .behavior-form p {
  font-size: 12px;
  font-size: 0.75rem;
  color: #696969;
  font-family: arial, sans-serif;
  margin-bottom: 16px;
}
@media (min-width: 650px) {
  /* line 60, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form p {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 26px;
  }
}
/* line 73, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool .behavior-form .selector {
  margin-bottom: 10px;
  font-size: 12px;
  font-size: 0.75rem;
}
@media (min-width: 650px) {
  /* line 73, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form .selector {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@media (min-width: 960px) {
  /* line 73, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form .selector {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 86, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
.behavior-tool .behavior-form .submit-button {
  font-size: 15px;
  font-size: 0.9375rem;
  width: 100%;
}
@media (min-width: 650px) {
  /* line 86, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_behavior-tool-module.scss */
  .behavior-tool .behavior-form .submit-button {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

/**
 * SASS partial for the guide-me module.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me {
  margin: 0;
  position: relative;
  background: #f4f2f1;
}
/* line 12, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me .row {
  max-width: 1200px;
}
/* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me .guide-me-inner {
  margin: 0 27px -29px;
  padding: 15px 14px 20px;
  position: relative;
  background-color: #fff;
  z-index: 10;
  top: -29px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #7a4183;
  max-width: 710px;
  -webkit-transform: translate3d(0, 0, 0);
}
@media (min-width: 650px) {
  /* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 auto -58px;
    top: -58px;
    padding: 20px 32px 30px;
  }
}
@media (min-width: 769px) {
  /* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner {
    line-height: 55px;
    padding-top: 30px;
  }
}
@media (min-width: 960px) {
  /* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner {
    padding: 30px 40px;
  }
}
@media (min-width: 650px) {
  /* line 40, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner .col-12 {
    width: auto;
    float: none;
    left: 0;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 769px) {
  /* line 40, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner .col-12 {
    width: 50%;
    float: left;
    left: auto;
  }
}
/* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me .guide-me-inner .button {
  width: 100%;
  text-align: left;
  padding: 0 15px;
  font-weight: bold;
  font-size: 15px;
  font-size: 0.9375rem;
  background-image: url("../images/arrow.down.000.20.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 94% 50%;
  margin-top: 14px;
  height: 50px;
  line-height: 50px;
}
@media (min-width: 650px) {
  /* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner .button {
    padding: 0 22px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    font-size: 1.125rem;
    background-size: 10px 10px;
  }
}
@media (min-width: 769px) {
  /* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner .button {
    display: inline-block;
    margin: 0;
  }
}
/* line 80, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.no-backgroundsize .guide-me .guide-me-inner .button {
  background-image: url("../images/arrow.down.000.10.png");
}
/* line 83, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me .guide-me-inner .button:focus {
  outline: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
}
/* line 88, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.guide-me .guide-me-inner .icon {
  display: none;
}
@media (min-width: 960px) {
  /* line 88, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
  .guide-me .guide-me-inner .icon {
    display: inline-block;
    width: 43px;
    height: 51px;
    background-image: url("../images/icon.guide-me.86.png");
    background-size: 43px 51px;
    vertical-align: middle;
    margin-right: 15px;
  }
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me.scss */
.no-backgroundsize .guide-me .guide-me-inner .icon {
  background-image: url("../images/icon.guide-me.43.png");
}

/**
 * SASS partial for the guide-me overlay module.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay {
  display: none;
  z-index: 100;
  position: absolute;
  top: 45px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0);
}
@media (min-width: 650px) {
  /* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay {
    top: 90px;
  }
}
@media (min-width: 769px) {
  /* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay {
    background-color: transparent;
    background-color: rgba(250, 250, 250, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FAFAFA,endColorstr=#E6FAFAFA);
    zoom: 1;
    top: 200px;
  }
}
@media (min-width: 960px) {
  /* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay {
    top: 0;
  }
}
/* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .close-guide {
  background: url("../images/icon.close.overlay.44.png") 0 2px no-repeat;
  background-size: 16px 36px;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0 0 0 24px;
  color: #696969;
  cursor: pointer;
  position: absolute;
  z-index: 101;
  top: 20px;
  right: 0;
  display: inline-block;
  margin-right: 14px;
}
/* line 44, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .close-guide:hover {
  text-decoration: none;
  color: #426da9;
  background-position: 0 -18px;
}
/* line 50, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.no-backgroundsize .container-guide-me-overlay .close-guide {
  background-image: url("../images/icon.close.overlay.16.png");
}
@media (min-width: 650px) {
  /* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .close-guide {
    font-size: 24px;
    font-size: 1.5rem;
    background-size: 22px 50px;
    background-position: 0 6px;
    margin-right: 15px;
    right: 5%;
    padding: 0 0 0 34px;
  }
  /* line 62, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .close-guide:hover {
    background-position: 0 -22px;
  }
  /* line 66, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .no-backgroundsize .container-guide-me-overlay .close-guide {
    background-image: url("../images/icon.close.overlay.22.png");
  }
}
@media (min-width: 769px) {
  /* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .close-guide {
    top: 30px;
    right: 30%;
  }
}
@media (min-width: 960px) {
  /* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .close-guide {
    right: 60%;
  }
}
/* line 83, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay h3 {
  font-size: 36px;
  font-size: 2.25rem;
  color: #7a4183;
  padding: 0;
  margin: 36px;
  font-weight: normal;
  text-align: center;
  display: none;
}
@media (min-width: 769px) {
  /* line 83, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h3 {
    display: block;
  }
}
/* line 97, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .module {
  padding: 0 14px;
}
@media (min-width: 650px) {
  /* line 97, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .module {
    padding: 0 16px;
  }
}
@media (min-width: 769px) and (max-width: 830px) {
  /* line 97, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .module {
    padding: 0 6px 0 6px;
  }
}
@media (min-width: 960px) {
  /* line 97, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .module {
    padding: 0 40px;
  }
}
/* line 114, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay h4, .container-guide-me-overlay legend {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #7a4183;
  padding: 0;
  margin: 24px 0 20px;
  font-weight: normal;
  padding-right: 10%;
}
@media (min-width: 650px) {
  /* line 114, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h4, .container-guide-me-overlay legend {
    font-size: 30px;
    font-size: 1.875rem;
    margin: 50px 0 30px;
  }
}
/* line 127, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay h4.mobile, .container-guide-me-overlay legend.mobile {
  display: block;
}
@media (min-width: 769px) {
  /* line 127, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h4.mobile, .container-guide-me-overlay legend.mobile {
    display: none;
  }
}
/* line 135, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay h4.desktop, .container-guide-me-overlay legend.desktop {
  display: none;
}
@media (min-width: 769px) {
  /* line 135, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h4.desktop, .container-guide-me-overlay legend.desktop {
    display: block;
  }
}
@media (min-width: 682px) and (max-width: 768px) {
  /* line 114, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h4, .container-guide-me-overlay legend {
    padding-right: 22%;
  }
}
@media (min-width: 769px) {
  /* line 114, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay h4, .container-guide-me-overlay legend {
    font-size: 18px;
    font-size: 1.125rem;
    color: #696969;
    margin-top: 0;
    padding-right: 0;
  }
}
/* line 156, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior {
  border-right: none;
  margin-bottom: 40px;
  padding-left: 14px;
}
@media (min-width: 650px) {
  /* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior {
    border-right: solid 1px #c6c5c5;
    padding-left: 0;
  }
}
@media (min-width: 769px) {
  /* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior {
    padding-left: 5%;
  }
}
@media (min-width: 960px) {
  /* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior {
    padding-left: 20%;
  }
}
/* line 180, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior li {
  display: table;
  padding-bottom: 18px;
}
@media (min-width: 650px) {
  /* line 180, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior li {
    padding-bottom: 24px;
  }
}
@media (min-width: 769px) {
  /* line 180, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior li {
    padding-bottom: 16px;
  }
}
/* line 192, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior li:last-child {
  padding-bottom: 0;
}
/* line 197, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior .checkbox-wrap {
  display: table-cell;
  vertical-align: top;
}
/* line 207, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior .checkbox-wrap input {
  cursor: pointer;
}
/* line 212, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-behavior label {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  color: #696969;
  cursor: pointer;
  padding-left: 8px;
  position: relative;
  top: 2px;
}
@media (min-width: 650px) {
  /* line 212, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-behavior label {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
    padding-left: 14px;
    top: 0;
  }
}
/* line 234, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade {
  margin-bottom: 30px;
}
@media (min-width: 650px) {
  /* line 234, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-grade {
    margin-bottom: 40px;
  }
}
/* line 242, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .selector {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 650px) {
  /* line 242, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-grade .selector {
    display: none;
  }
}
/* line 252, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade nav {
  float: left;
  width: 100%;
  display: none;
}
@media (min-width: 650px) {
  /* line 252, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-grade nav {
    display: block;
  }
}
/* line 262, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .grade {
  width: 47%;
  height: 44px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 43px;
  line-height: 2.6875rem;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 2px;
  background: #f4f2f1;
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 0 8px 8px 0;
  float: left;
  padding: 0 10px;
  white-space: nowrap;
}
@media (min-width: 769px) {
  /* line 262, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay .select-grade .grade {
    font-size: 16px;
    font-size: 1rem;
    background: #fff;
    width: 170px;
    padding: 0;
  }
}
/* line 288, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .grade:hover, .container-guide-me-overlay .select-grade .grade:focus {
  background: #bcbdc0;
  text-decoration: none;
  outline: none;
}
/* line 294, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .grade.active {
  background: #7a4183;
  color: #fff;
}
/* line 299, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .grade.active:hover {
  background: #9850a2;
  color: #fff;
}
/* line 304, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay .select-grade .grade:last-child {
  margin-bottom: 0;
}
/* line 310, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer {
  margin: 0 14px;
}
@media (min-width: 650px) {
  /* line 310, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer {
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  /* line 310, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer {
    margin: 0 auto 40px;
  }
}
/* line 321, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .col {
  width: 100%;
  text-align: center;
  margin-left: 0;
}
@media (min-width: 769px) {
  /* line 321, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .col {
    text-align: left;
    width: 33.333333%;
    margin-left: 33.33333%;
  }
}
@media (min-width: 769px) {
  /* line 333, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .col-6 {
    width: 25%;
    margin-left: 0;
  }
}
/* line 340, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .submit-button-wrap {
  text-align: center;
  margin-bottom: 26px;
}
@media (min-width: 769px) {
  /* line 340, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .submit-button-wrap {
    margin-bottom: 0px;
  }
}
/* line 348, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .submit-button-wrap input {
  width: 100%;
  padding: 0 24px;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 650px) {
  /* line 348, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .submit-button-wrap input {
    font-size: 18px;
    font-size: 1.125rem;
    width: auto;
  }
}
@media (min-width: 769px) {
  /* line 348, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .submit-button-wrap input {
    font-size: 16px;
    font-size: 1rem;
  }
}
/* line 364, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .complete-profile {
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 769px) {
  /* line 364, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .complete-profile {
    margin-bottom: 0px;
  }
}
/* line 372, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .complete-profile a {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1px;
  line-height: 0.0625rem;
  color: #426da9;
  text-decoration: underline;
}
@media (min-width: 650px) {
  /* line 372, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .complete-profile a {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
}
@media (min-width: 769px) {
  /* line 372, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
  .container-guide-me-overlay footer .complete-profile a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}
/* line 388, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/homepage/_guide-me-overlay.scss */
.container-guide-me-overlay footer .complete-profile a:hover {
  text-decoration: none;
}

/**
 * SASS partial for hero carousel module.
 */
/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel {
  margin: 0;
}
@media (min-width: 960px) {
  /* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel {
    position: relative;
  }
  /* line 11, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 58px;
    background: #F4F2F1;
  }
}
/* line 22, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel .row {
  max-width: 1200px;
  padding: 0;
}

/* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner {
  position: relative;
}
/* line 31, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .play-pause {
  display: block;
  z-index: 2;
  border: none;
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 34px;
  height: 34px;
  background-size: 34px auto;
  text-indent: -9999px;
  background-image: url("../images/sprite.btn.carousel.play-pause.png");
  background-color: transparent;
}
@media (min-width: 650px) {
  /* line 31, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .play-pause {
    bottom: 10px;
  }
}
/* line 49, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .play-pause:hover {
  background-position: 0 -36.5px;
}
/* line 53, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .play-pause.play {
  background-position: 0 -73px;
}
/* line 56, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .play-pause.play:hover {
  background-position: 0 -109.5px;
}
/* line 61, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.no-backgroundsize .hero-carousel-inner .play-pause {
  background-image: url("../images/sprite.btn.carousel.play-pause.lo-res.png");
}
/* line 67, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-keyboard-trigger {
  border: none;
  background: none;
  position: absolute;
  left: -99999px;
}
/* line 74, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers {
  list-style-type: none;
  height: 0;
  width: 100%;
  top: 50%;
  margin: -59px 0 0;
  position: absolute;
  display: none;
}
@media (min-width: 769px) {
  /* line 74, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-pagers {
    display: block;
  }
}
@media (min-width: 769px) {
  /* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-pagers .rsArrow {
    position: absolute;
    width: 48px;
    height: 118px;
    background: #fff;
    padding: 48px 0 0 17px;
    z-index: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s;
  }
}
/* line 103, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers.active .rsArrow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 107, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers .rsArrowLeft {
  left: 0;
}
/* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers .rsArrowLeft .rsArrowIcn {
  background-position: 0 0;
}
/* line 113, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers .rsArrowRight {
  right: 0;
}
/* line 115, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers .rsArrowRight .rsArrowIcn {
  background-position: 100% 0;
}
/* line 119, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-pagers .rsArrowIcn {
  border: none;
  background-color: transparent;
  position: static;
  width: 12px;
  height: 21px;
  background-image: url("../images/sprite.icon.arrows.next-prev.24.png");
  background-size: 25px 21px;
}
/* line 128, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.no-backgroundsize .hero-carousel-inner .carousel-pagers .rsArrowIcn {
  background-image: url("../images/sprite.icon.arrows.next-prev.12.png");
}
/* line 134, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
.hero-carousel-inner .carousel-navigation {
  display: none;
}
@media (min-width: 769px) {
  /* line 134, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-navigation {
    display: block;
    position: absolute;
    bottom: 69px;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  /* line 145, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-navigation li {
    display: inline-block;
    margin: 0 14px;
  }
  /* line 150, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-navigation .navigation-link {
    border: none;
    text-indent: -9999px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  /* line 160, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-navigation .navigation-link:hover, .hero-carousel-inner .carousel-navigation .navigation-link:focus {
    background: #bcbdc0;
  }
  /* line 164, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  .hero-carousel-inner .carousel-navigation .navigation-link.selected {
    background: #7a4183;
    cursor: default;
  }
}

/* line 173, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper {
  width: 100%;
  height: 200px;
}
@media (min-width: 650px) {
  /* line 173, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  #hero-carousel-wrapper {
    height: 400px;
  }
}
/* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper .slide {
  background-position: 50% 0;
  background-size: 600px 200px;
  background-repeat: no-repeat;
  height: 200px;
}
@media (min-width: 650px) {
  /* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  #hero-carousel-wrapper .slide {
    height: 400px;
    background-size: auto;
  }
}
/* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper .slide .text {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.111;
  color: #298fc2;
  padding: 19px 0 0 27px;
}
@media (min-width: 650px) {
  /* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  #hero-carousel-wrapper .slide .text {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 2.5rem;
    padding: 36px 0 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  #hero-carousel-wrapper .slide .text {
    padding-left: 45px;
    max-width: 350px;
  }
}
@media (min-width: 960px) {
  /* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
  #hero-carousel-wrapper .slide .text {
    position: absolute;
    left: 50%;
    margin-left: -435px;
    padding-left: 0;
  }
}
/* line 209, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper .slide .text p {
  margin-bottom: 0.778em;
}
/* line 212, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper .slide .text.text-color-white {
  color: #fff;
}
/* line 215, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_hero-carousel.scss */
#hero-carousel-wrapper .slide .text.text-color-purple {
  color: #7a4183;
}

/**
 * SASS mixin for cross-platform border-radius.
 */
/**
 * SASS partial for featured-recommended module.
 */
/* line 9, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended ul,
.more-carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended h2,
.more-carousel h2 {
  margin-bottom: 15px;
}
@media (min-width: 650px) {
  /* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended h2,
  .more-carousel h2 {
    margin-left: 6.5%;
    margin-bottom: 40px;
  }
}
@media (min-width: 769px) {
  /* line 15, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended h2,
  .more-carousel h2 {
    margin-left: 0;
  }
}
@media (min-width: 650px) {
  /* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container,
  .more-carousel #featured-slides-container {
    height: 235px !important;
    margin-bottom: 30px;
  }
}
@media (min-width: 650px) {
  /* line 37, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container .rsOverflow,
  .more-carousel #featured-slides-container .rsOverflow {
    position: inherit;
  }
}
/* line 43, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container .rsContent,
.more-carousel #featured-slides-container .rsContent {
  text-align: center;
}
/* line 48, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container .rsArrowLeft .rsArrowIcn,
.more-carousel #featured-slides-container .rsArrowLeft .rsArrowIcn {
  top: auto;
  right: 50%;
  bottom: 15px;
  margin-right: 15px;
  z-index: 2;
}
@media (min-width: 650px) {
  /* line 48, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container .rsArrowLeft .rsArrowIcn,
  .more-carousel #featured-slides-container .rsArrowLeft .rsArrowIcn {
    right: 54px;
    bottom: auto;
    top: 0;
    margin-right: 6.5%;
  }
}
@media (min-width: 769px) {
  /* line 48, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container .rsArrowLeft .rsArrowIcn,
  .more-carousel #featured-slides-container .rsArrowLeft .rsArrowIcn {
    margin-right: 0;
    right: 44px;
  }
}
/* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container .rsArrowRight .rsArrowIcn,
.more-carousel #featured-slides-container .rsArrowRight .rsArrowIcn {
  top: auto;
  bottom: 15px;
  margin-left: 15px;
  left: 50%;
  z-index: 2;
}
@media (min-width: 650px) {
  /* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container .rsArrowRight .rsArrowIcn,
  .more-carousel #featured-slides-container .rsArrowRight .rsArrowIcn {
    margin-left: 0;
    margin-right: 6.5%;
    left: auto;
    right: 0px;
    bottom: auto;
    top: 0;
  }
}
@media (min-width: 769px) {
  /* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container .rsArrowRight .rsArrowIcn,
  .more-carousel #featured-slides-container .rsArrowRight .rsArrowIcn {
    right: 0;
    margin-right: 0;
  }
}
/* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul,
.more-carousel #featured-slides-container ul {
  list-style: none;
  margin: 0;
  padding: 0 11px;
  white-space: nowrap;
  width: 100%;
}
@media (min-width: 650px) {
  /* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul,
  .more-carousel #featured-slides-container ul {
    margin: 0;
    padding: 0 0 0 6.5%;
  }
}
@media (min-width: 769px) {
  /* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul,
  .more-carousel #featured-slides-container ul {
    padding: 0 0 0 4%;
  }
}
/* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul li,
.more-carousel #featured-slides-container ul li {
  display: inline-block;
  margin: 0 0 71px 80px;
  width: 100%;
  white-space: normal;
  position: relative;
}
@media (min-width: 650px) {
  /* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul li,
  .more-carousel #featured-slides-container ul li {
    float: left;
    width: 26.25%;
    margin: 0 21px;
    height: 235px;
  }
}
@media (min-width: 769px) {
  /* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul li,
  .more-carousel #featured-slides-container ul li {
    width: 24%;
    margin: 0 37px;
  }
}
@media (min-width: 960px) {
  /* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul li,
  .more-carousel #featured-slides-container ul li {
    width: 24.89%;
    margin: 0 44px;
  }
}
/* line 138, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul li:first-child,
.more-carousel #featured-slides-container ul li:first-child {
  margin-left: 0;
}
/* line 142, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul li img,
.more-carousel #featured-slides-container ul li img {
  width: 100%;
}
@media (min-width: 650px) {
  /* line 142, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul li img,
  .more-carousel #featured-slides-container ul li img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
/* line 152, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul li p,
.more-carousel #featured-slides-container ul li p {
  vertical-align: top;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #426da9;
  text-align: left;
}
@media (min-width: 650px) {
  /* line 152, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .featured-recommended #featured-slides-container ul li p,
  .more-carousel #featured-slides-container ul li p {
    margin-left: 0;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 165, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.featured-recommended #featured-slides-container ul li a,
.more-carousel #featured-slides-container ul li a {
  display: block;
}

/* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.more-carousel {
  clear: both;
  border-bottom: solid 1px #e2e2e2;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .more-carousel {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  /* line 190, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
  .more-carousel .col {
    border-bottom: solid 1px #e2e2e2;
  }
}
/* line 196, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.more-carousel.more-carousel-no-border-bottom {
  border-bottom: none;
}
/* line 198, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/carousel/_featured-carousel.scss */
.more-carousel.more-carousel-no-border-bottom .col {
  border-bottom: none;
}
