/*

Uniform Theme: Understood
Version: 1.8-understood (based on Uniform Default v1.8)
Originally By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/**
 * SASS mixin for cross-platform border-radius.
 */
/* General settings */
/* line 174, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../images/sprite.uniform.600.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
/* line 184, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */
}
/* line 189, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
  outline: 0;
}
/* line 199, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* line 207, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
.highContrastDetect {
  background: url(none) repeat-x 0 0;
  width: 0px;
  height: 0px;
}

/* Input & Textarea */
/* line 217, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 0px;
  background: url(none) repeat-x 0 0;
  outline: 0;
}
/* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active {
  background: url(none) repeat-x 0 0;
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
/* line 231, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Select */
/* line 238, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector {
  background-position: 0 -250px;
  line-height: 50px;
  height: 50px;
  padding: 0 0 0 15px;
  position: relative;
  overflow: hidden;
}
/* line 246, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-position: right 0;
  height: 50px;
  line-height: 50px;
  padding-right: 36px;
  cursor: pointer;
  width: 100%;
  display: block;
}
/* line 257, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.fixedWidth {
  width: 190px;
}
/* line 260, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.fixedWidth span {
  width: 139px;
}
/* line 265, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 50px;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.active {
  background-position: 0 -300px;
}
/* line 277, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.active span {
  background-position: right -50px;
}
/* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.hover, div.selector.focus {
  background-position: 0 -350px;
}
/* line 285, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.hover span, div.selector.focus span {
  background-position: right -100px;
}
/* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.hover.active, div.selector.focus.active {
  background-position: 0 -400px;
}
/* line 292, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.hover.active span, div.selector.focus.active span {
  background-position: right -150px;
}
/* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.disabled, div.selector.disabled.active {
  background-position: 0 -450px;
}
/* line 301, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.selector.disabled span, div.selector.disabled.active span {
  background-position: right -200px;
}

/* Checkbox */
/* line 310, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker {
  position: relative;
}
/* line 313, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker, div.checker span, div.checker input {
  width: 20px;
  height: 21px;
}
/* line 318, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: 0 -500px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker span.checked {
  background-position: -80px -500px;
}
/* line 328, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 334, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.active span {
  background-position: -20px -500px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.active span.checked {
  background-position: -100px -500px;
}
/* line 344, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.hover span, div.checker.focus span {
  background-position: -40px -500px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.hover span.checked, div.checker.focus span.checked {
  background-position: -120px -500px;
}
/* line 353, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.hover.active span, div.checker.focus.active span {
  background-position: -60px -500px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.hover.active span.checked, div.checker.focus.active span.checked {
  background-position: -140px -500px;
}
/* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.disabled, div.checker.disabled.active {
  background-position: -160px -500px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.checker.disabled span.checked, div.checker.disabled.active span.checked {
  background-position: -180px -500px;
}

/* Radio */
/* line 376, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio {
  position: relative;
}
/* line 379, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio, div.radio span, div.radio input {
  width: 20px;
  height: 21px;
}
/* line 384, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: 0 -521px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio span.checked {
  background-position: -80px -521px;
}
/* line 394, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}
/* line 401, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.active span {
  background-position: -20px -18px -521px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.active span.checked {
  background-position: -100px -521px;
}
/* line 411, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.hover span, div.radio.focus span {
  background-position: -40px -36px -521px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.hover span.checked, div.radio.focus span.checked {
  background-position: -120px -521px;
}
/* line 420, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.hover.active span, div.radio.focus.active span {
  background-position: -60px -521px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.hover.active span.checked, div.radio.focus.active span.checked {
  background-position: -140px -521px;
}
/* line 431, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.disabled span, div.radio.disabled.active span {
  background-position: -160px -521px;
}
/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.radio.disabled span.checked, div.radio.disabled.active span.checked {
  background-position: -180px -521px;
}

/* Uploader */
/* line 443, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader {
  background-position: 0 -542px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
/* line 451, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader span.action {
  background-position: right -654px;
  height: 28px;
  line-height: 28px;
  width: 82px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
}
/* line 463, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: default;
  height: 24px;
  margin: 2px 0 2px 2px;
  line-height: 24px;
  width: 85px;
  padding: 0 10px;
}
/* line 474, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%;
}
/* line 486, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.active span.action {
  background-position: right -710px;
}
/* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.hover, div.uploader.focus {
  background-position: 0 -598px;
}
/* line 494, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.hover span.action, div.uploader.focus span.action {
  background-position: right -682px;
}
/* line 499, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.hover.active span.action, div.uploader.focus.active span.action {
  background-position: right -738px;
}
/* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.disabled, div.uploader.disabled.active {
  background-position: 0 -570px;
}
/* line 508, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  background-position: right -626px;
}

/* Buttons */
/* line 516, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button {
  background-position: 0 -966px;
  height: 50px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */
}
/* line 523, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button a, div.button button, div.button input {
  opacity: 0.01;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* line 533, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 54px;
  text-align: center;
  background-position: right -766px;
  height: 54px;
  margin-left: 0px;
  padding: 0px 15px 0 0px;
}
/* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.active {
  background-position: 0 -1016px;
}
/* line 546, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.active span {
  background-position: right -816px;
  cursor: default;
}
/* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.hover, div.button.focus {
  background-position: 0 -1066px;
}
/* line 555, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.hover span, div.button.focus span {
  background-position: right -866px;
}
/* line 93, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.disabled, div.button.disabled.active {
  background-position: 0 -1116px;
}
/* line 563, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
div.button.disabled span, div.button.disabled.active span {
  background-position: right -916px;
  cursor: default;
}

/* INPUT & TEXTAREA */
/* line 57, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  background-color: #fff;
  padding: 0 14px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 50px;
  line-height: 3.125rem;
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #696969;
  border: solid 2px #e9e9e9;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
}

/* PRESENTATION */
/* Buttons */
/* line 83, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.button {
  width: 100%;
}
/* line 86, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.button span {
  font-weight: bold;
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  color: #4c4c4c;
  padding-left: 13px;
  background: #f6c74c;
}
/* line 102, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.button.disabled span, div.button.disabled.active span {
  color: #4c4c4c;
}

/* Select */
/* line 113, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector.focused {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
}
/* line 3, /Users/justin/projects.dp/poses/source/Presentation/includes/css/mixins/_old-ie.scss */
.old-ie div.selector.focused {
  outline: solid 1px #dfdfdf;
}
/* line 117, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector span {
  color: #696969;
  text-shadow: 0 1px 0 white;
}
/* line 122, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector select {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  padding-left: 20px;
}
/* line 127, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector select:focus:before {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
/* line 3, /Users/justin/projects.dp/poses/source/Presentation/includes/css/mixins/_old-ie.scss */
.old-ie div.selector select:focus:before {
  outline: solid 1px #dfdfdf;
}
/* line 133, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector.disabled span, div.selector.disabled.active span {
  color: #bbb;
}

/* Select Selected, add all inverted background wrappers */
/* line 147, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector.selected,
.select-inverted div.selector.selected,
.select-inverted-mobile div.selector.selected,
.sidebar div.selector.selected,
.comments div.selector.selected,
.my-account-subheader div.selector.selected {
  background-position: 0 -450px;
}
/* line 151, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector.selected span,
.select-inverted div.selector.selected span,
.select-inverted-mobile div.selector.selected span,
.sidebar div.selector.selected span,
.comments div.selector.selected span,
.my-account-subheader div.selector.selected span {
  color: #fff;
  text-shadow: none;
  background-position: right -200px;
}
/* line 157, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.selector.selected.active span,
.select-inverted div.selector.selected.active span,
.select-inverted-mobile div.selector.selected.active span,
.sidebar div.selector.selected.active span,
.comments div.selector.selected.active span,
.my-account-subheader div.selector.selected.active span {
  color: #696969;
}

/* Sidebar Select Inverted for non-Mobile */
/* line 167, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted div.selector,
.comments div.selector {
  background-position: 0 -300px;
}
/* line 173, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted div.selector span,
.comments div.selector span {
  color: #696969;
  text-shadow: none;
  background-position: right -100px;
}
/* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted div.selector.active span,
.comments div.selector.active span {
  color: #696969;
}

/* line 190, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted div.selector.selected.active span,
.comments div.selector.selected.active span {
  color: #fff;
  text-shadow: none;
}

/* Sidebar Select Inverted - Mobile First */
/* line 203, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted-mobile div.selector,
.sidebar div.selector,
.my-account-subheader div.selector {
  background-position: 0 -300px;
}
/* line 207, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted-mobile div.selector span,
.sidebar div.selector span,
.my-account-subheader div.selector span {
  color: #696969;
  text-shadow: none;
  background-position: right -100px;
}
/* line 213, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted-mobile div.selector.active span,
.sidebar div.selector.active span,
.my-account-subheader div.selector.active span {
  color: #696969;
}

/* line 223, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.select-inverted-mobile div.selector.selected.active span,
.sidebar div.selector.selected.active span,
.my-account-subheader div.selector.selected.active span {
  color: #fff;
  text-shadow: none;
}

/* Checker */
/* line 232, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.checker {
  margin-right: 5px;
}
/* line 236, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.checker input:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 0 none;
}
/* line 241, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.checker input[type="checkbox"]:focus:before {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  content: " ";
  vertical-align: top;
}
/* line 3, /Users/justin/projects.dp/poses/source/Presentation/includes/css/mixins/_old-ie.scss */
.old-ie div.checker input[type="checkbox"]:focus:before {
  outline: solid 1px #dfdfdf;
}
/* line 247, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.checker input[type="checkbox"]:focus:before {
  height: 21px;
  width: 20px;
}

/* Radio */
/* line 255, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.radio {
  margin-right: 3px;
}
/* line 259, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.radio input[type="radio"]:focus:before {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  content: " ";
  vertical-align: top;
}
/* line 3, /Users/justin/projects.dp/poses/source/Presentation/includes/css/mixins/_old-ie.scss */
.old-ie div.radio input[type="radio"]:focus:before {
  outline: solid 1px #dfdfdf;
}
/* line 265, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.radio input[type="radio"]:focus:before {
  height: 21px;
  width: 20px;
}

/* line 272, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
.radio .focused {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 0 none;
}

/* Uploader */
/* line 280, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.uploader span.action {
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}
/* line 287, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.uploader span.filename {
  color: #777;
  border-right: solid 1px #bbb;
  font-size: 11px;
}
/* line 294, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa;
}
/* line 298, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa;
}

/* line 306, /Users/justin/projects.dp/poses/source/Presentation/includes/css/uniform-understood.scss */
input.uniform-input, input.uniform-input:focus {
  background-color: #fff;
}

@media only screen and (min-resolution: 124dpi), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
  /* line 56, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
  div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../images/sprite.uniform.1200.png");
    background-size: 600px;
  }

  /* line 67, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
  input.uniform-input,
  select.uniform-multiselect,
  textarea.uniform {
    background-image: url(none);
    background-size: 1px;
  }
  /* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/vendor/uniform-base.scss */
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background-image: url(none);
  }
}
