/**
 * SASS partial for partners-carousel module.
 */

.partners-carousel {
  padding: 0;

  .rsContainer {
    min-height: 197px;
  }

  @include bp($bp-small-plus) {
    padding: 48px 6.5% 0;
  }

  @include bp($bp-medium) {
    height: 230px !important;
    padding: 48px 0;
  }

  #partners-slides-container {

    margin: 0 0 22px;

    @include bp($bp-small-plus) {
      margin-top: -30px;
      height: 220px !important;
    }

  }// #partners-slides-container 

  .rsOverflow {
    border-bottom: 1px solid #c6c5c5;

    @include bp($bp-small) {
      height: 85% !important;
      width: 100% !important;
    }

    @include bp($bp-small-plus) {
      height: 90% !important;
    }

  }// .rsOverflow

  .rsSlide {
    @include bp($bp-small) {
      position: absolute;
    }

  }// .rsSlide

  ul {
    list-style: none;
    margin: 0 0 0 6%;
    padding: 0;

    @include bp($bp-small) {
      margin-left: 4%;
    }

    @include bp($bp-small-plus) {
      margin-left: 0%;
    }

    li {
      display: inline-block;
      margin: 15% 0 105px 10%;
      position: relative;
      vertical-align: middle;
      width: 45%;

      @include bp($bp-small) {
        margin: 8% 5% 0 0;
        width: 20%;
      }

      @include bp($bp-small-plus) {
        margin: 15% 0 0 5%;
        width: 21%;
      }

      @include bp($bp-medium) {
        margin: 75px 2% 5%;
        width: 21%;
      }

      @include bp($bp-large) {
        margin-top: 90px;
        width: 16%;
      }

      &:nth-child(2n+1) {
        margin-left: 0;

        @include bp($bp-small-plus) {
          margin-left: 5%;
        }

        @include bp($bp-medium) {
          margin-left: 3%;
        }

      }

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        height: auto;
        width: auto;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        filter: grayscale(100%);
        filter: gray; 

        &:focus {
          outline: none;
          box-shadow: 0px 0px 3px #426da9;
        }
        &:focus, &:hover {
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          -ms-filter: grayscale(0%);
          -o-filter: grayscale(0%);
          filter: none; /* IE 6-9 */
        }
      }

      img {
        height: auto;
        width: 100%;
        display: block;

        @include bp($bp-small){
          max-width: 100%;
        }

      }// img

    }// li

  }// #partners-slides-container .ul

  .viewAll {
    display: none;
    position: absolute;
    top: 8px;
    right: 111px;
    font-size: 16px;
    color: #298fc2;
    
    @include bp($bp-medium) {
      display: block;
      right: 51px;
    }

  }// .viewAll

  .rsArrowIcn {
    z-index: 2;
    
    @include bp($bp-small-plus){
      top: 0;
      bottom: initial;
    }

  }

  .rsArrowLeft .rsArrowIcn {

    top: auto;
    bottom: 26px;
    right: 50%;
    margin-right: 15px;
       
    @include bp($bp-small-plus){
      margin-right: 0;
      top: 5px;
      right: 54px;
    }

    @include bp($bp-medium) {
      right: 125px;
    }

  }// .rsArrowLeft

  .rsArrowRight .rsArrowIcn {
    top: auto;
    bottom: 26px;
    right: auto;
    left: 50%;
    margin-left: 15px;

    @include bp($bp-small-plus) {
      left: auto;
      margin-left: 0;
      top: 5px;
      right: 6px;
    }

  }// .rsArrowRight

}// .partners-carousel