//g2, g3, g4, g5, A8, mini tools module, etc.
h2.rs_read_this,
.more-to-explore-container .rsContainer .rs_read_this,
.archive header,
.community-parents .community-parents-heading-wrapper,
.parent-toolkit .header-parent-toolkit h2,
.featured-parent-questions h2,
.community-groups-wrapper h2,
.dl-list-results h2.rs_read_this,
.results .dl-list-results h2.rs_read_this,
.community-blog-posts-author-specific .blog-post-list-wrapper h2.rs_read_this,
.my-account-subheader h2,
.whats-happening-page h2.rs_read_this,
.discussion-box, .discussion-post, .discussion-list h2 .rsb,
.expert-blog-posts-title, .expert-events-title h3.rs_read_this,
.about-experts-listing h3,
.tech-results-wrapper h3,
.tech-search-results h3,
.container.listing .rs_read_this,
.featured-event,
.mini-tool,
.article-listing-container .listing-row .col-11,
.article-listing .article,
.article-tips-item,
.comment-wrapper,
.deep-dive-article-container,
.parents-are-saying-container .rs_read_this,
.parents-are-saying-heading-rs-wrapper,
.event-cards .rs_read_this,
.events-chat .event-card,
.calendar-list .event-card,
.event-container,
.community-groups .group-cards .group-card,
.upcoming-events .event-card,
.newsletter-signup-rs-wrapper,
.article-tips-intro-text, .article-intro-text-wrapper,
.past-chat-rs-wrapper,
.account-notifications-tab-text,
.discussion-board-rs-wrapper, .individual-group,
.dl-quiz-wrapper,
.review-intro,
.header-title,
.community-main-header .header-title,
.newsletter-signup-rs-wrapper,
.about-experts-listing .about-expert,
.article-basic-rs-wrapper .rs_read_this,
.about-the-author-rs-wrapper,
.more-carousel .more-carousel-heading-rs-wrapper,
.article-basic-sidebar-rs-wrapper,
.what-you-need-to-know-rs-wrapper,
.search-result,
.article-intro-rs-wrapper,
.article-glossary-rs-wrapper,
.article-assessment-quiz-rs-wrapper,
.article-knowledge-quiz-rs-wrapper,
.article-rs-wrapper,
.terms-container-rs-wrapper,
.landing-modules,
.landing-notifications.landing-modules,
.landing-modules.my-connections .member-card,
.notification-item,
.account-notifications-tab-notifications-empty,
.account-notifications-tab-text-form,
.account-notifications-tab-email,
.my-groups-discussion-form,
.events-tabs-one-rs-wrapper,
.events-tabs-two-rs-wrapper,
.events-tabs-three-rs-wrapper,
.account-mycomments .mycomment-item,
.myfavorites-list,
.my-connections .member-card-container .member-card,
.connections-activity-feed .feed-item,
.account-connect-links,
.sign-in-prompt-links,
.member-view-children,
.member-view-interests,
.member-view-groups,
.children-interests,
.children-groups,
.children-container,
.friends-view-rs-wrapper,
.friends-view-three-rs-wrapper,
.member-card,
.try-another-quiz-rs-wrapper, .article-checklist-rs-wrapper,
.article-landing-rs-wrapper,
.article-intro-rs-wrapper,
.rsContent .comment-gallery-rs-wrapper,
.comment-gallery-rs-wrapper,
.behavior-tip-detail, .expert-advice-wrapper,
.parents-are-saying-rs-wrapper,
.profile-questions-header .progress-bar-wrapper,
.calendar-list .event-card,
.community-parents-recommended-wrapper,
.group-summary.rs_read_this,
.groups-heading.rs_read_this,
.featured-group.group-summary.rs_read_this,
.groups-heading.rs_read_this,
.community-my-blogs .blog-card,
.group-card,
.events-chat .event-cards .event-card,
.event-cards-heading-rs-wrapper,
.experts-page .event-content,
.more-to-explore,
.live-chat-rs-wrapper,
.experts-page .past-chat-rs-wrapper,
.parent-groups-recommended-rs-wrapper,
.individual-board .search-board,
.blogs-more .blog-card,
.individual-group,
.community-blog-post-list .blog-post,
.bloggers-more .blogger-card-info,
.box-search,
.results-mispelling-rs-wrapper,
.zero-results-inner-rs-wrapper,
.l-results-and-filter,
.about-understood-video-rs-wrapper,
.about-understood-rs-wrapper,
.get-advice, .about-contact-block, .donate,
.listing-content,
.partner-heading,
.partner-copy,
.partner-logo,
.partners-detail-rs-featured-wrapper,
.partners-detail-rs-twitter-wrapper,
.partners-detail-rs-facebook-wrapper,
.founding-container .founding-carousel-outer-rs-wrapper,
.partner-block,
.partners-list-rs-wrapper,
.our-partners-intro,
.l-about-experts-intro-carousel .about-experts-introduction,
.l-about-experts-intro-carousel .about-experts-event-carousel,
.l-about-experts-intro-carousel .about-experts-event-carousel .about-expert-data,
.about-experts-listing, .about-experts-listing .about-expert,
.expert-bio-rs-wrapper,
.signup-intro-container,
.child-nickname,
.email-itemize-title,
.personalize-interests-title,
.personalize-interests-rs-wrapper, .itemize-child-rs-wrapper,
.email-sign-up-rs-wrapper,
.recommended-item,
.l-about-hero-intro,
.l-page-not-found-promos,
.about-donate-rs-wrapper,
.take-action-rs-wrapper,
.advocacy-issues-rs-wrapper,
.advocacy-article-rs-wrapper,
.sidebar-promos,
.article .skiplink-sidebar .sidebar-promos,
.rs_about_author,
.rs_reader_poll,
.member-view-children,
.children-container,
.events-chat .no-webinars,
.blog-comments-rs-wrapper,
.experts-page .past-chat-rs-wrapper,
.parent-toolkit .tools-container,
.article-slideshow-container,
.infographic,
.behavior-advice-wrapper,
.member-card-container,
.experts-nav-form,
.archive .event-card,
.experts-page .event,
.card-parent-question,
.card-answer,
.options-search,
.featured-group,
.individual-group .discussion-box,
.search-board,
.blog-card,
.member-view-children .rs_read_this,
.item-recos-rs-wrapper,
.recos-promo-rs-wrapper,
.support-select-issues,
.select-child-wrapper,
.find-this-helpful,
.deep-dive-article-container .rs_read_this,
.toolkit-overlay,
.community-main-header .rs_read_this,
.join-discussion,
.article-actions-wrapper {
  position: relative;
}

//shared
.experts-page .event .event-sidebar {
  @include top_rs_btn_responsive(0, -25px, -25px);
  @include left_rs_btn_responsive(0, -25px, -25px);
}

//layout specific

// A8
.deep-dive-article-container {
  @include top_rs_btn_responsive(-20px, -40px, -40px);
}

//A12/A13
.count-mobile {
  @include left_rs_btn_responsive(0, 0, 0);
}

// A10, m21
.skiplink-sidebar , .article .skiplink-sidebar  {
  @include top_rs_btn_responsive(-20px, -30px, -30px);
}

.article-actions-wrapper  {
  @include top_rs_btn_responsive(-34px, -30px, -30px);
}

//ab7a
h2.rs_read_this,
.blog-post .blog-post-sidebar,
.signup-intro-container,
.more-to-explore h2.rs_read_this
{
  @include top_rs_btn_responsive(-20px, -40px, -40px);
}

h3.rs_read_this .rsbtn_player {
  @include left_rs_btn_responsive(-13px, 0px, -38px);
  @include top_rs_btn_responsive(0px, 0px, 0px);
  @include bp($bp-small-plus) {
    margin-top: 0px;
    margin-left: 0px;
  }
  @include bp(min-width 1040px) {
    margin-top: 0px;
    margin-left: 0px;
  }
}

//header title
.header-title {
  @include left_rs_btn_responsive(-13px, -13px, -26px);
  @include top_rs_btn_responsive(-38px, -38px, -26px);
}

.community-main-header .nav-secondary {
  @include left_rs_btn_responsive(2px, 2px, -20px);
  @include top_rs_btn_responsive(-20px, -25px, -25px);
}

.community-main-header .header-title {
  @include left_rs_btn_responsive_detail(-13px, -13px, -13px, -20px);
  @include top_rs_btn_responsive_detail(-38px, -38px, -38px, -26px);
}

//footer newsletter signup
.newsletter-signup-rs-wrapper {
  @include left_rs_btn_responsive_detail(-13px, -13px, -13px, -38px);
  @include top_rs_btn_responsive_detail(-14px, -43px, -43px, -38px);
}

h1.rs_read_this {
  @include top_rs_btn_responsive(10px, 15px, 15px);
}

.advocacy-pagetopic.take-action-rs-wrapper {
  @include top_rs_btn_responsive(-40px, -35px, -35px);
  @include left_rs_btn_responsive_detail(-13px, 0px, 2px, -35px);
}
.page-topic.no-share h1.rs_read_this {
  @include top_rs_btn_responsive_detail(-34px, -40px, -40px, 13px);
  @include left_rs_btn_responsive_detail(-13px, 0px, 2px, -35px);
}
.page-topic.with-share h1.rs_read_this {
  @include top_rs_btn_responsive(-34px, 12px, 15px);
  @include left_rs_btn_responsive(-13px, 0px, 2px);
}

h1.rs_read_this,
.page-topic.behavior-page-topic h1.rs_read_this,
.page-topic.no-bottom-margin h1.rs_read_this,
.page-topic.at3-rs-wrapper h1.rs_read_this {
  @include left_rs_btn_responsive(-13px, -30px, -34px);
}

h2.rs_read_this {
  @include left_rs_btn_responsive_detail(-13px, -12px, -12px, -38px);
}

//ab10 + ad1
.l-thank-you-recommended .recommended-grid {
  h2.rs_read_this {
    .rsbtn_player {
      top: -40px;
      left: 2px;
    }
  }
}

.comment-list {
  h2.rs_read_this {
    @include left_rs_btn_responsive_detail(-13px, -23px, -23px, -38px);
  }
}

.dl-list-results h2.rs_read_this {
  @include left_rs_btn_responsive(2px, 0px, -35px);
}

.take-action h2.rs_read_this {
  @include left_rs_btn_responsive(2px, 2px, -20px);
}

.landing.dl-wrapper h1.rs_read_this {
  @include top_rs_btn_responsive(-35px, -35px, -33px);
  @include left_rs_btn_responsive(-13px, -34px, -34px);
}

.results .dl-list-results .result-section h2.rs_read_this {
  @include top_rs_btn_responsive(-44px, -32px, -32px);
  @include left_rs_btn_responsive(-33px, -33px, -30px);
}

.community-blog-posts-author-specific .blog-post-list-wrapper h2.rs_read_this {
  @include left_rs_btn_responsive_detail(-13px, 0px, 0px, -30px);
}

//profile questions container
.profile-questions h2
{
  @include left_rs_btn_responsive(2px, 2px, -30px);
}

h3.rs_read_this {
  @include top_rs_btn_responsive(-20px, -20px, -34px);
  @include left_rs_btn_responsive(-13px, -30px, -34px);
}

.advice-results h3.rs_read_this {
  @include top_rs_btn_responsive_detail(-35px, -36px, -34px, -34px);
  @include left_rs_btn_responsive_detail(2px, 0px, 0px, -34px);
}

//c28
.community-bloggers-more h3.rs_read_this {
  @include top_rs_btn_responsive(10px, 18px, 18px);
}

.community-bloggers-more .blogger-card {
  .rsbtn_player {
    left: -10px;
    top: 0;
  }
}


//ab5
.about-experts-listing h3.rs_read_this {
    @include left_rs_btn_responsive(-13px, -20px, -30px);
}

.about-the-author, .blog-post-content-rs-wrapper, .blog-feature, .blog-post-content-rs-wrapper {
  &.rs_read_this {
    position: relative;
  }
  .rs_read_this {
    position: relative;
  }
}

//g5
.article-tips-intro-text, .article-intro-text-wrapper {
  @include top_rs_btn_responsive(-35px, -35px, -25px);
  @include left_rs_btn_responsive(-13px, -25px, -40px);
}


//A1
.more-carousel .more-carousel-heading-rs-wrapper {
  @include left_rs_btn_responsive_detail(2px, -13px, -13px, -36px);
  @include top_rs_btn_responsive_detail(-20px, -37px, -37px, -37px);
}

//a1
.article-basic-sidebar-rs-wrapper {
  .rsbtn_player {
    display: none;
    @include bp($bp-small-plus) {
      display: block;
    }
  }
}

// more-like-this module
.article-intro-text {
  @include top_rs_btn_responsive(-34px, -34px, -20px);
}

// more to explore / featured carousel
.more-carousel, .featured-recommended {
  @include left_rs_btn_responsive(-10px, -39px, -39px);
  @include top_rs_btn_responsive(-30px, 1px, 1px);
}

.featured-recommended {
  @include top_rs_btn_responsive(-30px, 1px, 1px);
}

.more-carousel {
  @include top_rs_btn_responsive(25px, 1px, 1px);
}

// A7
.article-intro-rs-wrapper,
.article-rs-wrapper
{
  @include left_rs_btn_responsive(-13px, 2px, 2px);
}

.article-audio-count.count-mobile {
  @include left_rs_btn_responsive(2px, 2px, 2px);
}

// A10 A11, A12, m24
.tab-container .etabs,
.forgot-password, .forgot-password-confirmation, .reset-password
{
  @include top_rs_btn_responsive(-40px, -20px, -20px);
}

.tab-container .etabs,
.forgot-password, .forgot-password-confirmation, .reset-password,
.friends-view-three-rs-wrapper
{
  @include top_rs_btn_responsive(-40px, -20px, -20px);
}

.my-events-tabs .etabs-dropdown {
  @include top_rs_btn_responsive(-34px, -34px, -34px);
  @include left_rs_btn_responsive(2px, 2px, 2px);
}

.tab-container {
  @include top_rs_btn_responsive_detail(-35px, -15px, -20px, -58px);
  @include left_rs_btn_responsive_detail(-13px, -25px, -30px, -20px);
}

.account-notification-tabs .tab-container {
  @include top_rs_btn_responsive_detail(-35px, -42px, -20px, -42px);
  @include left_rs_btn_responsive_detail(0px, -25px, -30px, -20px);
}

.assistive-tech-topic-wrapper {
  @include top_rs_btn_responsive(-34px, -29px, -34px);
  @include left_rs_btn_responsive(-13px, -33px, -37px);
}

.at3-wrapper .tab-container {
  @include top_rs_btn_responsive_detail(-35px, -15px, -20px, -20px);
}

//m2
.terms-container {
  @include top_rs_btn_responsive(-25px, 12px, 12px);
  @include left_rs_btn_responsive(2px, -14px, -14px);
}

//m2c
.terms-container-rs-wrapper {
  @include top_rs_btn_responsive(-40px, -9px, -9px);
}

//m6
.landing-modules {
  @include left_rs_btn_responsive(-13px, -11px, -11px);
}

//m7b and m7c
.notification-item, .account-notifications-tab-notifications-empty, .account-notifications-tab-text-form, .account-notifications-tab-email  {
  .icon-play, .icon-pause {
    background-image: none;
  }
}

//m7b
.notification-feed-wrapper {
  @include left_rs_btn_responsive(-13px, -30px, -53px);
  @include top_rs_btn_responsive(-13px, -29px, -29px);
}

//m7c
.account-notifications-tab-notifications-empty {
  @include top_rs_btn_responsive(-20px, 16px, 22px);
}

//m9a
.account-notifications-tab-email {
  @include left_rs_btn_responsive_detail(-13px, 0px, 0px, -40px);
  @include top_rs_btn_responsive_detail(-38px, -50px, -50px, -50px);
}

//m10
.profile-wrap {
  .children-section, .community-section, .privacy-section, .contact-section, .login-section {
    @include left_rs_btn_responsive(-13px, -30px, -42px);
    @include top_rs_btn_responsive(-11px, -5px, -5px);
  }
}

//m12 and m13
.events-tabs-one-rs-wrapper, .events-tabs-two-rs-wrapper, .events-tabs-three-rs-wrapper {
  &:first-child {
    @include left_rs_btn_responsive(-13px, -20px, -20px);
    @include top_rs_btn_responsive(-40px, -20px, -20px);
  }
  @include top_rs_btn_responsive(-20px, 36px, 36px);
}

//m15
.account-mycomments .mycomment-item {
  &:first-child {
    @include left_rs_btn_responsive(-13px, -20px, -20px);
    @include top_rs_btn_responsive(-40px, -20px, -20px);
  }
}

//m16, ab9a
.myfavorites-list, .about-donate-rs-wrapper  {
  @include top_rs_btn_responsive(-40px, -40px, -40px);
}

//m18
.connections-activity-feed .feed-item {
  @include top_rs_btn_responsive(13px, 9px, 9px);
}

//m19
.account-connect-links {
  @include bp($bp-small-plus) {
    position: inherit;
  }
  @include top_rs_btn_responsive(-40px, -22px, -32px);
  @include left_rs_btn_responsive(-13px, -22px, -40px);
  .rsbtn_player {
    @include bp(($bp-small)($bp-small-plus)) {
      top: -24px;
    }
  }
}

//m20
.sign-in-prompt-links {
  @include top_rs_btn_responsive(50px, 50px, 50px);
  @include left_rs_btn_responsive(30%, 40%, 40%);
}

.member-view-children, .children-container {
  @include top_rs_btn_responsive(-40px, -40px, -28px);
}

.member-view-interests, .member-view-groups, .children-interests, .children-groups {
  @include top_rs_btn_responsive(-40px, -7px, -7px);
}

.children-interests, .children-groups {
  @include top_rs_btn_responsive(-13px, -30px, -30px);
}

//m24
.friends-view-three-rs-wrapper, .account-notifications-tab-notifications-empty {
  @include left_rs_btn_responsive(-13px, -30px, -36px);
}

//my account subheader
.my-account-subheader {
  @include top_rs_btn_responsive(-6px, -30px, -30px);
  @include left_rs_btn_responsive(2px, -20px, -20px);
}

.comment-wrapper {
  @include top_rs_btn_responsive(8px, 0px, 0px);
}
// article quiz
.try-another-quiz-rs-wrapper, .article-checklist-rs-wrapper {
  @include left_rs_btn_responsive_detail(-13px, -13px, -13px, -34px);
}
// A18
.article-landing-rs-wrapper {
  @include left_rs_btn_responsive(1px, 0px, -13px);
}

// A19
.inner-container {
  @include left_rs_btn_responsive(-13px, 26px, 26px);
  @include top_rs_btn_responsive(-20px, 10px, 10px);
  .rsbtn_player {
    @include bp(max-width 649px) {
      display: none;
    }
  }
}

.toolkit-thumbnails-container .thumbnail {
  .rsbtn_player {
    display: none;

    @include bp($bp-small-plus) {
      display: block;

      &.rshidden {
        display: none;
      }
    }
  }
}

.toolkit-thumbnails-container {
  @include left_rs_btn_responsive(26px, 26px, 26px);
  @include top_rs_btn_responsive(10px, 10px, 10px);
}

//b1
.rsContent .comment-gallery-rs-wrapper {
  @include left_rs_btn_responsive(-47px, -47px, -47px);
  @include top_rs_btn_responsive(-52px, -52px, -52px);
}

.comment-gallery-rs-wrapper {
  @include left_rs_btn_responsive_detail(2px, 0px, 0px, -42px);
}

//b2
.advice-results .results-outer-wrapper {
  @include left_rs_btn_responsive(0px, -20px, -20px);
  @include top_rs_btn_responsive(0px, -20px, -20px);
}

//carousels
.community-parents-carousel .member-cards,
.rsContent .rsbtn_player, .rsContent .event-card, .article .article-slideshow-container .rsContainer, .item-recos-rs-wrapper, .parents-wrapper {
  @include left_rs_btn_responsive(0px, 0px, 0px);
  @include top_rs_btn_responsive(0px, 0px, 0px);
}

.recos-upcoming-events .event-card {
  @include left_rs_btn_responsive(0px, 0px, 40px);
  @include top_rs_btn_responsive(0px, 0px, 0px);
}

//behavior pages
//b3 
.behavior-tip-detail, .expert-advice-wrapper {
  @include top_rs_btn_responsive(-84px, -20px, -20px);
}

.behavior-page-topic {
  @include top_rs_btn_responsive(-38px, -38px, -31px);
  @include left_rs_btn_responsive(-13px, -31px, -34px);
}

//at1a toolbar and at2a toolbar
.at-search-tool-wrapper .rsbtn_player {
  @include left_rs_btn_responsive(8px, 0px, -13px);
  @include top_rs_btn_responsive(-53px, -53px, -13px);
}

.search-tool-layout-wrapper.at2-wrapper {
  @include left_rs_btn_responsive(-20px, 0px, -13px);
}

//at1a title
.hero-text , .hero-content  {
  @include top_rs_btn_responsive(-22px, 3px, 3px);
  @include left_rs_btn_responsive_detail(0px, 0px, -5px, -39px);
}

.parents-are-saying-rs-wrapper {
  @include left_rs_btn_responsive(-50px, -50px, -50px);
  @include top_rs_btn_responsive(-50px, -50px, -50px);
}

// complete my profile pages
.profile-questions-header {
  @include left_rs_btn_responsive(2px, -30px, -30px);
  @include top_rs_btn_responsive(40px, 5px, 5px);
  // progress bar wrapper pp1a

  .progress-bar-wrapper {
    @include left_rs_btn_responsive(-13px, -30px, -41px);
  }
}

//profile questions container
.profile-bar-container {
  @include left_rs_btn_responsive(2px, -13px, 22px);
  @include top_rs_btn_responsive(13px, 13px, 13px);
}

.question-wrapper {
  @include left_rs_btn_responsive(2px, -13px, -22px);
}

// r5
.registration-profile {
  &.about-child {
    @include left_rs_btn_responsive(2px, -27px, -27px);
  }
  //r6
  &.community-profile {
    @include left_rs_btn_responsive(2px, 8px, 8px);
    @include top_rs_btn_responsive(-40px, -34px, -34px);
  }
}

// community pages
.grid-row {
  .rs_read_this {
    position: static;
  }
}

//dl, more-to-explore module
.recommended-for, .was-this-helpful, .event-sidebar, .dl-wrapper h1.rs_read_this {
  @include left_rs_btn_responsive(-35px, -35px, -35px);
}

.more-to-explore-container {
  @include left_rs_btn_responsive(-33px, -35px, -35px);
}

.dl-wrapper h1.rs_read_this {
  @include top_rs_btn_responsive(-35px, 0, 0);
}

//c1
#welcome-slides-container {
  @include top_rs_btn_responsive(1px, 1px, 1px);
  @include left_rs_btn_responsive(1px, 1px, 1px);
}

//c2a
.whats-happening-page h2.rs_read_this {
  @include left_rs_btn_responsive_detail(0px, -13px, -13px, -25px);
}

.suggest-webinar-form {
  @include left_rs_btn_responsive(0px, 0px, 0px);
}

.multiple-events, .single.day {
  @include left_rs_btn_responsive_max_detail(-13px, -13px, -20px, -20px, -20px);
  @include top_rs_btn_responsive_max_detail(-26px, -26px, -20px, -20px, -20px);
}

.recent-questions, .community-members, .community-groups-wrapper, .community-blogs-wrapper .blog-card {
  @include left_rs_btn_responsive(0, 0, 0);
  @include top_rs_btn_responsive(0, 0, 0);
}

//c5
.archive header {
  @include left_rs_btn_responsive_detail(2px, 0px, 0px, -32px);
  @include top_rs_btn_responsive_detail(-40px, -38px, -38px, -28px);
}

.community-parents-heading-wrapper {
  @include top_rs_btn_responsive(-35px, -35px, -35px);
  @include left_rs_btn_responsive(-13px, -13px, -20px);
}

.community-parents-recommended-wrapper {
  @include left_rs_btn_responsive(-7px, -7px, -7px);
}

.groups-heading.rs_read_this  {
  @include left_rs_btn_responsive(-40px, -40px, -40px);
}

//c2b
.parent-groups.individual-board .groups-heading {
  @include top_rs_btn_responsive(-36px, 28px, 28px);
}

//4b
.calendar-list .event-card.webinar, .calendar-list .event-card.chat {
  @include left_rs_btn_responsive_detail(-13px, -13px, 0px, -13px);
}

.experts-page.webinar.upcoming {
  .event {
    @include left_rs_btn_responsive_detail(-13px, -20px, -20px, -20px);
  }
  .events-chat .event-card {
    @include left_rs_btn_responsive_detail(-28px, -13px, 0px, -13px);
  }
}

//c7
.events-chat .event-cards {
  @include top_rs_btn_responsive_detail(-35px, -40px, -40px, -25px);
  @include left_rs_btn_responsive_detail(-13px, 0px, 0px, -37px);
  .event-card-heading-wrapper {
    @include left_rs_btn_responsive_detail(-2px, 0px, 0px, -38px);
    @include top_rs_btn_responsive_detail(-40px, -42px, -42px, -24px);
  }
}

.experts-page.chat.upcoming .events-chat .event-cards .event-card,
.question-wrapper
{
  @include top_rs_btn_responsive(-15px, -20px, -20px);
}

.experts-page.experts-landing .live-chat .event-cards .event-card {
  @include left_rs_btn_responsive_detail(16px, 16px, 16px, 16px);
  @include top_rs_btn_responsive_detail(10px, 10px, 10px, 10px);
}

.event-cards-heading-rs-wrapper {
  @include left_rs_btn_responsive(-40px, -25px, -25px);
  @include top_rs_btn_responsive(2px, -37px, -37px);
}

.experts-page h2.rs_read_this {
  @include top_rs_btn_responsive(-37px, -30px, -30px);
}

//more to explore title module
.more-to-explore {
  h2.rs_read_this {
    @include left_rs_btn_responsive(2px, -13px, -36px);
  }
}

//c3
.live-chat header, .experts-page .live-chat h2 {
  @include left_rs_btn_responsive_detail(2px, -13px, -20px, -30px);
  @include top_rs_btn_responsive_detail(3px, -37px, -37px, -37px);
}

// c7
.archive-rs-wrapper {
  @include left_rs_btn_responsive(-32px, -32px, -32px);
  @include top_rs_btn_responsive(-27px, -27px, -27px);
}

//c8
.live-chat-rs-wrapper {
  @include left_rs_btn_responsive(2px, -36px, -36px);
  @include top_rs_btn_responsive(-40px, -25px, -25px);
}

//m20
.experts-page .past-chat-rs-wrapper,
.dl-wrapper h1.rs_read_this,
.member-view-children, .children-container
{
  @include left_rs_btn_responsive(-13px, -13px, -40px);
}

// c9
.experts-page.archive-results {
  h2.rs_read_this {
    @include left_rs_btn_responsive(-13px, -30px, -30px);
  }
  .event-cards {
    @include left_rs_btn_responsive(-20px, -20px, -20px);
  }
}

//c10
.community-q-a, .community-parents, .community-blogs-more, .community-our-blogs, .community-blogs-main {
  h2.rs_read_this {
    position: relative;
    @include left_rs_btn_responsive_detail(-13px, -13px, -25px, -35px);
    @include top_rs_btn_responsive_detail(-35px, -40px, -40px, -28px);
  }
  .card {
    position: relative;
  }
}

//c11
.community-q-a-details-answers {
  .card-answer {
    @include top_rs_btn_responsive(5px, 5px, 5px);
  }
  .answer-title-wrapper {
    @include left_rs_btn_responsive(-13px, 0px, -30px);
    @include top_rs_btn_responsive(-40px, -40px, -10px);
  }
}

//c12
.callout-featured {
  @include left_rs_btn_responsive(-13px, -13px, -17px);
  @include top_rs_btn_responsive(65px, 65px, 34px);
}

.cta-cards {
  @include left_rs_btn_responsive(-11px, -11px, -25px);
  @include top_rs_btn_responsive(-11px,-11px, -11px);
}

//c15
.community-parents-rs-wrapper {
  @include left_rs_btn_responsive(-13px, -13px, 1px);
  @include top_rs_btn_responsive(20px, 20px, 26px);
}

//c16
.parent-groups-recommended-rs-wrapper {
  @include left_rs_btn_responsive(-2px, -2px, -2px);
}

.parent-groups .groups-heading.rs_read_this {
  @include left_rs_btn_responsive(1px, -37px, -37px);
  @include top_rs_btn_responsive(-38px, -25px, -25px);
}

//c17
.featured-group {
  @include left_rs_btn_responsive(2px, 2px, 2px);
}

//c19
.individual-board .search-board {
  float: left;
  @include bp($bp-large) {
    float: none;
  }
}

//c20
.discussion-list .discussion-post {
  @include top_rs_btn_responsive(-9px, -9px, -20px);
}

// c21
.community-blogs-main-rs-wrapper {
  @include left_rs_btn_responsive(-13px, 20px, 20px);
}

.community-our-blogs .blog-card, .toolkit-overlay {
  @include left_rs_btn_responsive(-13px, 0px, 20px);
}

.blogs-more .blog-card {
  @include left_rs_btn_responsive(0, 0, 0);
  @include top_rs_btn_responsive(0, 0, 0);
}

//c16a
.parent-groups .groups-heading {
  @include left_rs_btn_responsive(2px, 2px, -40px);
  @include top_rs_btn_responsive(-36px, -36px, -27px);
}

.individual-group {
  @include left_rs_btn_responsive(-13px, 0px, 3px);
  .discussions {
    @include top_rs_btn_responsive(-1px, -24px, -20px);
  }
}

//c27
.blog-comments-rs-wrapper {
  @include left_rs_btn_responsive(2px, 2px, -10px);
  @include top_rs_btn_responsive(-40px, -40px, -20px);
}

//c28
.blog-post .blog-feature {
  @include left_rs_btn_responsive(-14px, -13px, -20px);
  @include top_rs_btn_responsive(-22px, -20px, -20px);
}

.blog-post .blog-comments {
  @include left_rs_btn_responsive(2px, 2px, -20px);
}

.about-the-author {
  @include top_rs_btn_responsive(7px, 7px, 16px);
  @include left_rs_btn_responsive(-13px, 0px, -36px);
}
.community-blog-posts-author-specific .blog-post-content-rs-wrapper .about-the-author {
  @include top_rs_btn_responsive(7px, 7px, 16px);
}

.blog-featured-author {
  @include left_rs_btn_responsive(2px, 0px, 20px);
  @include top_rs_btn_responsive(4px, 4px, -20px);
}

.blog-author-posts h2.rs_read_this {
  @include left_rs_btn_responsive(2px, -35px, -35px);
}

//c10a
.community-q-a .box-search {
  @include top_rs_btn_responsive(-8px,-8px, -8px);
}

// other fixes (for other pages, perhaps)
.results-slider {
  text-indent: -99999px;
}

//ab1b, ab1c
.results-mispelling-rs-wrapper, .zero-results-inner-rs-wrapper {
  @include left_rs_btn_responsive(-13px, -22px, -22px);
  @include top_rs_btn_responsive(-40px, -31px, -31px);
}

.l-results-and-filter {
  @include left_rs_btn_responsive(-13px, 0px, -32px);
  @include top_rs_btn_responsive(-20px, -40px, -32px);
}

.search-result-container {
  @include top_rs_btn_responsive(-22px, -22px, -22px);
}

//ab2a
.about-understood-video-rs-wrapper, .about-understood-rs-wrapper {
  @include left_rs_btn_responsive(-13px, -37px,-37px);
}

.founding-container {
  @include left_rs_btn_responsive(0px, -20px, -20px);
}

.listing-content {
  @include top_rs_btn_responsive(-20px, -3px, -3px);
}

//ab2b
.founding-container {
  header {
    @include left_rs_btn_responsive(-13px, -33px,-33px);
    @include top_rs_btn_responsive(-20px, 13px, 13px);
  }
  .founding-carousel-outer-rs-wrapper {
    @include top_rs_btn_responsive(-12px, -12px, -12px);
  }
}

//ab3
.partner-block {
  @include top_rs_btn_responsive( -7px, 8px, 8px);
}

.partners-list-rs-wrapper {
  @include top_rs_btn_responsive( -40px, -17px, -17px);
}

//ab5
.l-about-experts-intro-carousel {
  .about-experts-introduction {
    @include left_rs_btn_responsive(2px, 2px, -25px);
    @include top_rs_btn_responsive( -40px, 2px, 2px);
  }
  .about-experts-event-carousel {
    .about-expert-data {
      @include left_rs_btn_responsive(0px, 0px, 20px);
      @include top_rs_btn_responsive(0px, 0px, 20px);
    }
  }
}

//ab6a
.expert-bio-rs-wrapper {
  @include left_rs_btn_responsive(-13px, 28px, 28px);
}

.expert-event-container, .expert-blog-post-container {
  .expert-event, .expert-blog-post {
    position: relative;
    @include left_rs_btn_responsive(-13px, 28px, 28px);
  }
}

//ab7b
.email-itemize-title, .personalize-interests-title {
  @include left_rs_btn_responsive(-13px, -30px, -35px);
  @include top_rs_btn_responsive(-40px, -28px, -28px);
}

.personalize-interests-rs-wrapper, .itemize-child-rs-wrapper {
  @include top_rs_btn_responsive(-10px, -20px, -20px);
  &.social-emotional-rs-wrapper, &.home-life-rs-wrapper {
    position: relative;
    @include left_rs_btn_responsive(-13px, -12px, -12px);
  }
}
//ab7e
.email-sign-up-rs-wrapper {
  @include top_rs_btn_responsive( -13px,  6px,  6px);
}

.l-about-hero-intro {
  @include left_rs_btn_responsive(2px, -13px, -20px);
  @include top_rs_btn_responsive(-15px, 4px, 4px);
  .rsbtn_player {
    @include bp(min-width 1028px) {
      left: -36px;
    }
  }
}

.l-page-not-found-promos {
  @include left_rs_btn_responsive(2px, -17px, -32px);
}

//ab9a
.about-donate-rs-wrapper {
  position: relative;
  @include left_rs_btn_responsive_detail(-13px, -13px, -18px, -36px);
}

.pay-by-check.about-donate-rs-wrapper,
.pay-by-credit.about-donate-rs-wrapper,
.form-group-rs-wrapper {
  .rsbtn_player {
    @include bp($bp-medium) {
      left: 96px;
    }
  }
}

//ad1
.take-action-rs-wrapper {
  @include left_rs_btn_responsive(2px, 0px, -20px);
}

// dl landing
.results .dl-quiz-wrapper {
  @include left_rs_btn_responsive(2px, -25px, -35px);
}

#rsToggle {
  z-index: 9999;
}

.related-tool-wrapper {
  @include left_rs_btn_responsive_detail(-13px, 0px, 60px, 60px);
}

//sidebar-promos module
//m24
//c7
//c3
//ab2a
//ad1
.sidebar-promos, .article .skiplink-sidebar .sidebar-promos,
.friends-view-tabs.friends-connections,
.events-chat .event-cards .event-card,
.experts-page.experts-landing .events-chat .event-cards .event-card,
.get-advice, .about-contact-block, .donate,
.take-action-rs-wrapper.take-action-signup
{
  @include left_rs_btn_responsive(-13px, -20px, -20px);
  @include top_rs_btn_responsive(-20px, -20px, -20px);
}

.skiplink-sidebar {
  display: none;
  @include bp($bp-small-plus) {
    display: block;
  }
}

//ab4, ab5, at2a, c2a, c27, ab2a
.partner-heading,
.partners-detail-rs-featured-wrapper,
.partners-detail-rs-twitter-wrapper,
.partners-detail-rs-facebook-wrapper,
.l-about-experts-intro-carousel .about-experts-event-carousel,
.page-topic.behavior-page-topic h1.rs_read_this,
.page-topic.no-bottom-margin h1.rs_read_this,
.page-topic.at3-rs-wrapper h1.rs_read_this,
.comment-list h2.rs_read_this,
.community-blog-posts-author-specific .blog-post-list-wrapper h2.rs_read_this,
.expert-blog-posts-title,
.expert-events-title h3.rs_read_this,
.about-experts-listing h3.rs_read_this,
.tech-results-wrapper,
.tech-search-results h3,
.transcript-wrap,
.account-mycomments .mycomment-item,
.parents-are-saying-heading-rs-wrapper,
.whats-happening-page h2.rs_read_this,
.community-blog-posts-author-specific .blog-post-content-rs-wrapper,
.about-understood-rs-wrapper,
.results .dl-quiz-wrapper,
.my-groups-discussion-form,
.profile-wrap .profile-section,
.account-notifications-tab-text-form,
.account-notifications-tab-text,
.article-glossary-rs-wrapper,
.article-assessment-quiz-rs-wrapper,
.article-knowledge-quiz-rs-wrapper,
.article-basic-rs-wrapper,
.about-the-author-rs-wrapper,
.article-basic-rs-wrapper .about-the-author,
.l-page-not-found-promos,
.l-sign-up-recommended h2.rs_read_this,
.try-another-quiz-rs-wrapper,
.article-checklist-rs-wrapper,
.article-landing-rs-wrapper,
.take-action h2.rs_read_this,
.recommendations-usage,
.myfavorites-list,
.about-donate-rs-wrapper
{
  @include top_rs_btn_responsive(-40px, -40px, -40px);
}

//c3, c22, c27
.events-chat .no-webinars,
.blog-post,
.community-blog-posts-author-specific .blog-post,
.community-blog-posts-author-specific .blog-post-content-rs-wrapper
{
  @include left_rs_btn_responsive(2px, -13px, -20px);
}

//c16, m18, m24, b3, c7

.parent-groups-tool,
.events-tabs-one-rs-wrapper,
.events-tabs-two-rs-wrapper,
.events-tabs-three-rs-wrapper,
.account-mycomments .mycomment-item,
.connections-activity-feed .feed-item,
.comment-wrapper,
.behavior-tip-detail,
.expert-advice-wrapper,
.experts-page.chat.upcoming .events-chat .event-cards .event-card,
.tech-results-wrapper,
.tech-search-results,
.tech-search-results .etabs,
.tech-results-wrapper .etabs,
.landing-notifications.landing-modules,
.article-poll-rs-wrapper,
.about-the-author-rs-wrapper,
.article-basic-rs-wrapper,
.parent-toolkit .tools-container,
.article-slideshow-container,
.infographic,
.behavior-advice-wrapper,
.member-card-container,
.experts-nav-form,
.archive .event-card,
.experts-page .event,
.card-parent-question,
.card-answer,
.options-search,
.featured-group,
.individual-group .discussion-box,
.search-board,
.blog-card
{
  @include left_rs_btn_responsive(-13px, -20px, -20px);
}

//m4a, m10, m1, A10 A11, A12
.forgot-password,
.forgot-password-confirmation,
.reset-password,
.my-groups-discussion-form,
.profile-wrap .profile-section,
.signup-international,
.myaccount-sign-in, .sign-up,
.member-view-interests,
.member-view-groups,
.children-interests,
.children-groups,
.article-actions-wrapper,
.our-partners-intro
{
  @include left_rs_btn_responsive(-13px, -30px, -30px);
}


//m2c, m9a
.blog-post .blog-post-sidebar,
.terms-container-rs-wrapper,
.account-notifications-tab-text-form,
.account-notifications-tab-text,
.partner-copy,
.about-understood-video-rs-wrapper,
.page-topic.support .title-wrapper
{
  @include left_rs_btn_responsive(-13px, -40px, -40px);
}


.experts-page.chat.past h2.rs_read_this,
.experts-page.chat.upcoming h2.rs_read_this,
.experts-page.webinar.past h2.rs_read_this,
.experts-page.webinar.upcoming h2.rs_read_this {
  @include top_rs_btn_responsive(-40px, -29px, -29px);
  @include left_rs_btn_responsive_detail(-13px, -13px, -35px, -35px);
}

//c8
.dl-list-results h2.rs_read_this,
.experts-page .past-chat-rs-wrapper,
.issues-intro h2.rs_read_this,
{
  @include top_rs_btn_responsive(-40px, -40px, -35px);
}

//g2, A1
.listing,
.article-basic-rs-wrapper .about-the-author,
.dl-quiz-wrapper,
.recommendations-usage
{
  @include left_rs_btn_responsive(-13px, 0px, 0px);
}

//g3
.article-listing-container,
.mini-tool,
.behavior-tool,
.article-tips-container,
.l-about-experts-intro-carousel .about-experts-event-carousel
{
  @include left_rs_btn_responsive(-13px, -13px, -13px);
}


.review-intro,
.toolkit-thumbnails-container .thumbnail,
.comment-gallery-rs-wrapper,
.search-tool-layout-wrapper.at2-wrapper,
.events-chat .no-webinars,
.discussion-box,
.article-listing-container .skiplink-sidebar,
.community-blog-posts-author-specific .blog-post,
.partner-logo,
.toolkit-thumbnails-container .thumbnail,
.take-action-rs-wrapper,
.article-poll-rs-wrapper
{
  @include top_rs_btn_responsive_detail(-20px, -20px, -20px, -20px);
}

//m1, ab9a, c5
.myaccount-sign-in,
.sign-up,
.groups-heading.rs_read_this,
.social-wrap,
.page-topic.support .title-wrapper
{
  @include top_rs_btn_responsive(-30px, -30px, -30px);
}


//at2a, c20, g5, at1a, a5, a7
.community-q-a-details-answers .card-answer,
.group-summary.rs_read_this,
.groups-heading.rs_read_this,
.discussion-box,
.article-listing-container .skiplink-sidebar,
.tech-results-wrapper,
.tech-search-results,
.tech-search-results .etabs,
.tech-results-wrapper .etabs,
.article-intro-text,
.parents-are-saying-heading-rs-wrapper
{
  @include left_rs_btn_responsive(-13px, 0px, -20px);
}

//c2a, c16, c2b
.suggest-webinar-form,
.parent-groups-recommended-rs-wrapper,
.parent-groups.recommended .groups-heading
{
  @include top_rs_btn_responsive(12px, 12px, 12px);
}

.group-summary.rs_read_this,
.groups-heading.rs_read_this,
.featured-group.group-summary.rs_read_this  {
  @include top_rs_btn_responsive(-20px, -16px, -16px);
}

//ab7b, dl landing
.featured-group.group-summary.rs_read_this,
.personalize-interests-rs-wrapper,
.itemize-child-rs-wrapper,
.dl-list-results .results-wrapper,
.recos-promo-rs-wrapper
{
  @include left_rs_btn_responsive(2px, -20px, -20px);
}

.dl-list-results .results-wrapper
{
  @include top_rs_btn_responsive(0, -20px, -20px);
}

//m2d a7 m11 ab3
.signup-international,
.article-intro-rs-wrapper,
.account-mygroups,
.our-partners-intro,
.partner-copy
{
  @include top_rs_btn_responsive(-40px, -30px, -30px);
}


//ad2, c8
.experts-page.chat.past .live-chat header,
.registration-profile.about-child,
.advocacy-article-rs-wrapper
{
  @include top_rs_btn_responsive_detail(-40px, -37px, -37px, -37px);
}


//c28, ab9a, dl-quiz
header.about-donate-rs-wrapper,
.advocacy-pagetopic.take-action-rs-wrapper h1.rs_read_this,
.dl-quiz-wrapper,
.blog-author-posts h2.rs_read_this,
.pay-by-check.about-donate-rs-wrapper,
.pay-by-credit.about-donate-rs-wrapper,
.form-group-rs-wrapper
{
  @include top_rs_btn_responsive(-35px, -35px, -35px);
}

//c16, profile questions header
.profile-questions h2,
.profile-questions-header .progress-bar-wrapper,
.individual-group,
.blog-post-list-sidebar
{
  @include top_rs_btn_responsive(-36px, -36px, -36px);
}

//ab2a, footer
.blog-post-list-sidebar,
.about-understood-video-rs-wrapper,
.more-to-explore-container
{
  @include top_rs_btn_responsive(-37px, -37px, -37px);
}

//ab2a, a7, m16
.listing-content,
.transcript-wrap,
.myfavorites-list,
.account-mygroups,
.email-sign-up-rs-wrapper,
.partners-list-rs-wrapper,
.skiplink-sidebar,
.article .skiplink-sidebar,
.advocacy-article-rs-wrapper
{
  @include left_rs_btn_responsive(-13px, -35px, -35px);
}

//ab9a, a11, a12
.article-rs-wrapper
.pay-by-check.about-donate-rs-wrapper,
.pay-by-credit.about-donate-rs-wrapper,
.form-group-rs-wrapper {
  @include top_rs_btn_responsive(-34px, -34px, -34px);
}
.rs-slides-container .slide {
  @include top_rs_btn_responsive_detail(1px, 6px, 25px, 1px);
  @include left_rs_btn_responsive(0px, 0px, 0px);
}
