.player-container {
  position: relative;
  padding-bottom: 45px;
}

// FIXME DP-JH-ASCX: VideoArticle line 8
.container.article {
  .player-container {
    .player {
      margin-left: 4.16666666667%;
    }
  }
}
// END FIXME