/*
 * Purple: 7A4182
 * Blue: 298FC2
 */
/* line 5, ../../../css.source/simulations/dyslexia/game.scss */
#gameboard.dyslexia_game {
  font-size: 24px;
  font-weight: bold;
}

/* line 9, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #gameboard {
  font-size: 18px;
}

/* line 12, ../../../css.source/simulations/dyslexia/game.scss */
#gameboard.dyslexia_game .SSGame_modal_standalone_decoration {
  background-image: url('../../../images/simulations/dyslexia/desktop/standalone_icon.png?2e3a67f0');
}

/* line 16, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_swaps_ctr {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7A4182;
}

/* line 22, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_swaps_ctr {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 28, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_swaps {
  color: #FFF;
  line-height: 30px;
  margin: 25px 40px;
  min-width: 175px;
}

/* line 34, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_swaps {
  line-height: 21px;
  margin: 10px 15px;
  min-width: 0px;
}

/* line 39, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_swaps .rule {
  padding: 0 10px 0 0;
}

/* line 42, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_sentence {
  position: absolute;
  top: 130px;
  width: 96%;
  padding: 0 2%;
  text-align: left;
}

/* line 49, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_sentence {
  top: 80px;
  width: 100%;
  padding: 0;
}

/* line 54, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_sentence .word {
  display: inline-block;
  white-space: nowrap;
  margin: 15px 10px;
}

/* line 59, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_sentence .word {
  margin: 5px 10px;
}

/* line 62, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_sentence .punctuation {
  font-size: 42px;
  color: #7A4182;
}

/* line 66, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_sentence .punctuation {
  font-size: 30px;
}

/* line 69, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_sentence .letter {
  cursor: pointer;
  display: inline-block;
  min-width: 38px;
  max-width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 42px;
  text-align: center;
  margin: 0 5px;
}

/* line 80, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_sentence .letter {
  min-width: 30px;
  max-width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  margin: 0 2px;
}

/* line 94, ../../../css.source/simulations/dyslexia/game.scss */
#dyslexia_score {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* line 100, ../../../css.source/simulations/dyslexia/game.scss */
.breakpoint_phone #dyslexia_score {
  top: 18px;
  left: 20px;
  bottom: auto;
  text-align: left;
}

/* line 107, ../../../css.source/simulations/dyslexia/game.scss */
.thumbsup {
  width: 52px;
  height: 52px;
  background: url('../../../images/simulations/dyslexia/desktop/thumbs_up.png?49b2c7f4') no-repeat;
}

/* line 112, ../../../css.source/simulations/dyslexia/game.scss */
.thumbsdown {
  width: 52px;
  height: 52px;
  background: url('../../../images/simulations/dyslexia/desktop/thumbs_down.png?6a32bab0') no-repeat;
}

/* line 119, ../../../css.source/simulations/dyslexia/game.scss */
#gameboard.breakpoint_phone .response {
  margin: 0 3px;
}
