/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid {
  position: absolute;
  top: 104px;
  left: 308px;
  width: 334px;
  height: 334px;
  padding: 2px;
  background-color: #D3D3D3;
}

/* line 10, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_tablet #attention_grid {
  top: 49px;
  left: 200px;
}

/* line 14, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid {
  top: 13px;
  left: 22px;
  width: 278px;
  height: 278px;
  padding: 1px;
}

/* line 21, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel {
  float: left;
  width: 108px;
  height: 108px;
  margin: 1px;
  background-color: white;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 30, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel {
  width: 90px;
  height: 90px;
}

/* line 34, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_monkey {
  background-image: url("../../../images/simulations/attention/desktop/monkey_bg.png");
}

/* line 37, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_elephant {
  background-image: url("../../../images/simulations/attention/desktop/elephant_bg.png");
}

/* line 40, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_shark {
  background-image: url("../../../images/simulations/attention/desktop/shark_bg.png");
}

/* line 43, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_rhino {
  background-image: url("../../../images/simulations/attention/desktop/rhino_bg.png");
}

/* line 46, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_bird {
  background-image: url("../../../images/simulations/attention/desktop/bird_bg.png");
}

/* line 49, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_snake {
  background-image: url("../../../images/simulations/attention/desktop/snake_bg.png");
}

/* line 52, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_kangaroo {
  background-image: url("../../../images/simulations/attention/desktop/kangaroo_bg.png");
}

/* line 55, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_octopus {
  background-image: url("../../../images/simulations/attention/desktop/octopus_bg.png");
}

/* line 58, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_grid .panel_camel {
  background-image: url("../../../images/simulations/attention/desktop/camel_bg.png");
}

/* line 61, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_monkey {
  background-image: url("../../../images/simulations/attention/phone/monkey_bg.png");
}

/* line 64, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_elephant {
  background-image: url("../../../images/simulations/attention/phone/elephant_bg.png");
}

/* line 67, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_shark {
  background-image: url("../../../images/simulations/attention/phone/shark_bg.png");
}

/* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_rhino {
  background-image: url("../../../images/simulations/attention/phone/rhino_bg.png");
}

/* line 73, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_bird {
  background-image: url("../../../images/simulations/attention/phone/bird_bg.png");
}

/* line 76, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_snake {
  background-image: url("../../../images/simulations/attention/phone/snake_bg.png");
}

/* line 79, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_kangaroo {
  background-image: url("../../../images/simulations/attention/phone/kangaroo_bg.png");
}

/* line 82, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_octopus {
  background-image: url("../../../images/simulations/attention/phone/octopus_bg.png");
}

/* line 85, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_grid .panel_camel {
  background-image: url("../../../images/simulations/attention/phone/camel_bg.png");
}

/* line 89, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_pieces1, #attention_pieces2 {
  position: absolute;
  width: 270px;
  height: 100%;
}

/* line 94, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_tablet #attention_pieces1, .breakpoint_tablet #attention_pieces2 {
  width: 200px;
}

/* line 97, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_pieces1 {
  top: 0px;
  left: 0px;
}

/* line 101, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_pieces1 {
  top: auto;
  bottom: 0px;
  left: 22px;
  width: 275px;
  height: 120px;
}

/* line 108, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
#attention_pieces2 {
  top: 0;
  right: 0;
}

/* line 112, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone #attention_pieces2 {
  display: none;
}

/* line 116, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece {
  position: relative;
  width: 108px;
  height: 108px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 1px solid #D3D3D3;
  cursor: pointer;
}

/* line 125, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece {
  width: 50px;
  height: 50px;
}

/* line 130, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece.over_grid,
.breakpoint_phone.attention_game .piece.ui-draggable-dragging {
  width: 90px;
  height: 90px;
  background-size: 100%;
}

/* line 135, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_monkey {
  background-image: url("../../../images/simulations/attention/desktop/monkey.png");
}

/* line 138, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_elephant {
  background-image: url("../../../images/simulations/attention/desktop/elephant.png");
}

/* line 141, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_shark {
  background-image: url("../../../images/simulations/attention/desktop/shark.png");
}

/* line 144, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_rhino {
  background-image: url("../../../images/simulations/attention/desktop/rhino.png");
}

/* line 147, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_bird {
  background-image: url("../../../images/simulations/attention/desktop/bird.png");
}

/* line 150, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_snake {
  background-image: url("../../../images/simulations/attention/desktop/snake.png");
}

/* line 153, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_kangaroo {
  background-image: url("../../../images/simulations/attention/desktop/kangaroo.png");
}

/* line 156, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_octopus {
  background-image: url("../../../images/simulations/attention/desktop/octopus.png");
}

/* line 159, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_camel {
  background-image: url("../../../images/simulations/attention/desktop/camel.png");
}

/* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_monkey.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/monkey_back.png");
}

/* line 165, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_elephant.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/elephant_back.png");
}

/* line 168, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_shark.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/shark_back.png");
}

/* line 171, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_rhino.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/rhino_back.png");
}

/* line 174, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_bird.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/bird_back.png");
}

/* line 177, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_snake.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/snake_back.png");
}

/* line 180, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_kangaroo.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/kangaroo_back.png");
}

/* line 183, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_octopus.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/octopus_back.png");
}

/* line 186, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.attention_game .piece_camel.back_visible {
  background-image: url("../../../images/simulations/attention/desktop/camel_back.png");
}

/* line 190, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_monkey {
  background-image: url("../../../images/simulations/attention/phone/monkey.png");
}

/* line 193, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_elephant {
  background-image: url("../../../images/simulations/attention/phone/elephant.png");
}

/* line 196, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_shark {
  background-image: url("../../../images/simulations/attention/phone/shark.png");
}

/* line 199, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_rhino {
  background-image: url("../../../images/simulations/attention/phone/rhino.png");
}

/* line 202, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_bird {
  background-image: url("../../../images/simulations/attention/phone/bird.png");
}

/* line 205, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_snake {
  background-image: url("../../../images/simulations/attention/phone/snake.png");
}

/* line 208, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_kangaroo {
  background-image: url("../../../images/simulations/attention/phone/kangaroo.png");
}

/* line 211, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_octopus {
  background-image: url("../../../images/simulations/attention/phone/octopus.png");
}

/* line 214, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_camel {
  background-image: url("../../../images/simulations/attention/phone/camel.png");
}

/* line 217, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_monkey.back_visible {
  background-image: url("../../../images/simulations/attention/phone/monkey_back.png");
}

/* line 220, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_elephant.back_visible {
  background-image: url("../../../images/simulations/attention/phone/elephant_back.png");
}

/* line 223, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_shark.back_visible {
  background-image: url("../../../images/simulations/attention/phone/shark_back.png");
}

/* line 226, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_rhino.back_visible {
  background-image: url("../../../images/simulations/attention/phone/rhino_back.png");
}

/* line 229, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_bird.back_visible {
  background-image: url("../../../images/simulations/attention/phone/bird_back.png");
}

/* line 232, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_snake.back_visible {
  background-image: url("../../../images/simulations/attention/phone/snake_back.png");
}

/* line 235, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_kangaroo.back_visible {
  background-image: url("../../../images/simulations/attention/phone/kangaroo_back.png");
}

/* line 238, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_octopus.back_visible {
  background-image: url("../../../images/simulations/attention/phone/octopus_back.png");
}

/* line 241, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.breakpoint_phone.attention_game .piece_camel.back_visible {
  background-image: url("../../../images/simulations/attention/phone/camel_back.png");
}

/* line 244, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/attention/game.scss */
.piece.ui-draggable-dragging {
  -moz-box-shadow: 0 0 5px 5px #D3D3D3;
  -webkit-box-shadow: 0 0 5px 5px #D3D3D3;
  box-shadow: 0 0 5px 5px #D3D3D3;
}
