.article {
  h2 {
    font-weight: normal;
    color: #7a4183;
    margin-bottom: 12px;
  }

  p {
    font-family: arial, sans-serif;
    color: #696969;
    @include rem(font-size, 16px);
    @include rem(line-height, 27px);
    font-weight: normal;
    margin-bottom: 2em;
    @include bp($bp-small-plus) {
      @include rem(font-size, 15px);
      @include rem(line-height, 26px);
    }
  }
}

.article-copy {
  ul {
    list-style: disc;
    margin: 0 0 30px 30px;
    padding: 0;
  }

  li {
    color: #696969;
    @include rem(font-size, 16px);
    font-family: arial, sans-serif;
    line-height: 1.2rem;
    position: relative;
    margin-top: 12px;
    padding: 0px 0 0 0px;

    @include bp($bp-small-plus) {
      @include rem(font-size, 15px);
    }

    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
}