.article {
  h2 {
    font-weight: normal;
    color: #7a4183;
    margin-bottom: 12px;
  }

  p {
    font-family: arial, sans-serif;
    color: #696969;
    @include rem(font-size, 16px);
    @include rem(line-height, 27px);
    font-weight: normal;
    margin-bottom: 2em;
    @include bp($bp-small-plus) {
      @include rem(font-size, 15px);
      @include rem(line-height, 26px);
    }
  }
}

.article-copy {
  ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
  }

  li {
    color: #696969;
    @include rem(font-size, 15px);
    @include rem(line-height, 23px);
    position: relative;
    border-top: 1px solid #e8e8e8;
    margin-top: 12px;
    padding: 12px 0 0 20px;

    @include bp($bp-medium) {
      @include rem(font-size, 15px);
      @include rem(line-height, 23px);
    }

    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

    &:before {
      font-family: Circular, arial, sans-serif;
      content: "• ";
      color: #426da9;
      @include rem(font-size, 13px);
      position: absolute;
      left: 0;
    }
  }
}