<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 
  <!-- Auth Only Databases -->
  <add name="master" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;Database=UnderstoodAUTHSitecore_Master"/>
  <add name="preview" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;Database=UnderstoodAUTHSitecore_Preview"/>

 <!-- Shared Databases -->
  <add name="core" connectionString="user id=Understood_org;password=YXjezZAbwK;Data Source=204.232.148.71;Database=UnderstoodPROD_Sitecore_Core"/>
  <add name="web" connectionString="user id=Understood_org;password=YXjezZAbwK;Data Source=204.232.148.71;Database=UnderstoodPROD_Sitecore_Web"/>
  <add name="membership" connectionString="user id=Understood_org;password=YXjezZAbwK;Data Source=204.232.148.71;Database=UnderstoodPROD_Sitecore_Membership" />
  
  <!-- TODO -->
  <add name="analytics" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;;Database=UnderstoodQASitecore_Analytics" />

</connectionStrings>