<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 
  <add name="core" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;Database=UnderstoodQASitecore_Core"/>
  <add name="master" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;Database=UnderstoodQASitecore_Master"/>
  <add name="web" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;Database=UnderstoodQASitecore_Web"/>
  <add name="membership" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;;Database=UnderstoodQASitecore_Membership" />
  <add name="analytics" connectionString="user id=UnderstoodAUTH;password=5ueKTXXk;Data Source=192.168.200.70;;Database=UnderstoodQASitecore_Analytics" />
</connectionStrings>