body {
	background-color: #e9e9e9;
	font-size: 8pt;
	font-family: tahoma, verdana, sans-serif;
	}
.header { 
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9;
	height: 63px;
	line-height: 63px;
	padding: 0px 0px 0px 32px;
	font-weight: bold;
	background-image: url('../images/utility/box.png');
	background-repeat: no-repeat;
	background-position: 98%;
	}
.content {
	padding: 32px 16px 32px 32px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e0e0e0;
	min-height: 200px;
	}
	.content .message {
		font-weight: bold;
		margin: 20px 0 10px;
		text-align: center;
		}
	.content label.block {
		display: block;
		margin: 0px 0px 5px 0px;
		}
	.content .field {
		margin: 0px 0px 10px 0px
		}
	.content .scrollable {
		overflow: scroll;
		overflow-x:hidden;
		overflow-y:auto;
		height: 300px;
		padding: 8px;
		margin-left: -9px;
		border: 1px inset #ccc;
		background-color: #fff;
		}
.actions {
	border-top: 1px solid #fff;
	padding: 10px;
	text-align: right;
	}
	.actions input {
		float: right;
		margin-left: 10px;
		}
	.actions a {
    	float: left;
    	margin-left: 20px;
		}
		
/* content manager overrides */
.scEditorSectionCaptionExpanded, .scEditorSectionCaptionCollapsed {
	border-top: 0px;
	border-bottom: 0px;
	background: transparent;
	}
.scEditorSectionPanel {
	background: transparent;
	}
.scEditorSections {
	border-bottom: 0px;
	}
.scEditorSectionPanelCell {
	padding: 6px 4px 4px 0px;
	}
.scEditorFieldLabel {
	font-weight: normal;
	color: 000;
	}
.scEditorFieldMarkerBarCell {
	display: none;
	}
.scEditorFieldMarkerInputCell {
	padding: 0px 0px 0px 0px;
	}
.scEditorSectionCaptionExpanded, .scEditorSectionCaptionCollapsed {
	color: #000;
	}
.scEditorFieldMarker {
	margin: 0px 0px 16px 0px;
	}