/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#gameboard.executive_game {
  font-size: 24px;
  font-weight: bold;
  background-color: #FAFAFA;
}

/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #gameboard {
  font-size: 18px;
}

/* line 10, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board {
  position: absolute;
  top: 105px;
  width: 666px;
  overflow: hidden;
  z-index: 1;
}

/* line 17, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_desktop #executive_board {
  left: 145px;
  height: 380px;
}

/* line 21, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_tablet #executive_board {
  left: 34px;
  height: 286px;
}

/* line 25, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_board {
  top: 70px;
  left: 10px;
  height: 324px;
  width: 320px;
}

/* line 32, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_game_prompt {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  position: absolute;
  width: 500px;
  height: 200px;
  top: 20px;
  left: 83px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

/* line 45, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_tablet .executive_game_prompt {
  top: 10px;
}

/* line 48, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone .executive_game_prompt {
  width: 250px;
  left: 25px;
}

/* line 52, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_game_prompt h3 {
  font-weight: normal;
  font-size: .75em;
  color: #666;
  margin-bottom: 10px;
}

/* line 58, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_game_prompt p {
  font-size: 1.25em;
  color: #63428e;
}

/* line 64, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .channel {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 352px;
  z-index: 3;
  overflow: hidden;
}

/* line 72, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_tablet #executive_board .channel {
  height: 258px;
}

/* line 75, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_board .channel {
  width: 50px;
  height: 300px;
}

/* line 79, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .channel > div {
  position: absolute;
  margin: 0 7px;
  width: 100px;
  background-color: white;
  height: 100%;
  border: 3px solid #FFF;
  overflow: hidden;
}

/* line 88, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_board .channel > div {
  margin: 0 5px;
  width: 40px;
}

/* line 92, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .channel > div:hover {
  border-color: #EAEAEA;
}

/* line 96, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .channel.targetted > div,
#executive_board .channel.targetted > div:hover {
  border-color: #298FC2;
}

/* line 99, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .channel .feedback {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #63428e;
  font-size: 1.25em;
}

/* line 107, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap {
  position: absolute;
  bottom: 0px;
  width: 116px;
  height: 32px;
  background-color: blue;
  z-index: 5;
  cursor: pointer;
  background: url("../../../images/simulations/executive/desktop/paddle_purple.png") no-repeat 0 -4px;
}

/* line 117, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_trap {
  width: 60px;
  height: 27px;
  background: url("../../../images/simulations/executive/phone/paddle_purple.png") no-repeat 0 -4px;
}

/* line 122, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap_rear {
  position: absolute;
  bottom: 32px;
  width: 116px;
  height: 5px;
  z-index: 2;
  background: url("../../../images/simulations/executive/desktop/paddle_purple.png") no-repeat 0 0;
}

/* line 130, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_trap_rear {
  bottom: 25px;
  background: url("../../../images/simulations/executive/phone/paddle_purple.png") no-repeat 0 0;
}

/* line 135, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap .bg_green,
#executive_trap_rear .bg_red, #executive_trap_rear .bg_green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

/* line 143, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap .bg_green {
  background-position: 0 -4px;
}

/* line 146, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap_rear .bg_red, #executive_trap_rear .bg_green {
  background-position: 0 0;
}

/* line 149, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap_rear .bg_red {
  background-image: url("../../../images/simulations/executive/desktop/paddle_red.png");
}

/* line 152, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_trap .bg_green, #executive_trap_rear .bg_green {
  background-image: url("../../../images/simulations/executive/desktop/paddle_green.png");
}

/* line 155, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_trap .bg_red, .breakpoint_phone #executive_trap_rear .bg_red {
  background-image: url("../../../images/simulations/executive/phone/paddle_red.png");
}

/* line 158, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_trap .bg_green, .breakpoint_phone #executive_trap_rear .bg_green {
  background-image: url("../../../images/simulations/executive/phone/paddle_green.png");
}

/* line 162, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .ball {
  position: absolute;
  z-index: 4;
  left: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/* line 170, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_board .executive_star {
  left: 19px;
}

/* line 173, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_board .ball {
  left: 5px;
}

/* line 176, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_board .executive_star {
  left: 2px;
}

/* line 179, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_circle {
  background-image: url("../../../images/simulations/executive/desktop/executive_circles.png");
}

/* line 182, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone .executive_circle {
  background-image: url("../../../images/simulations/executive/phone/executive_circles.png");
}

/* line 185, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_square {
  background-image: url("../../../images/simulations/executive/desktop/executive_squares.png");
}

/* line 188, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone .executive_square {
  background-image: url("../../../images/simulations/executive/phone/executive_squares.png");
}

/* line 191, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_star {
  background-image: url("../../../images/simulations/executive/desktop/executive_stars.png");
}

/* line 194, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone .executive_star {
  background-image: url("../../../images/simulations/executive/phone/executive_stars.png");
}

/* line 197, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.executive_triangle {
  background-image: url("../../../images/simulations/executive/desktop/executive_triangles.png");
}

/* line 200, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone .executive_triangle {
  background-image: url("../../../images/simulations/executive/phone/executive_triangles.png");
}

/* line 204, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
#executive_score {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 1.25em;
}

/* line 210, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/executive/game.scss */
.breakpoint_phone #executive_score {
  top: 25px;
  left: 15px;
  font-size: 1em;
}
