/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#gameboard.dysgraphia_game {
  font-size: 24px;
  background-color: #f3f1f1;
}

/* line 5, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
.breakpoint_phone #gameboard {
  font-size: 18px;
}

/* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#gameboard.dysgraphia_game .SSGame_modal_standalone_decoration {
  background-image: url("../../../images/simulations/dysgraphia/desktop/standalone_icon.png");
}

/* line 12, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#dysgraphia_challenge {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
}

/* line 18, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#dysgraphia_prompt {
  margin: 0 50px;
  color: #288dc0;
  font-size: 42px;
  line-height: 60px;
}

/* line 24, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
.breakpoint_phone #dysgraphia_prompt {
  font-size: 20px;
  line-height: 28px;
  margin: 0 10px;
}

/* line 29, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#dysgraphia_input {
  margin: 20px 50px 0;
  font-size: 28px;
  line-height: 36px;
  color: #231f20;
  border: 4px solid #288dc0;
  padding: 10px;
  background-color: #FFF;
}

/* line 38, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
.breakpoint_phone #dysgraphia_input {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 10px 0;
}

/* line 43, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#dysgraphia_challenge textarea {
  font-size: inherit;
  line-height: inherit;
  border-width: 0;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none !important;
  width: 100%;
}

/* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#dysgraphia_score {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* line 60, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
#gameboard.dysgraphia_game #wtfinput_mirror {
  border: 1px solid black;
  background-color: white;
  min-height: 10px;
}

/* Clear the board when the textarea is in focus on phones */
/* line 67, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
.breakpoint_phone.infocus #dysgraphia_score, .breakpoint_phone.infocus #SSGame_timer {
  display: none;
}

/* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dysgraphia/game.scss */
.breakpoint_phone.infocus #dysgraphia_challenge {
  top: 10px;
}
