/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard {
  margin: auto;
  position: relative;
  font-family: "Circular", helvetica, arial, sans-serif;
  cursor: default;
}

/* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog {
  border-width: 2px;
  border-color: #248abf;
  padding: 30px;
}

/* line 14, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .response {
  display: inline-block;
  background: url("../../../images/simulations/common/desktop/answer.png") no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 6px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #278DC1;
  font-weight: bold;
}

/* line 27, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .response.correct {
  background-image: url("../../../images/simulations/common/desktop/answer_correct.png");
  color: white;
}

/* line 31, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .response.incorrect {
  background-image: url("../../../images/simulations/common/desktop/answer_wrong.png");
  color: white;
}

/* line 36, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog {
  border-width: 0;
  padding: 0;
  /* From Tyce's modals */
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  z-index: 101;
}

/* line 44, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog-titlebar {
  display: none;
}

/* line 47, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .SSGame_modal_title {
  color: #7A4182;
  margin: 5px 0 30px 0;
  font-size: 32px;
  font-weight: bold;
}

/* line 53, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard.breakpoint_phone .SSGame_modal_title {
  font-size: 24px;
}

/* line 56, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog-content {
  text-align: center;
  color: #248abf;
  margin-top: 10px;
  font-family: "Circular", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #666;
}

/* line 65, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard.breakpoint_phone .ui-dialog-content {
  font-size: 18px;
}

/* line 68, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog-content p {
  margin: 5px 0;
}

/* line 71, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog-content p:first-child {
  margin-top: 0px;
}

/* line 74, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog-content p:last-child {
  margin-bottom: 0px;
}

/* line 77, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane {
  border-width: 0;
  text-align: center;
  padding: 0.5em 1em;
  /* To match the content settings since we stopped floating */
  margin-top: 0;
  /* nah. */
  margin-bottom: 10px;
}

/* line 84, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

/* line 87, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
  background-image: none;
  background-color: #f0ae29;
  font-weight: bold;
  width: 190px;
  height: 50px;
  line-height: 50px;
  border-width: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #000;
  font-weight: bold;
  font-family: "Circular", helvetica, arial, sans-serif;
  font-size: 18px;
}

/* line 103, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard.breakpoint_phone {
  font-size: 16px;
}

/* line 106, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
  background-color: #ffbc0d;
}

/* line 109, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
.SSGameModalMask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* line 113, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#SSGame_timer {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 55px;
  width: 135px;
  line-height: 55px;
  text-align: right;
  color: #FFF;
  background: url("../../../images/simulations/common/desktop/clock.png") no-repeat;
  font-weight: bold;
}

/* line 125, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
.breakpoint_phone #SSGame_timer {
  background-image: url("../../../images/simulations/common/phone/clock.png");
  top: 15px;
  right: 15px;
  width: 100px;
  height: 38px;
  line-height: 38px;
}

/* line 133, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#SSGame_timer div {
  padding: 0 10px;
  margin-top: -2px;
}

/* line 137, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
.breakpoint_phone #SSGame_timer div {
  padding: 0 5px;
  margin-top: 0px;
  font-size: 16px;
}

/* line 142, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#SSGame_timer span {
  display: inline-block;
  width: .75em;
  text-align: center;
}

/* line 147, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/common/common.scss */
#SSGame_timer span:nth-child(2) {
  width: auto;
}
