/* line 1, ../../../css.source/simulations/common/common.scss */
#gameboard {
  margin: auto;
  position: relative;
  font-family: "Circular", helvetica, arial, sans-serif;
  cursor: default;
}

/* line 8, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog {
  border-width: 2px;
  border-color: #248abf;
  padding: 30px;
}

/* line 14, ../../../css.source/simulations/common/common.scss */
#gameboard .response {
  display: inline-block;
  background: url('../../../images/simulations/common/desktop/answer.png?1398292479') no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 6px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #278DC1;
  font-weight: bold;
}

/* line 27, ../../../css.source/simulations/common/common.scss */
#gameboard .response.correct {
  background-image: url('../../../images/simulations/common/desktop/answer_correct.png?1398292479');
  color: white;
}

/* line 31, ../../../css.source/simulations/common/common.scss */
#gameboard .response.incorrect {
  background-image: url('../../../images/simulations/common/desktop/answer_wrong.png?1398292479');
  color: white;
}

/* line 36, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog {
  border-width: 0;
  padding: 0;
  /* From Tyce's modals */
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 0 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  z-index: 101;
}

/* line 44, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog-titlebar {
  display: none;
}

/* line 47, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog-content {
  color: #248abf;
  margin-top: 10px;
  font-family: "Circular", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #666;
}

/* line 55, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone .ui-dialog-content {
  font-size: 18px;
}

/* line 58, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_title, #gameboard .SSGame_modal_standalone_title {
  margin: 5px 0 30px 0;
}

/* line 61, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_title {
  color: #7A4182;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* line 67, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone .SSGame_modal_game_title {
  font-size: 24px;
}

/* line 70, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_standalone_title {
  font-size: 24px;
  text-align: left;
  line-height: 1.25em;
}

/* line 75, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone .SSGame_modal_standalone_title {
  font-size: 18px;
}

/* line 78, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone .SSGame_modal_standalone_title {
  margin-bottom: 15px;
}

/* line 81, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_standalone_title b {
  color: #7A4182;
  font-weight: bold;
  display: block;
}

/* line 86, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_standalone_decoration {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  float: left;
  background-repeat: no-repeat;
}

/* line 93, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone .SSGame_modal_standalone_decoration {
  margin-right: 20px;
}

/* line 96, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_text, #gameboard .SSGame_modal_standalone_text {
  clear: both;
}

/* line 99, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_text p, #gameboard .SSGame_modal_standalone_text p {
  margin: 5px 0;
}

/* line 102, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_text p:first-child, #gameboard .SSGame_modal_standalone_text p:first-child {
  margin-top: 0px;
}

/* line 105, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_text p:last-child, #gameboard .SSGame_modal_standalone_text p:last-child {
  margin-bottom: 0px;
}

/* line 108, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_game_text {
  text-align: center;
}

/* line 111, ../../../css.source/simulations/common/common.scss */
#gameboard .SSGame_modal_standalone_text {
  font-size: 16px;
  line-height: 1.25em;
}

/* line 116, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane {
  border-width: 0;
  text-align: center;
  padding: 0.5em 1em;
  /* To match the content settings since we stopped floating */
  margin-top: 0;
  /* nah. */
  margin-bottom: 10px;
}

/* line 123, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

/* line 126, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
  background-image: none;
  background-color: #f0ae29;
  font-weight: bold;
  width: 190px;
  height: 50px;
  line-height: 50px;
  border-width: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #000;
  font-weight: bold;
  font-family: "Circular", helvetica, arial, sans-serif;
  font-size: 18px;
}

/* line 142, ../../../css.source/simulations/common/common.scss */
#gameboard.breakpoint_phone {
  font-size: 16px;
}

/* line 145, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
  background-color: #ffbc0d;
}

/* line 148, ../../../css.source/simulations/common/common.scss */
#gameboard .ui-dialog-buttonset > a {
  display: inline-block;
  font-size: 18px;
  width: 190px;
}

/* line 153, ../../../css.source/simulations/common/common.scss */
.SSGameModalMask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* line 157, ../../../css.source/simulations/common/common.scss */
#SSGame_timer {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 55px;
  width: 135px;
  line-height: 55px;
  text-align: right;
  color: #FFF;
  background: url('../../../images/simulations/common/desktop/clock.png?1398292479') no-repeat;
  font-weight: bold;
}

/* line 169, ../../../css.source/simulations/common/common.scss */
.breakpoint_phone #SSGame_timer {
  background-image: url('../../../images/simulations/common/phone/clock.png?1398292479');
  top: 15px;
  right: 15px;
  width: 100px;
  height: 38px;
  line-height: 38px;
}

/* line 177, ../../../css.source/simulations/common/common.scss */
#SSGame_timer div {
  padding: 0 10px;
  margin-top: -2px;
  font-size: 28px;
  font-weight: normal;
}

/* line 183, ../../../css.source/simulations/common/common.scss */
.breakpoint_phone #SSGame_timer div {
  padding: 0 5px;
  margin-top: 0px;
  font-size: 21px;
}

/* line 188, ../../../css.source/simulations/common/common.scss */
#SSGame_timer span {
  display: inline-block;
  width: .75em;
  text-align: center;
}

/* line 193, ../../../css.source/simulations/common/common.scss */
#SSGame_timer span:nth-child(2) {
  width: auto;
}
