/* line 1, ../../../css.source/simulations/executive/game.scss */
#gameboard.executive_game {
  font-weight: bold;
  background-color: #FAFAFA;
}

/* line 5, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #gameboard {
  font-size: 18px;
}

/* line 8, ../../../css.source/simulations/executive/game.scss */
#gameboard.executive_game .SSGame_modal_standalone_decoration {
  background-image: url('../../../images/simulations/executive/desktop/standalone_icon.png?1a3a7b4a');
}

/* line 12, ../../../css.source/simulations/executive/game.scss */
#executive_board {
  position: absolute;
  top: 105px;
  width: 666px;
  overflow: hidden;
  z-index: 1;
}

/* line 19, ../../../css.source/simulations/executive/game.scss */
.breakpoint_desktop #executive_board {
  left: 145px;
  height: 380px;
}

/* line 23, ../../../css.source/simulations/executive/game.scss */
.breakpoint_tablet #executive_board {
  left: 34px;
  height: 286px;
}

/* line 27, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_board {
  top: 70px;
  left: 10px;
  height: 324px;
  width: 320px;
}

/* line 34, ../../../css.source/simulations/executive/game.scss */
.executive_game_prompt {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  position: absolute;
  width: 500px;
  height: 200px;
  top: 20px;
  left: 83px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

/* line 47, ../../../css.source/simulations/executive/game.scss */
.breakpoint_tablet .executive_game_prompt {
  top: 10px;
}

/* line 50, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone .executive_game_prompt {
  width: 250px;
  left: 25px;
}

/* line 54, ../../../css.source/simulations/executive/game.scss */
.executive_game_prompt h3 {
  font-weight: normal;
  font-size: .75em;
  color: #666;
  margin-bottom: 10px;
}

/* line 60, ../../../css.source/simulations/executive/game.scss */
.executive_game_prompt p {
  font-size: 1.25em;
  color: #63428e;
}

/* line 66, ../../../css.source/simulations/executive/game.scss */
#executive_board .channel {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 352px;
  z-index: 3;
  overflow: hidden;
  cursor: pointer;
}

/* line 75, ../../../css.source/simulations/executive/game.scss */
.breakpoint_tablet #executive_board .channel {
  height: 258px;
}

/* line 78, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_board .channel {
  width: 50px;
  height: 300px;
}

/* line 82, ../../../css.source/simulations/executive/game.scss */
#executive_board .channel > div {
  position: absolute;
  margin: 0 7px;
  width: 100px;
  background-color: white;
  height: 100%;
  border: 3px solid #FFF;
  overflow: hidden;
}

/* line 91, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_board .channel > div {
  margin: 0 5px;
  width: 40px;
}

/* line 95, ../../../css.source/simulations/executive/game.scss */
#executive_board .channel > div:hover {
  border-color: #EAEAEA;
}

/* line 99, ../../../css.source/simulations/executive/game.scss */
#executive_board .channel.targetted > div,
#executive_board .channel.targetted > div:hover {
  border-color: #298FC2;
}

/* line 102, ../../../css.source/simulations/executive/game.scss */
#executive_board .channel .feedback {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #63428e;
  font-size: 1.25em;
}

/* line 110, ../../../css.source/simulations/executive/game.scss */
#executive_trap {
  position: absolute;
  bottom: 0px;
  width: 116px;
  height: 32px;
  background-color: blue;
  z-index: 5;
  cursor: pointer;
  background: url('../../../images/simulations/executive/desktop/paddle_purple.png?6ffa5032') no-repeat 0 -4px;
}

/* line 120, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_trap {
  width: 60px;
  height: 27px;
  background: url('../../../images/simulations/executive/phone/paddle_purple.png?60810b3e') no-repeat 0 -4px;
}

/* line 125, ../../../css.source/simulations/executive/game.scss */
#executive_trap_rear {
  position: absolute;
  bottom: 32px;
  width: 116px;
  height: 5px;
  z-index: 2;
  background: url('../../../images/simulations/executive/desktop/paddle_purple.png?6ffa5032') no-repeat 0 0;
}

/* line 133, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_trap_rear {
  bottom: 25px;
  background: url('../../../images/simulations/executive/phone/paddle_purple.png?60810b3e') no-repeat 0 0;
}

/* line 138, ../../../css.source/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap .bg_green,
#executive_trap_rear .bg_red, #executive_trap_rear .bg_green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

/* line 146, ../../../css.source/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap .bg_green {
  background-position: 0 -4px;
}

/* line 149, ../../../css.source/simulations/executive/game.scss */
#executive_trap_rear .bg_red, #executive_trap_rear .bg_green {
  background-position: 0 0;
}

/* line 152, ../../../css.source/simulations/executive/game.scss */
#executive_trap .bg_red, #executive_trap_rear .bg_red {
  background-image: url('../../../images/simulations/executive/desktop/paddle_red.png?9c8d95b8');
}

/* line 155, ../../../css.source/simulations/executive/game.scss */
#executive_trap .bg_green, #executive_trap_rear .bg_green {
  background-image: url('../../../images/simulations/executive/desktop/paddle_green.png?02311853');
}

/* line 158, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_trap .bg_red, .breakpoint_phone #executive_trap_rear .bg_red {
  background-image: url('../../../images/simulations/executive/phone/paddle_red.png?477c6bc2');
}

/* line 161, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_trap .bg_green, .breakpoint_phone #executive_trap_rear .bg_green {
  background-image: url('../../../images/simulations/executive/phone/paddle_green.png?f46ddde1');
}

/* line 165, ../../../css.source/simulations/executive/game.scss */
#executive_board .ball {
  position: absolute;
  z-index: 4;
  left: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/* line 173, ../../../css.source/simulations/executive/game.scss */
#executive_board .executive_star {
  left: 19px;
}

/* line 176, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_board .ball {
  left: 5px;
}

/* line 179, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_board .executive_star {
  left: 2px;
}

/* line 182, ../../../css.source/simulations/executive/game.scss */
.executive_circle {
  background-image: url('../../../images/simulations/executive/desktop/executive_circles.png?e95d3b45');
}

/* line 185, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone .executive_circle {
  background-image: url('../../../images/simulations/executive/phone/executive_circles.png?285fcf46');
}

/* line 188, ../../../css.source/simulations/executive/game.scss */
.executive_square {
  background-image: url('../../../images/simulations/executive/desktop/executive_squares.png?2fcdff55');
}

/* line 191, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone .executive_square {
  background-image: url('../../../images/simulations/executive/phone/executive_squares.png?337a89c2');
}

/* line 194, ../../../css.source/simulations/executive/game.scss */
.executive_star {
  background-image: url('../../../images/simulations/executive/desktop/executive_stars.png?5b7f3989');
}

/* line 197, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone .executive_star {
  background-image: url('../../../images/simulations/executive/phone/executive_stars.png?6f3912a6');
}

/* line 200, ../../../css.source/simulations/executive/game.scss */
.executive_triangle {
  background-image: url('../../../images/simulations/executive/desktop/executive_triangles.png?574970e3');
}

/* line 203, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone .executive_triangle {
  background-image: url('../../../images/simulations/executive/phone/executive_triangles.png?51569fab');
}

/* line 207, ../../../css.source/simulations/executive/game.scss */
#executive_score {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 1.25em;
}

/* line 213, ../../../css.source/simulations/executive/game.scss */
.breakpoint_phone #executive_score {
  top: 25px;
  left: 15px;
  font-size: 1em;
}
