<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:Brightcove" type="Sitecore.MediaFramework.Commands.ImportContent,Sitecore.MediaFramework"/>
      <command name="mediaFramework:ManualCleanup:Brightcove" type="Sitecore.MediaFramework.Commands.CleanupContent,Sitecore.MediaFramework"/>
    </commands>

    <mediaFramework>
      <synchronizers>
        <add name="brightcove_tag" 
             entity="Sitecore.MediaFramework.Brightcove.Entities.Tag, Sitecore.MediaFramework.Brightcove" 
             templateId="{1F5CF62D-DEDC-4712-A8B6-CCC36E27A3F8}"
             type="Sitecore.MediaFramework.Brightcove.Synchronize.TagSynchronizer, Sitecore.MediaFramework.Brightcove">
          <entityCreator type="Sitecore.MediaFramework.Brightcove.Synchronize.EntityCreators.TagEntityCreator, Sitecore.MediaFramework.Brightcove"/>
          <databaseFallback type="Sitecore.MediaFramework.Brightcove.Synchronize.Fallback.TagFallback, Sitecore.MediaFramework.Brightcove"/>
        </add>
        <add name="brightcove_video" 
             entity="Sitecore.MediaFramework.Brightcove.Entities.Video, Sitecore.MediaFramework.Brightcove" 
             templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}"
             type="Sitecore.MediaFramework.Brightcove.Synchronize.VideoSynchronizer, Sitecore.MediaFramework.Brightcove">
          <entityCreator type="Sitecore.MediaFramework.Brightcove.Synchronize.EntityCreators.VideoEntityCreator, Sitecore.MediaFramework.Brightcove"/>
          <databaseFallback type="Sitecore.MediaFramework.Brightcove.Synchronize.Fallback.VideoFallback, Sitecore.MediaFramework.Brightcove"/>
          <references hint="raw:AddReference">
            <tags type="Sitecore.MediaFramework.Brightcove.Synchronize.References.VideoTagsSynchronizer, Sitecore.MediaFramework.Brightcove">
              <field>{23250E7A-1548-4D0E-8870-957535235EE4}</field>
            </tags>
          </references>
        </add>
        <add name="brightcove_playlist" 
             entity="Sitecore.MediaFramework.Brightcove.Entities.PlayList, Sitecore.MediaFramework.Brightcove" 
             templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}"
             type="Sitecore.MediaFramework.Brightcove.Synchronize.PlayListSynchronizer, Sitecore.MediaFramework.Brightcove">
          <entityCreator type="Sitecore.MediaFramework.Brightcove.Synchronize.EntityCreators.PlayListEntityCreator, Sitecore.MediaFramework.Brightcove"/>
          <databaseFallback type="Sitecore.MediaFramework.Brightcove.Synchronize.Fallback.PlayListFallback, Sitecore.MediaFramework.Brightcove"/>
          <references hint="raw:AddReference">
            <filterTags type="Sitecore.MediaFramework.Brightcove.Synchronize.References.PlaylistFilterTagsSynchronizer, Sitecore.MediaFramework.Brightcove">
              <field>{C2B3AEB0-5CA9-4E2B-A75C-D9E5261BA0C1}</field>
            </filterTags>
            <videos type="Sitecore.MediaFramework.Brightcove.Synchronize.References.PlaylistVideoSynchronizer, Sitecore.MediaFramework.Brightcove">
              <field>{1526509E-D99A-48FB-8CCA-246B388B83FB}</field>
            </videos>
          </references>
        </add>

        <add name="brightcove_player_fake"
             entity="Sitecore.MediaFramework.Brightcove.Entities.Player, Sitecore.MediaFramework.Brightcove"
             templateId="{DE0F5BB5-1D51-41B2-BA4D-2C176C904BF3}"
             type="Sitecore.MediaFramework.Brightcove.Synchronize.FakePlayerSynchronizer, Sitecore.MediaFramework.Brightcove"/>
      </synchronizers>

      <mediaImport>
        <importExecuters>
          <add name="import_brightcove_tags" type="Sitecore.MediaFramework.Brightcove.Import.TagCollectionImporter, Sitecore.MediaFramework.Brightcove"/>
          <add name="import_brightcove_videos" type="Sitecore.MediaFramework.Brightcove.Import.VideoCollectionImporter, Sitecore.MediaFramework.Brightcove"/>
          <add name="import_brightcove_playlists" type="Sitecore.MediaFramework.Brightcove.Import.PlayListCollectionImporter, Sitecore.MediaFramework.Brightcove"/>
        </importExecuters>
      </mediaImport>

      <mediaExport>
        <exportExecuters>
          <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Sitecore.MediaFramework.Brightcove.Export.PlaylistExporter, Sitecore.MediaFramework.Brightcove">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='brightcove_playlist'][1]"/>
          </add>
          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Brightcove.Export.VideoExporterWithInactivate, Sitecore.MediaFramework.Brightcove">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='brightcove_video'][1]"/>
          </add>
          <!--
            If you want to remove video instead of inactivate:

          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Brightcove.Export.VideoExporterWithDelete, Sitecore.MediaFramework.Brightcove">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='brightcove_video'][1]"/>
            <deleteParams>cascade=true|delete_shares=true</deleteParams>
          </video>
          -->
        </exportExecuters>
        <uploadExecuters>
          <add name="brightcove_video" accountTemplate="{C657F8EF-4916-447F-9255-483ED2EEC562}" type="Sitecore.MediaFramework.Brightcove.Upload.VideoUploader, Sitecore.MediaFramework.Brightcove">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='brightcove_video'][1]"/>
            <Extensions>mp4,m4v,avi,mkv,flv,mov,wmv,mpeg</Extensions>
          </add>
        </uploadExecuters>
      </mediaExport>

      <mediaCleanup>
        <cleanupExecuters>
          <add name="cleanup_brightcove_videos" type="Sitecore.MediaFramework.Brightcove.Cleanup.VideoCleanupExecuter, Sitecore.MediaFramework.Brightcove">
            <importName>import_brightcove_videos</importName>
            <templates hint="list:AddTemplate">
              <id>{6A5C6835-6E11-4602-A11D-B626E9255397}</id>
            </templates>
          </add>
          <add name="cleanup_brightcove_playlists" type="Sitecore.MediaFramework.Brightcove.Cleanup.PlaylistCleanupExecuter, Sitecore.MediaFramework.Brightcove">
            <importName>import_brightcove_playlists</importName>
            <templates hint="list:AddTemplate">
              <id>{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}</id>
            </templates>
          </add>
        </cleanupExecuters>
        <cleanupLinks>
          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
        </cleanupLinks>
      </mediaCleanup>
      
      <playerMarkupGenerators>
        <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Sitecore.MediaFramework.Brightcove">
          <scriptUrl>/presentation/includes/js/brightcove/BrightcoveExperiences.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="isVid" value="true"/>
            <param name="isUI" value="true"/>
            <param name="dynamicStreaming" value="true"/>
            <param name="includeAPI" value="true"/>
            <param name="htmlFallback" value="true"/>
            <param name="templateReadyHandler" value="brightcoveListener.onTemplateReady"/>
          </parameters>
        </add>
        <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Sitecore.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Sitecore.MediaFramework.Brightcove">
          <scriptUrl>/presentation/includes/js/brightcove/BrightcoveExperiences.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="isVid" value="true"/>
            <param name="isUI" value="true"/>
            <param name="dynamicStreaming" value="true"/>
            <param name="includeAPI" value="true"/>
            <param name="htmlFallback" value="true"/>
            <param name="templateReadyHandler" value="brightcoveListener.onTemplateReady"/>
          </parameters>
        </add>
      </playerMarkupGenerators>

      <scopeExecuteConfigurations>
        <add name="import_brightcove_videos" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
          </scope>
        </add>
        
        <add name="import_brightcove_playlists" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
            <name>import_brightcove_playlists</name>
          </scope>
        </add>
        
        <add name="import_brightcove_tags" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
          </scope>
        </add>

        <add name="import_brightcove_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
            <name>import_brightcove_playlists</name>
          </scope>
        </add>

        <add name="cleanup_brightcove_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>cleanup_brightcove_videos</name>
            <name>cleanup_brightcove_playlists</name>
          </scope>
        </add>

      </scopeExecuteConfigurations>
      <playerEventsTriggers>
        <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Sitecore.MediaFramework.Brightcove">
          <scriptUrl>/presentation/includes/js/brightcove/BrightcoveExperiences.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="isVid" value="true"/>
            <param name="isUI" value="true"/>
            <param name="dynamicStreaming" value="true"/>
            <param name="includeAPI" value="true"/>
            <param name="htmlFallback" value="true"/>
            <param name="templateReadyHandler" value="brightcoveListener.onTemplateReady"/>
          </parameters>
        </add>
        <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Sitecore.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Sitecore.MediaFramework.Brightcove">
          <scriptUrl>/presentation/includes/js/brightcove/BrightcoveExperiences.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="isVid" value="true"/>
            <param name="isUI" value="true"/>
            <param name="dynamicStreaming" value="true"/>
            <param name="includeAPI" value="true"/>
            <param name="htmlFallback" value="true"/>
            <param name="templateReadyHandler" value="brightcoveListener.onTemplateReady"/>
          </parameters>
        </add>
      </playerEventsTriggers>
    </mediaFramework>
    
    <scheduling>
      <agent name="MediaFramework_Import_Brightcove" type="Sitecore.MediaFramework.Schedulers.ImportScheduler, Sitecore.MediaFramework" interval="04:00:00">
        <param desc="database">master</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='import_brightcove_content'][1]"/>
        </scopeConfigurations>
      </agent>

      <agent name="MediaFramework_Cleanup_Brightcove" type="Sitecore.MediaFramework.Schedulers.CleanupScheduler, Sitecore.MediaFramework" interval="08:00:00">
        <param desc="database">master</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='cleanup_brightcove_content'][1]"/>
        </scopeConfigurations>
      </agent>
    </scheduling> 
  </sitecore>
</configuration>