<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 
  <add name="core" connectionString="user id=UnderstoodPROD;password=5ueKTXXk;Data Source=192.168.200.71;Database=UnderstoodPROD_Sitecore_Core"/>
  <add name="master" connectionString="user id=UnderstoodPROD;password=5ueKTXXk;Data Source=192.168.200.71;Database=UnderstoodPROD_Sitecore_Master"/>
  <add name="web" connectionString="user id=UnderstoodPROD;password=5ueKTXXk;Data Source=192.168.200.71;Database=UnderstoodPROD_Sitecore_Web"/>
  <add name="membership" connectionString="user id=UnderstoodPROD;password=5ueKTXXk;Data Source=192.168.200.71;;Database=UnderstoodPROD_Sitecore_Membership" />
  <!--<add name="analytics" connectionString="user id=UnderstoodPROD;password=5ueKTXXk;Data Source=192.168.200.70;;Database=UnderstoodPROD_Sitecore_Analytics" />-->
</connectionStrings>