<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  
  <add name="core" connectionString="user id=understood_org;password=dahyeSDf;Data Source=162.209.22.3;Database=Understood.org.DEV.Core" />
  <add name="master" connectionString="user id=understood_org;password=dahyeSDf;Data Source=162.209.22.3;Database=Understood.org.DEV.Master" />
  <add name="web" connectionString="user id=understood_org;password=dahyeSDf;Data Source=162.209.22.3;Database=Understood.org.DEV.Web" />
  <add name="analytics" connectionString="user id=understood_org;password=dahyeSDf;Data Source=162.209.22.3;Database=Understood.org.DEV.Analytics" />

</connectionStrings>