<?xml version="1.0" encoding="utf-8"?>
<!--
    This file should be installed to the root of your Telligent Evolution website.
    
    An override file allows you to modify the contents of a configuration file in a
    seperate file.  This means that if a new version of Telligent Evolution includes
    a new version of the configuration file, all changes you made will not be lost
    as they are made via a seperate file, which does not get replaced in an upgrade.
    Override files are supported for
      * communitysever.config (override file: communitysever_override.config)
      * siteurls.config (override file: siteurls_override.config)

    For further documentation on override files, visit 
    http://telligent.com/support/telligent_evolution_platform/w/documentation/override-files.aspx
-->
<Overrides>

    <!-- UNDERSTOOD.ORG (QA) Setting -->
    <!-- Modify the url of the search server -->
    <Override xpath="/CommunityServer/Search/Solr"  
              mode="change"  
              name="host"  
              value="http://localhost:8080/Solr/"  
              />

</Overrides>
