/* line 1, ../../../css.source/simulations/dyscalculia/game.scss */
#gameboard.dyscalculia_game .SSGame_modal_standalone_decoration {
  background-image: url('../../../images/simulations/dyscalculia/desktop/standalone_icon.png?346a5af4');
}

/* line 5, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_key {
  position: absolute;
  top: 0;
  left: 0;
  width: 405px;
  height: 130px;
  background-color: #7a4183;
  color: white;
}

/* line 14, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key {
  width: 315px;
}

/* line 17, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key {
  top: auto;
  bottom: 0px;
  height: 60px;
  width: 320px;
}

/* line 23, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_key h2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 30px;
  width: 100px;
}

/* line 31, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key h2 {
  margin-left: 5px;
  width: 60px;
}

/* line 35, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key h2 {
  display: none;
}

/* line 38, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_key .coin {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  width: 65px;
  background-position: center;
}

/* line 45, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key .coin {
  width: 60px;
}

/* line 48, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .coin {
  margin-top: 8px;
  width: 77px;
}

/* line 52, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_key .coin div {
  float: left;
  margin-top: 65px;
  text-align: center;
  font-size: 22px;
  width: 100%;
}

/* line 59, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .coin div {
  float: none;
  margin-top: 14px;
  font-size: 16px;
  width: 30px;
  margin-left: 47px;
}

/* line 66, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .penny {
  background-position: 14px center;
}

/* line 69, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .nickel {
  background-position: 10px center;
}

/* line 72, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .dime {
  background-position: 14px center;
}

/* line 75, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .quarter {
  background-position: 10px center;
}

/* line 78, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_coins {
  position: absolute;
  top: 131px;
  left: 0;
  width: 405px;
  height: 350px;
  /* Can prob. go a little higher */
  overflow: hidden;
}

/* line 86, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_coins {
  height: 250px;
  width: 315px;
}

/* line 90, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_coins {
  width: 100%;
  height: 125px;
  /* Technically should be 135, but we cheat down a little to accommodate coin scatter */
  top: auto;
  bottom: 60px;
}

/* line 96, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_score {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* line 102, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_score {
  width: 325px;
}

/* line 105, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_score {
  display: none;
}

/* line 108, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_counter {
  position: absolute;
  top: 0;
  left: 406px;
  width: 320px;
  height: 534px;
  background-color: #F6F6F6;
  color: #D2D2D2;
}

/* line 117, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_counter {
  left: 315px;
  width: 230px;
  height: 432px;
}

/* line 122, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter {
  top: 105px;
  left: 0;
  width: 100%;
  height: 120px;
}

/* line 128, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_counter_copy {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  text-align: center;
}

/* line 135, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_counter_copy {
  top: 150px;
}

/* line 138, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter_copy {
  top: 40px;
  left: 0px;
  width: 200px;
}

/* line 143, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_counter_copy h2 {
  font-size: 50px;
  font-weight: bold;
}

/* line 147, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_counter_copy h2 {
  font-size: 42px;
}

/* line 150, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter_copy h2 {
  font-size: 24px;
}

/* line 153, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_counter_copy p {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

/* line 158, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter_copy p {
  font-size: 18px;
}

/* line 161, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter_copy p {
  font-size: 14px;
  margin-top: 5px;
}

/* line 165, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_coins_selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
}

/* line 172, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_coins_selected {
  height: 320px;
}

/* line 175, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_coins_selected {
  width: 200px;
  height: 100%;
}

/* line 181, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_tally {
  position: absolute;
  bottom: 106px;
  left: 93px;
}

/* line 186, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_tally {
  bottom: 53px;
  left: 48px;
}

/* line 190, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_tally {
  top: 43px;
  left: auto;
  right: 20px;
  width: 90px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
  padding: 0;
}

/* line 200, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_store {
  position: absolute;
  background-color: #426da9;
  top: 0;
  right: 0;
  width: 223px;
  height: 534px;
  background-position: 40px 30px;
  overflow: hidden;
}

/* line 211, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_store {
  width: 183px;
  height: 432px;
  background-position: 10px 20px;
}

/* line 216, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_store {
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
}

/* line 222, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer {
  top: 20px;
  right: 30px;
  width: 145px;
  background-image: url('../../../images/simulations/dyscalculia/desktop/clock_clear.png?c15e538e');
}

/* line 228, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game.breakpoint_tablet #SSGame_timer {
  top: 10px;
  right: 20px;
}

/* line 232, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game.breakpoint_phone #SSGame_timer {
  top: 10px;
  right: 15px;
  width: 115px;
  background-image: url('../../../images/simulations/dyscalculia/phone/clock_clear.png?5633d801');
}

/* line 238, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer .timer {
  position: absolute;
  left: 50px;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}

/* line 245, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet.dyscalculia_game #SSGame_timer .timer {
  top: 0;
  left: 50px;
}

/* line 249, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game #SSGame_timer .timer {
  font-size: 24px;
  left: 40px;
}

/* line 253, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer .timer span {
  width: 0.65em;
}

/* line 256, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer span:nth-child(2) {
  width: auto;
}

/* line 259, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item {
  position: absolute;
  top: 110px;
  width: 100%;
}

/* line 264, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item {
  top: 60px;
}

/* line 267, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 105px;
}

/* line 273, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .item {
  text-align: center;
}

/* line 276, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_picture {
  height: 205px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 282, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .item_picture {
  height: 65px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 289, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_name,
#dyscalculia_item .item_value {
  margin: 0;
  padding: 0;
  line-height: auto;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

/* line 299, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .item_name,
.breakpoint_phone #dyscalculia_item .item_value {
  display: inline;
  padding: 5px;
  font-size: 16px;
}

/* line 304, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_name {
  margin-top: 20px;
}

/* line 307, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .item_name {
  margin-top: 10px;
}

/* line 310, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_value {
  margin-top: 3px;
}

/* line 313, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .icecream .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/icecream.png?79302285');
}

/* line 316, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .icecream .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/icecream.png?949ad7e5');
}

/* line 319, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .apple .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/apple.png?aea9bbb3');
}

/* line 322, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .apple .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/apple.png?11e0a16c');
}

/* line 325, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .banana .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/banana.png?4624802a');
}

/* line 328, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .banana .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/banana.png?3afd7531');
}

/* line 331, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .cherry .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/cherries.png?66f17464');
}

/* line 334, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .cherry .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/cherry.png?f4c0031c');
}

/* line 337, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .milk .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/milk.png?b5c3d400');
}

/* line 340, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .milk .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/milk.png?7881c28b');
}

/* line 343, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .pretzel .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/desktop/pretzel.png?681d7dcb');
}

/* line 346, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .pretzel .item_picture {
  background-image: url('../../../images/simulations/dyscalculia/phone/pretzel.png?eb716974');
}

/* line 349, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybuttontarget {
  margin-top: 40px;
  width: 100%;
  height: 1px;
}

/* line 354, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .paybuttontarget {
  margin-top: 10px;
}

/* line 358, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybutton,
#dyscalculia_item .feedback {
  margin-left: 45px;
  width: 145px;
  height: 60px;
}

/* line 364, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .paybutton,
.breakpoint_tablet #dyscalculia_item .feedback {
  margin-left: 35px;
  width: 120px;
}

/* line 369, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .paybutton,
.breakpoint_phone #dyscalculia_item .feedback {
  position: absolute;
  top: 53px;
  right: -120px;
  width: 110px;
  height: 40px;
}

/* line 376, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybutton {
  background-color: #F2AF00;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: black;
}

/* line 383, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .paybutton {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

/* line 388, ../../../css.source/simulations/dyscalculia/game.scss */
#dyscalculia_item .feedback {
  padding-top: 10px;
  font-size: 32px;
  color: white;
}

/* line 393, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .feedback {
  padding-top: 0px;
  font-size: 24px;
}

/* line 398, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game .coin {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 404, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .coin {
  width: 45px;
  height: 45px;
}

/* line 408, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game .penny {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/penny.png?b4ffdd1b');
}

/* line 411, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .penny {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/penny.png?e2c2827e');
}

/* line 414, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game .nickel {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/nickel.png?914fb6d8');
}

/* line 417, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .nickel {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/nickel.png?808a4281');
}

/* line 420, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game .dime {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/dime.png?e1135901');
}

/* line 423, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .dime {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/dime.png?0379adb3');
}

/* line 426, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_game .quarter {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/quarter.png?cc1dea85');
}

/* line 429, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .quarter {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/quarter.png?4f42303a');
}

/* line 433, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 70;
  /* Coins start at 10 and get +1 for each, so this gives us room */
}

/* line 443, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim_phone {
  width: 90px;
  height: 90px;
}

/* line 447, ../../../css.source/simulations/dyscalculia/game.scss */
.quarter_anim {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/quarter_seq.png?586a1ddc');
}

/* line 450, ../../../css.source/simulations/dyscalculia/game.scss */
.dime_anim {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/dime_seq.png?d8e524e5');
}

/* line 453, ../../../css.source/simulations/dyscalculia/game.scss */
.nickel_anim {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/nickel_seq.png?c5dea655');
}

/* line 456, ../../../css.source/simulations/dyscalculia/game.scss */
.penny_anim {
  background-image: url('../../../images/simulations/dyscalculia/desktop/coins/penny_seq.png?18f79cf6');
}

/* line 459, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim_phone.quarter_anim {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/quarter_seq.png?83af94cc');
}

/* line 462, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim_phone.dime_anim {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/dime_seq.png?24ec4481');
}

/* line 465, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim_phone.nickel_anim {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/nickel_seq.png?5b222e34');
}

/* line 468, ../../../css.source/simulations/dyscalculia/game.scss */
.coin_anim_phone.penny_anim {
  background-image: url('../../../images/simulations/dyscalculia/phone/coins/penny_seq.png?cf88ab55');
}

/* line 473, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner {
  background-color: white;
  width: 136px;
  height: 54px;
  border: 2px solid #278DC1;
  color: #278DC1;
  font-size: 28px;
  font-weight: bold;
}

/* line 482, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner {
  width: 90px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
}

/* line 488, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_right {
  color: #8fad15;
}

/* line 491, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_wrong {
  color: red;
}

/* line 494, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner div {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  text-align: center;
}

/* line 501, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner div {
  height: 26px;
  line-height: 26px;
}

/* line 505, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_static {
  width: .5em;
}

/* line 508, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_static {
  width: .5em;
}

/* line 511, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_currency {
  margin-left: 10px;
  width: .75em;
}

/* line 515, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_currency {
  margin-left: 0;
  width: .75em;
}

/* line 519, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_wheel {
  width: .75em;
  overflow: hidden;
}

/* line 523, ../../../css.source/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_wheel {
  width: .75em;
}

/* line 526, ../../../css.source/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(39, 141, 193, 0.75);
}
