/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#gameboard.dyscalculia_game .SSGame_modal_standalone_decoration {
  background-image: url("../../../images/simulations/dyscalculia/desktop/standalone_icon.png");
}

/* line 5, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_key {
  position: absolute;
  top: 0;
  left: 0;
  width: 405px;
  height: 130px;
  background-color: #7a4183;
  color: white;
}

/* line 14, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key {
  width: 315px;
}

/* line 17, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key {
  top: auto;
  bottom: 0px;
  height: 60px;
  width: 320px;
}

/* line 23, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_key h2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 30px;
  width: 100px;
}

/* line 31, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key h2 {
  margin-left: 5px;
  width: 60px;
}

/* line 35, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key h2 {
  display: none;
}

/* line 38, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_key .coin {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  width: 65px;
  background-position: center;
}

/* line 45, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_key .coin {
  width: 60px;
}

/* line 48, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .coin {
  margin-top: 8px;
  width: 77px;
}

/* line 52, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_key .coin div {
  float: left;
  margin-top: 65px;
  text-align: center;
  font-size: 22px;
  width: 100%;
}

/* line 59, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .coin div {
  float: none;
  margin-top: 14px;
  font-size: 16px;
  width: 30px;
  margin-left: 47px;
}

/* line 66, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .penny {
  background-position: 14px center;
}

/* line 69, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .nickel {
  background-position: 10px center;
}

/* line 72, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .dime {
  background-position: 14px center;
}

/* line 75, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_key .quarter {
  background-position: 10px center;
}

/* line 78, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_coins {
  position: absolute;
  top: 131px;
  left: 0;
  width: 405px;
  height: 350px;
  /* Can prob. go a little higher */
  overflow: hidden;
}

/* line 86, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_coins {
  height: 250px;
  width: 315px;
}

/* line 90, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_coins {
  width: 100%;
  height: 125px;
  /* Technically should be 135, but we cheat down a little to accommodate coin scatter */
  top: auto;
  bottom: 60px;
}

/* line 96, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_score {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

/* line 102, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_score {
  width: 325px;
}

/* line 105, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_score {
  display: none;
}

/* line 108, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_counter {
  position: absolute;
  top: 0;
  left: 406px;
  width: 320px;
  height: 534px;
  background-color: #F6F6F6;
  color: #D2D2D2;
}

/* line 117, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_counter {
  left: 315px;
  width: 230px;
  height: 432px;
}

/* line 122, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter {
  top: 105px;
  left: 0;
  width: 100%;
  height: 120px;
}

/* line 128, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_counter h2 {
  position: absolute;
  top: 200px;
  left: 85px;
  width: 150px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/* line 137, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_counter h2 {
  top: 170px;
  left: 40px;
}

/* line 141, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_counter h2 {
  top: 50px;
  left: 40px;
  font-size: 24px;
  text-align: left;
}

/* line 147, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_coins_selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
}

/* line 154, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_coins_selected {
  height: 320px;
}

/* line 157, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_coins_selected {
  width: 200px;
  height: 100%;
}

/* line 163, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_tally {
  position: absolute;
  bottom: 106px;
  left: 93px;
}

/* line 168, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_tally {
  bottom: 53px;
  left: 48px;
}

/* line 172, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_tally {
  top: 43px;
  left: auto;
  right: 20px;
  width: 90px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
  padding: 0;
}

/* line 182, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_store {
  position: absolute;
  background-color: #298FC2;
  top: 0;
  right: 0;
  width: 223px;
  height: 534px;
  background-position: 40px 30px;
  overflow: hidden;
}

/* line 193, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_store {
  width: 183px;
  height: 432px;
  background-position: 10px 20px;
}

/* line 198, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_store {
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
}

/* line 204, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer {
  top: 20px;
  right: 30px;
  width: 145px;
  background-image: url("../../../images/simulations/dyscalculia/desktop/clock_clear.png");
}

/* line 210, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game.breakpoint_tablet #SSGame_timer {
  top: 10px;
  right: 20px;
}

/* line 214, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game.breakpoint_phone #SSGame_timer {
  top: 10px;
  right: 15px;
  width: 115px;
  background-image: url("../../../images/simulations/dyscalculia/phone/clock_clear.png");
}

/* line 220, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer .timer {
  position: absolute;
  left: 50px;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}

/* line 227, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet.dyscalculia_game #SSGame_timer .timer {
  top: 0;
  left: 50px;
}

/* line 231, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game #SSGame_timer .timer {
  font-size: 24px;
  left: 40px;
}

/* line 235, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer .timer span {
  width: 0.65em;
}

/* line 238, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game #SSGame_timer span:nth-child(2) {
  width: auto;
}

/* line 241, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item {
  position: absolute;
  top: 110px;
  width: 100%;
}

/* line 246, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item {
  top: 60px;
}

/* line 249, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 105px;
}

/* line 255, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .item {
  text-align: center;
}

/* line 258, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_picture {
  height: 205px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 264, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .item_picture {
  height: 65px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 271, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_name,
#dyscalculia_item .item_value {
  margin: 0;
  padding: 0;
  line-height: auto;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

/* line 281, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .item_name,
.breakpoint_phone #dyscalculia_item .item_value {
  display: inline;
  padding: 5px;
  font-size: 16px;
}

/* line 286, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_name {
  margin-top: 20px;
}

/* line 289, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .item_name {
  margin-top: 10px;
}

/* line 292, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .item_value {
  margin-top: 3px;
}

/* line 295, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .icecream .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/icecream.png");
}

/* line 298, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .icecream .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/icecream.png");
}

/* line 301, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .apple .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/apple.png");
}

/* line 304, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .apple .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/apple.png");
}

/* line 307, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .banana .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/banana.png");
}

/* line 310, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .banana .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/banana.png");
}

/* line 313, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .cherry .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/cherry.png");
}

/* line 316, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .cherry .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/cherry.png");
}

/* line 319, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .milk .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/milk.png");
}

/* line 322, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .milk .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/milk.png");
}

/* line 325, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .pretzel .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/desktop/pretzel.png");
}

/* line 328, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .pretzel .item_picture {
  background-image: url("../../../images/simulations/dyscalculia/phone/pretzel.png");
}

/* line 331, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybuttontarget {
  margin-top: 40px;
  width: 100%;
  height: 1px;
}

/* line 336, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .paybuttontarget {
  margin-top: 10px;
}

/* line 340, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybutton,
#dyscalculia_item .feedback {
  margin-left: 45px;
  width: 145px;
  height: 60px;
}

/* line 346, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_tablet #dyscalculia_item .paybutton,
.breakpoint_tablet #dyscalculia_item .feedback {
  margin-left: 35px;
  width: 120px;
}

/* line 351, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .paybutton,
.breakpoint_phone #dyscalculia_item .feedback {
  position: absolute;
  top: 53px;
  right: -120px;
  width: 110px;
  height: 40px;
}

/* line 358, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .paybutton {
  background-color: #F2AF00;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: black;
}

/* line 365, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .paybutton {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

/* line 370, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
#dyscalculia_item .feedback {
  padding-top: 10px;
  font-size: 32px;
  color: white;
}

/* line 375, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone #dyscalculia_item .feedback {
  padding-top: 0px;
  font-size: 24px;
}

/* line 380, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game .coin {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 386, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .coin {
  width: 45px;
  height: 45px;
}

/* line 390, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game .penny {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/penny.png");
}

/* line 393, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .penny {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/penny.png");
}

/* line 396, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game .nickel {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/nickel.png");
}

/* line 399, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .nickel {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/nickel.png");
}

/* line 402, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game .dime {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/dime.png");
}

/* line 405, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .dime {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/dime.png");
}

/* line 408, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_game .quarter {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/quarter.png");
}

/* line 411, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone.dyscalculia_game .quarter {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/quarter.png");
}

/* line 415, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.coin_anim {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 70;
  /* Coins start at 10 and get +1 for each, so this gives us room */
}

/* line 425, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.quarter_anim {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/quarter_seq.png");
}

/* line 428, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dime_anim {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/dime_seq.png");
}

/* line 431, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.nickel_anim {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/nickel_seq.png");
}

/* line 434, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.penny_anim {
  background-image: url("../../../images/simulations/dyscalculia/desktop/coins/penny_seq.png");
}

/* line 437, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .quarter_anim {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/quarter_seq.png");
}

/* line 440, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dime_anim {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/dime_seq.png");
}

/* line 443, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .nickel_anim {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/nickel_seq.png");
}

/* line 446, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .penny_anim {
  background-image: url("../../../images/simulations/dyscalculia/phone/coins/penny_seq.png");
}

/* line 451, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner {
  background-color: white;
  width: 136px;
  height: 54px;
  border: 2px solid #278DC1;
  color: #278DC1;
  font-size: 28px;
  font-weight: bold;
}

/* line 460, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner {
  width: 90px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
}

/* line 466, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_right {
  color: #8fad15;
}

/* line 469, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_wrong {
  color: red;
}

/* line 472, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner div {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  text-align: center;
}

/* line 479, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner div {
  height: 26px;
  line-height: 26px;
}

/* line 483, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_static {
  width: .5em;
}

/* line 486, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_static {
  width: .5em;
}

/* line 489, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_currency {
  margin-left: 10px;
  width: .75em;
}

/* line 493, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_currency {
  margin-left: 0;
  width: .75em;
}

/* line 497, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_wheel {
  width: .75em;
  overflow: hidden;
}

/* line 501, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.breakpoint_phone .dyscalculia_spinner_wheel {
  width: .75em;
}

/* line 504, /Users/justin/projects.dp/poses/source/Presentation/includes/css/simulations/dyscalculia/game.scss */
.dyscalculia_spinner_mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(39, 141, 193, 0.75);
}
