/**
* SASS partial for account landing global notifiation module.
* This dependent on account-landing.scss
*/
.landing-mygroups.landing-modules{
  border-top-color: #6f5091;
  // This to force the groups module to fit in the grid
  @include bp($bp-small-plus) {
    width: 96%
  }
  @include bp($bp-large) {
    overflow: visible;
    width: 279px;
  }
  h3 {
    @include rem(font-size, 22px);
    @include rem(line-height, 30px);
  }
  .landing-module-count{
    color: #6f5091;
  }
  ul{
    display: table;
    border-collapse: collapse;
  }
  li {
    @include rem(line-height, 18px);
    padding: 0 !important;
    height: 78px;
    overflow: hidden;
    display: table-row;
    a{
      display: table-cell;
      vertical-align: middle;
    }
  }
}