/**
* SASS partial for account landing global notifiation module.
* This dependent on account-landing.scss
*/
.landing-events.landing-modules{
  border-top-color: #426da9;
  @include bp($bp-small-plus) {
    width: 96%
  }
  @include bp($bp-medium) {
    margin-left: 7px;
  }
  h3 {
    @include rem(font-size, 22px);
    @include rem(line-height, 30px);
  }
  a.event-type{
    color: #7a4183;
    @include rem(font-size, 15px);
    font-weight: bold;
    padding-top:5px;
    display: block;
  }
  ul{
    display: table;
    border-collapse: collapse;
  }
  li {
    @include rem(line-height, 18px);
    padding: 0 !important;
    height: 116px;
    overflow: hidden;
    display: table-row;
  }
  .event-wrap{
    display: table-cell;
    vertical-align: middle;
  }
  .timestamp{
    display: block;
  }
}