.forgot-password-confirmation {
  background: #f4f2f1;
  padding: 60px 15px 145px;
  h1 {
    color: #794382;
    @include rem(font-size, 26px);
    @include rem(line-height, 30px);
    font-weight: normal;
    margin-bottom: 30px;
    @include bp($bp-small-plus) {
      @include rem(font-size, 32px);
      @include rem(line-height, 58px);
    }
  }
  .confirmation-message {
    background: #FFF;
    color: #696969;
    font-family: Arial, sans-serif;
    padding: 30px;
    p:last-child {
      margin: 0;
    }
    .message {
      font-family: Circular, Arial, sans-serif;
      @include rem(font-size, 18px);
      @include rem(line-height, 26px);

      strong {
        word-break: break-all;
        /* email breaks 3 chars in on mobile - forcing it to a new line on smaller displays */
        display: block;

        @include bp($bp-small-plus) {
          display: inline;
        }
      }
    }
  }
  a {
    color: #426da9;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}