// This inherets properties from my-groups-subheader
.my-account-subheader.saved-subheader{
  padding: 16px 13px 15px;
  @include bp($bp-small-plus) {
    padding: 44px 13px 30px;
  }
  h1{
    margin-bottom: 7px;
    @include bp($bp-small-plus) {
      margin-bottom: 10px;
    }
  }
}
