.reset-password {
  background: #f4f2f1;
  padding: 60px 15px;
  text-align: center;

  h1 {
    color: #794382;
    @include rem(font-size, 26px);
    @include rem(line-height, 30px);
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
    @include bp($bp-small-plus) {
      @include rem(font-size, 32px);
      @include rem(line-height, 58px);
    }
  }

  p {
    color: #696969;
    @include rem(font-size, 18px);
    margin-bottom: 25px;
    text-align: left;
  }

  input {
    margin-bottom: 30px;
  }

  .button {
    @include bp($bp-medium) {
      display: block;
      margin: 0 auto;
      max-width: 150px;
    }
  } //button
} //reset-password
