<?xml version="1.0" encoding="utf-8"?>
<!-- UNDERSTOOD.ORG (DEV) Setting -->
<connectionStrings>
  <add name="SiteSqlServer" connectionString="server=dev01.rax.agencyoasis.com;uid=understood_community;pwd=g7HSbjYY;database=UnderstoodDEV_Telligent" />
  <!-- <add name="SiteSqlServer" connectionString="server=(local);uid=telligent;pwd=telligent;database=Telligent" /> -->
</connectionStrings>