.recos-ask-parents {
  position: relative;
  background: #f4f2f1;  
  margin: 0;
  padding: 0 15px; 

  @include bp($bp-small-plus){
    padding: 0 20px; 
  }

  > .row {
    padding: 25px 0 80px;

    @include bp($bp-small-plus){
      padding-bottom: 25px;
    }

    @include bp($bp-small-plus){
      padding: 45px 0 0;
    }
  }

  .rsContent {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {

        @include bp($bp-small-plus){
          float: left;
          width: 50%;
          padding-bottom: 0;

          &:nth-child(odd) {
            padding-right: 10px;
          }

        }
      }
    }

  }//.rsContent

  .parents-wrapper {
    background: #fff; 
    float: left;
    padding: 25px;
    margin: 0;

    @include bp($bp-small) {
      margin-bottom: 20px;
    }

    @include bp($bp-small-plus) {
      margin: 0;
      padding: 35px 40px;
    }

    .parents-question {

      h3 {
        font-weight: normal;
        color: #7a4183;
        @include rem(font-size, 18px);
        @include rem(line-height, 22px);
        margin-bottom: 10px;

        @include bp($bp-medium){
          @include rem(font-size, 24px);
          @include rem(line-height, 28px);
        }

      }

      p {
        color: #696969;
        @include rem(font-size, 14px);
        @include rem(line-height, 18px);
        margin-bottom: 20px;

        @include bp($bp-medium){
          @include rem(line-height, 24px);
        }

      }

    }

    .toolbar {

      .links {
        margin-bottom: 15px;
        float: left;
      }

      .link {
        @include rem(font-size, 14px);
        border-left: solid 1px #d2d2d2;
        display: inline-block;
        padding-left: 7px;
        margin-left: 4px;
        text-decoration: underline;

        @include bp($bp-medium){
          @include rem(font-size, 16px);
          padding-left: 20px;
          margin-left: 17px;
        }

        &:first-child {
          border-left: none;
          padding-left: 0;
          margin-left: 0;
        }

        &:hover {
          text-decoration: none;
        }

      }//.link

      .children {
        float: right;
      }

    }//.toolbar

  }//.parents-wrapper

  .rsArrowIcn {
    z-index: 2;
    
    @include bp($bp-small-plus){
      top: 0;
      bottom: initial;
    }

  }

  .rsArrowLeft .rsArrowIcn {

    top: auto;
    bottom: 20px;
    right: 50%;
    margin-right: 15px;
       
    @include bp($bp-small-plus){
      margin-right: 0;
      bottom: 26px;
      top: 0;
      right: 54px;
    }

    @include bp($bp-medium) {
      right: 44px;
    }

  }// .rsArrowLeft

  .rsArrowRight .rsArrowIcn {
    top: auto;
    bottom: 20px;
    right: auto;
    left: 50%;
    margin-left: 15px;

    @include bp($bp-small-plus) {
      left: auto;
      margin-left: 0;
      bottom: 26px;
      top: 0;
      right: 0;
    }

  }// .rsArrowRight

  // constrain height IE8
  .rsOverflow {

    @include old-ie {
      height: 300px !important;
    }

  }

  .rsAutoHeight {

    @include old-ie {
      height: 300px !important;
    }

  }

}//.recos-upcoming-events

.child-content-indicator.recos {
  background: #f4f2f1;
  margin: 0 0 45px;
  padding: 0 15px; 

  @include bp($bp-small-plus) {
    margin-bottom: 45px;
    padding: 0 20px 20px;
  }
  
  .col-23.offset-1 {
    width: 100%;
    margin-left: 0;
  }
}// .child-content-indicator.recos
