<!--
This field holds the configuration needed by the custom item generator Sitecore module.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events timingLevel="custom">
    	<!--
      <event name="item:copied">
        <handler type="UnderstoodDotOrg.Framework.EventHandlers,ArticlesAndBlogsHandler" method="OnItemSaved"/>
      </event>
  -->
      <event name="item:saved">
        <handler type="UnderstoodDotOrg.Framework.EventHandlers.ArticlesAndBlogsHandler" method="OnItemSaved"/>
      </event>
      
    </events>

    


  </sitecore>
</configuration>