<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="telligent:build" type="Telligent.Evolution.Extensions.SitecoreConnect.CommunityFromTemplate, Telligent.Evolution.Extensions.SitecoreConnect" />
      <command name="telligent:configure" type="Telligent.Evolution.Extensions.SitecoreConnect.ScriptedContentFragmentCommand, Telligent.Evolution.Extensions.SitecoreConnect"/>
    </commands>
  <pipelines>
    <initialize>
      <processor type="Telligent.Evolution.Extensions.SitecoreConnect.AppInitializeProcessor, Telligent.Evolution.Extensions.SitecoreConnect" />
    </initialize>
    <httpRequestBegin>
      <processor type="Telligent.Evolution.Extensions.SitecoreConnect.IgnoreHandlerProcessor, Telligent.Evolution.Extensions.SitecoreConnect" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']">
        <handlers hint="list:AddHandlers">
          <path>/rsw.ashx</path>
          <path>/sitecore modules/shell/telligent/h/connector.ashx</path>
	      <path>/sitecore modules/shell/telligent/h/oauth.ashx</path>
        </handlers>
      </processor> 
    </httpRequestBegin>
    <insertRenderings>
    <processor type="Telligent.Evolution.Extensions.SitecoreConnect.EvolutionInsertRenderingProcessor, Telligent.Evolution.Extensions.SitecoreConnect" />
   </insertRenderings>
  
  </pipelines>
    <authentication defaultProvider="forms">
      <patch:attribute name="defaultProvider">telligent</patch:attribute>
      <providers>
        <add name="telligent" type="Telligent.Evolution.Extensions.SitecoreConnect.Providers.FormsAuthenticationProvider, Telligent.Evolution.Extensions.SitecoreConnect"/>
      </providers>
    </authentication>
   <TelligentEvolution>
     <extensions>
       <add type=" Telligent.Evolution.Extensions.Extensibility.Version1.SitecoreConnect.SitecoreConfigurationScriptedContentFragmentExtension, Telligent.Evolution.Extensions.SitecoreConnect" />
       <add type=" Telligent.Evolution.Extensions.Extensibility.Version1.SitecoreConnect.OAuthAuthenticationExtension, Telligent.Evolution.Extensions.SitecoreConnect" />
       <add type=" Telligent.Evolution.Extensions.Extensibility.Version1.SitecoreConnect.SitecoreScriptedContentFragmentExtension, Telligent.Evolution.Extensions.SitecoreConnect" />
     </extensions>
     <sites 
		callbackUrl ="~/rsw.ashx"
		communityStartItem="/community" 
		connectorHandlerUrl="~/sitecore%20modules/shell/telligent/h/connector.ashx"
		cookieName="evoUser"
		defaultLanguageKey="en-US" 
		defaultUsername="Anonymous"  
		enableEvolutionUserCreation="true"
		enableEvolutionUserSynchronization="true"
		userSynchronizationCookieName = "EvolutionSync"
		evolutionRootUrl="http://telligent.qa.understood.org/telligent"
		evolutionUserCreationManagementUserName = "admin" 
		generateSitecoreUrls = "false"
		networkDomain=""  
		networkPassword="" 
		networkUsername="" 
		oauthCallbackHandler = "~/sitecore%20modules/shell/telligent/h/oauth.ashx"
		oauthClientId="36a5c9c0-7908-4b51-8aef-79635bf7dbfd"
		oauthSecret="c12423322b2f448e806236d4adffdd03ed02dee685c644809266cf2ec16d921d"
		themeUrl = "/sitecore%20modules/shell/telligent/a/css/screen.css"
		modalThemeUrl = "/sitecore%20modules/shell/telligent/a/css/modal.css"
		useLocalNames ="false"
		userResolver ="Telligent.Evolution.Extensions.Extensibility.Version1.SitecoreConnect.Authentication.SitecoreUserResolver, Telligent.Evolution.Extensions.SitecoreConnect"
		widgetPath ="~/sitecore%20modules/shell/telligent/a/w"
		loginUrl = "~/login.aspx"
		logoutUrl = ""
		defaultReturnUrl="~/"
	   > 
		<site name="website" id="f47afd68520f42f487619623aa2dbf89"  /> 
		<!--Examples of other sites.  Properties from above can be overwritten here.  Site names need to match declared site names exactly-->
		<!--<site name="Site2" id="9361f18cbadf438d8d48c5d4d881f6e6" excludeHeaders="JQueryScript:JQuery,JQueryScript:JQueryEvolution" generateSiteCoreUrls="true" />
		<site name="Site3" id="4dfc56c9d13f4103a2661ac3aae05070" />--> 
	   </sites>

     <communityItems>
		<item pattern="/(?&lt;Group&gt;(\d+))" path="/{Group}" displayName="Group ID" />
		<item pattern="/(?&lt;Group&gt;(\d+))/b" path="/{Group}/b" />
		<item pattern="/(?&lt;Group&gt;(\d+))/b/(?&lt;Blog&gt;([a-z0-9]+))" path="/{Group}/b/{Blog}" displayName="Blog Key" />
		<item pattern="/(?&lt;Group&gt;(\d+))/b/(?&lt;Blog&gt;([a-z0-9]+))/addpost" path="/{Group}/b/{Blog}/addpost" />
		<item pattern="/(?&lt;Group&gt;(\d+))/b/(?&lt;Blog&gt;([a-z0-9]+))/(?&lt;BlogPost&gt;([a-z0-9\-]+))" path="/{Group}/b/{Blog}/{BlogPost}" displayName="Blog Post Name" />
		<item pattern="/(?&lt;Group&gt;(\d+))/b/(?&lt;Blog&gt;([a-z0-9]+))/(?&lt;BlogPost&gt;([a-z0-9\-]+))/editpost" path="/{Group}/b/{Blog}/{BlogPost}/editpost" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f" path="/{Group}/f" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))" path="/{Group}/f/{Forum}" displayName="Forum Id" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/addpost" path="/{Group}/f/{Forum}/addpost" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/t" path="/{Group}/f/{Forum}/t" />		
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/t/(?&lt;ForumThread&gt;(\d+))" path="/{Group}/f/{Forum}/t/{ForumThread}" displayName="Forum Thread" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/t/(?&lt;ForumThread&gt;(\d+))/editpost" path="/{Group}/f/{Forum}/t/{ForumThread}/editpost" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/t/(?&lt;ForumThread&gt;(\d+))/reply" path="/{Group}/f/{Forum}/t/{ForumThread}/reply" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/p" path="/{Group}/f/{Forum}/p" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/p/(?&lt;ForumReply&gt;(\d+))" path="/{Group}/f/{Forum}/p/{ForumReply}" displayName="Forum Reply" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/p/(?&lt;ForumReply&gt;(\d+))/editpost" path="/{Group}/f/{Forum}/p/{ForumReply}/editpost" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/p/(?&lt;ForumReply&gt;(\d+))/reply" path="/{Group}/f/{Forum}/p/{ForumReply}/reply" />
		<item pattern="/(?&lt;Group&gt;(\d+))/f/(?&lt;Forum&gt;(\d+))/p/(?&lt;ForumThread&gt;(\d+))/(?&lt;ForumReply&gt;(\d+))" path="/{Group}/f/{Forum}/p/{ForumThread}/{ForumReply}" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m" path="/{Group}/m" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m/(?&lt;Gallery&gt;([a-z0-9]+))" path="/{Group}/m/{Gallery}" displayName="Gallery Key" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m/(?&lt;Gallery&gt;([a-z0-9]+))/upload" path="/{Group}/m/{Gallery}/upload" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m/(?&lt;Gallery&gt;([a-z0-9]+))/slideshow" path="/{Group}/m/{Gallery}/slideshow" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m/(?&lt;Gallery&gt;([a-z0-9]+))/(?&lt;Media&gt;(\d+))" path="/{Group}/m/{Gallery}/{Media}" displayName="Media Id" />
		<item pattern="/(?&lt;Group&gt;(\d+))/m/(?&lt;Gallery&gt;([a-z0-9]+))/(?&lt;Media&gt;(\d+))/editpost" path="/{Group}/m/{Gallery}/{Media}/editpost"/>
		<item pattern="/members" path="/members" />
		<item pattern="/members/(?&lt;Username&gt;([a-z0-9_]+))" path="/members/{User}" displayName="User ID" />
		<item pattern="/search" path="/search" />
     </communityItems>
    </TelligentEvolution>
  </sitecore>
</configuration>
