/**
 * Include SASS partials for account modules.
 */
/**
 * SASS mixin for cross-platform border-radius.
 */
/**
 * SASS partial for advocacy-signup
 */
/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article {
  margin-bottom: 50px;
}
/* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header {
  margin-bottom: 37px;
}
/* line 10, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header p {
  margin-top: -7px;
}
/* line 13, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-header .share-save-container {
  position: relative;
}
@media (min-width: 960px) {
  /* line 13, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
  .advocacy-article .article-header .share-save-container {
    left: -36px;
  }
}
/* line 20, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout {
  margin-bottom: 45px;
}
/* line 22, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout .article-callout-item {
  margin-bottom: 23px;
}
/* line 24, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-callout .article-callout-item .article-callout-title {
  color: #7a4183;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal;
}
@media (min-width: 650px) {
  /* line 24, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
  .advocacy-article .article-callout .article-callout-item .article-callout-title {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin-bottom: 16px;
  }
}
/* line 37, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article .article-call-to-action {
  margin-bottom: 45px;
}
/* line 40, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-article.scss */
.advocacy-article p {
  color: #696969;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: normal;
}

/**
 * SASS partial for advocacy-pagetopic
 */
/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic {
  min-height: 0px;
  padding: 25px 15px 29px;
}
@media (min-width: 650px) {
  /* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic {
    padding: 40px 0 47px;
  }
}
/* line 13, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic a.back-to-previous {
  height: 25px;
  margin-bottom: 0px;
  top: -7px;
  position: relative;
}
@media (min-width: 650px) {
  /* line 13, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic a.back-to-previous {
    top: -15px;
  }
}
/* line 23, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic h1 {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 36px;
  line-height: 2.25rem;
}
@media (min-width: 650px) {
  /* line 23, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin-top: 0px;
  }
}
/* line 33, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .page-subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}
@media (min-width: 650px) {
  /* line 33, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic .page-subtitle {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: 10px;
  }
}
/* line 44, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic .partner-image img {
  padding-top: 28px;
  max-width: 315px;
  width: 100%;
}
@media (min-width: 650px) {
  /* line 44, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic .partner-image img {
    padding-top: 0;
  }
}
@media (min-width: 650px) {
  /* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic > .row > div:first-child {
    display: table-cell;
    float: none;
  }
}
/* line 60, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
.advocacy-pagetopic > .row > div:last-child {
  display: block;
}
@media (min-width: 650px) {
  /* line 60, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_advocacy-pagetopic.scss */
  .advocacy-pagetopic > .row > div:last-child {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

/* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues {
  margin: 0;
  padding: 0 15px;
}
@media (min-width: 650px) {
  /* line 1, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues {
    margin-bottom: 53px;
  }
}
/* line 7, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues h2 {
  color: #7a4183;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal;
  margin: 0px 20px 22px 0;
}
@media (min-width: 650px) {
  /* line 7, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues h2 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin: 0px 0 44px 0px;
  }
}
@media (min-width: 650px) {
  /* line 20, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues > .row {
    border-bottom: 1px solid #c6c5c5;
  }
}

/* line 28, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-grid,
.l-on-the-issues .issues-intro {
  margin: 0;
}
@media (min-width: 650px) {
  /* line 33, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-column:first-child {
    padding-left: 5px;
  }
}
/* line 39, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-column:last-child .issues-item {
  margin-bottom: 4px;
  min-height: 109px;
  padding-bottom: 0;
}
/* line 46, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item {
  min-height: 117px;
  padding-bottom: 20px;
}
@media (min-width: 650px) {
  /* line 46, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-item {
    min-height: 165px;
    padding-bottom: 10px;
  }
}
/* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item h3 {
  margin: -3px 0 4px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: normal;
}
@media (min-width: 650px) {
  /* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-item h3 {
    margin: -5px 0 8px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
}
@media (min-width: 769px) {
  /* line 54, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-item h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
/* line 72, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-image {
  display: block;
  float: left;
  padding-right: 18px;
  width: 50%;
}
@media (min-width: 480px) {
  /* line 72, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-item .issues-image {
    padding-right: 6%;
  }
}
@media (min-width: 650px) {
  /* line 72, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
  .l-on-the-issues .issues-item .issues-image {
    padding-right: 6%;
    margin-right: 5%;
  }
}
/* line 84, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-image img {
  width: 100%;
}
/* line 88, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_on-the-issues.scss */
.l-on-the-issues .issues-item .issues-title {
  width: 45%;
  padding-left: 0px;
  float: left;
}

/**
 * SASS partial for advocacy take action module.
 */
/* line 5, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.l-take-action {
  margin: 0;
}
@media (min-width: 650px) {
  /* line 8, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .l-take-action > .row {
    border-bottom: 1px solid #c6c5c5;
    margin-bottom: 53px;
  }
}

/* line 16, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action h2 {
  color: #7a4183;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  font-weight: normal;
  margin: 10px 15px 27px;
}
@media (min-width: 480px) {
  /* line 16, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action h2 {
    font-size: 36px;
    font-size: 2.25rem;
    margin: 4px 0px 45px;
  }
}
/* line 27, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item {
  margin-bottom: 26px;
}
@media (min-width: 480px) {
  /* line 27, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item {
    margin-bottom: 28px;
  }
}
/* line 32, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header {
  margin: 0 15px;
}
@media (min-width: 480px) {
  /* line 32, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-header {
    margin: 0;
  }
}
/* line 37, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-image {
  float: left;
  margin: 4px 20px 10px 0px;
  max-width: 290px;
  width: 43%;
}
@media (min-width: 480px) {
  /* line 37, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-header .action-image {
    margin: 4px 5% 20px 1px;
    max-width: 190px;
    width: 30%;
  }
}
/* line 47, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-image img {
  width: 100%;
}
/* line 51, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-description {
  color: #696969;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 18px;
}
@media (min-width: 480px) {
  /* line 51, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-header .action-description {
    margin-bottom: 7px;
    margin-left: 36%;
  }
}
/* line 61, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-header .action-title {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: normal;
}
@media (min-width: 480px) {
  /* line 61, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-header .action-title {
    margin-bottom: 18px;
    margin-left: 36%;
  }
}
/* line 71, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-button-wrap {
  background: #f4f2f1;
  margin-bottom: 15px;
  padding: 13px 0 3px;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 71, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-button-wrap {
    background: #ffffff;
    margin-left: 36%;
    text-align: left;
  }
}
/* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
.take-action .action-item .action-button-wrap button {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  height: 35px;
  margin-right: 5px;
  width: 132px;
}
@media (min-width: 480px) {
  /* line 81, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action.scss */
  .take-action .action-item .action-button-wrap button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 38px;
    line-height: 2.375rem;
    height: 40px;
    width: 103px;
  }
}

/**
 * SASS partial for advocacy-signup
 */
/* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.l-take-action-share {
  margin-bottom: 35px;
}
@media (min-width: 650px) {
  /* line 6, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-share {
    position: relative;
    top: -30px;
  }
}
@media (min-width: 650px) {
  /* line 12, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-share div.share-save-icon {
    width: 200px;
  }
}
@media (min-width: 769px) {
  /* line 12, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-share div.share-save-icon {
    width: 218px;
  }
}
@media (min-width: 960px) {
  /* line 12, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-share div.share-save-icon {
    width: 275px;
  }
}
/* line 22, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.l-take-action-share div.share-save-icon h3 {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}
@media (min-width: 650px) {
  /* line 22, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-share div.share-save-icon h3 {
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
  }
}

/* line 34, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.l-take-action-signup,
.l-take-action-promo {
  clear: both;
  margin-bottom: 35px;
}
@media (min-width: 650px) {
  /* line 34, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .l-take-action-signup,
  .l-take-action-promo {
    margin-bottom: 40px;
  }
}

/* line 41, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.take-action-signup {
  background-color: #f4f2f1;
  margin: 0 15px;
  padding: 35px 21px 30px 25px;
}
@media (min-width: 650px) {
  /* line 41, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .take-action-signup {
    margin: 0;
    padding: 35px 20px 30px 20px;
  }
}
/* line 49, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.take-action-signup h4 {
  color: #7a4183;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 1.75rem;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 56, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.take-action-signup .take-action-input {
  margin-bottom: 10px;
  width: 100%;
}

/* line 62, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.take-action-promo {
  background-color: #f4f2f1;
  margin: 0 15px;
  padding: 10px;
}
@media (min-width: 650px) {
  /* line 62, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
  .take-action-promo {
    margin: 0;
    padding: 0;
  }
}
/* line 70, /Users/justin/projects.dp/poses/source/Presentation/includes/css/modules/advocacy/_take-action-signup.scss */
.take-action-promo img {
  width: 100%;
}
